<h1>AxS - Accuracy x Score</h1>
<p>AxS is a tournament hosted by <a (click)="electronService.openLink('https://osu.ppy.sh/users/2407265')">Wesley</a>,
	<a (click)="electronService.openLink('https://osu.ppy.sh/users/4100941')">Sartan</a> and <a
		(click)="electronService.openLink('https://osu.ppy.sh/users/3790227')">Snowleopard</a> that uses a custom score
	calculation. This area provides a few tools that are aimed towards development purposes for AxS, so most of it can
	be ignored for the normal user.
</p>

<h1>Manual calculation</h1>
<p>As the title already suggests, on the Manual calculation tab you will be able to calculate scores using the AxS
	scoring algorithm.</p>
