<div class="container-fluid">
	<form [formGroup]="form">
		<div class="row">
			<div class="col">
				<h2>Stages</h2>
				<p>Add a stage to the tournament.</p>

				<div class="stage-buttons">
					<button mat-raised-button (click)="addStage()" color="primary">
						<mat-icon>add</mat-icon> add new stage
					</button>

					<button mat-raised-button color="accent" (click)="importWyBinStages()" *ngIf="tournament.hasWyBinConnected()">
						<mat-icon>add</mat-icon> <mat-icon class="sync" [ngClass]="{'rotate': importingFromWyBin == true}">sync</mat-icon> import stages from wyBin
					</button>
				</div>
			</div>
		</div>

		<app-alert alertType="info" *ngIf="tournament.hasWyBinConnected()">
			Make sure that the stage names here are identical to the stage names on wyBin. If they do not match, the scores and such will not automatically be updated when the final result has been sent.
			<br /><br />
			By using the <code>import stages from wyBin</code> button it is guaranteed that the stage names match.
		</app-alert>

		<div class="row">
			<div class="col">
				<div class="all-stages" formArrayName="stages">
					<div class="stage" *ngFor="let stageGroup of stages.controls; let i = index" [formGroupName]="i" [ngStyle]="{'grid-template-columns': tournament.scoreInterfaceIdentifier == CTM_SCORE_IDENTIFIER ? '2fr 1fr 1fr 1fr 50px' : '2fr 1fr 1fr 50px'}">
						<div class="name">
							<mat-form-field class="full-width">
								<mat-label>Stage name</mat-label>

								<input matInput formControlName="name" />

								<mat-error *ngIf="stageGroup.get('name') != null && stageGroup.get('name').errors && (stageGroup.get('name').touched || stageGroup.get('name').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>
						</div>

						<div class="health-start" *ngIf="tournament.scoreInterfaceIdentifier == CTM_SCORE_IDENTIFIER">
							<mat-form-field class="full-width">
								<mat-label>Hitpoints start amount</mat-label>

								<input matInput formControlName="hitpoints" />

								<mat-error *ngIf="stageGroup.get('hitpoints') != null && stageGroup.get('hitpoints').errors && (stageGroup.get('hitpoints').touched || stageGroup.get('hitpoints').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>
						</div>

						<div class="bans">
							<mat-form-field class="full-width">
								<mat-label>Bans</mat-label>

								<input matInput formControlName="bans" />

								<mat-error *ngIf="stageGroup.get('bans') != null && stageGroup.get('bans').errors && (stageGroup.get('bans').touched || stageGroup.get('bans').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>
						</div>

						<div class="bestof">
							<mat-form-field class="full-width">
								<mat-label>Best of</mat-label>
								<mat-select formControlName="bestOf">
									<mat-option [value]="0">N/A</mat-option>
									<mat-option [value]="5">5</mat-option>
									<mat-option [value]="7">7</mat-option>
									<mat-option [value]="9">9</mat-option>
									<mat-option [value]="11">11</mat-option>
									<mat-option [value]="13">13</mat-option>
									<mat-option [value]="15">15</mat-option>
									<mat-option [value]="17">17</mat-option>
									<mat-option [value]="19">19</mat-option>
								</mat-select>

								<mat-error *ngIf="stageGroup.get('bestOf') != null && stageGroup.get('bestOf').errors && (stageGroup.get('bestOf').touched || stageGroup.get('bestOf').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>
						</div>

						<div class="actions">
							<button mat-mini-fab color="warn" (click)="removeStage(i)">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
