<div class="button-row">
	<div id="tutorial-local-tournament" class="button" (click)="click('local')" [ngClass]="{'active': active == 'local'}">
		<div class="logo">
			<mat-icon svgIcon="trophy"></mat-icon>
		</div>

		<div class="name">
			local tournaments
		</div>
	</div>

	<div id="tutorial-my-published-tournament" class="button" (click)="click('published')" [ngClass]="{'active': active == 'published'}">
		<div class="logo">
			<mat-icon>cloud_upload</mat-icon>
		</div>

		<div class="name">
			my published tournaments
		</div>
	</div>
</div>

<div id="tutorial-all-tournaments" class="all-tournaments">
	<div *ngIf="active == 'local'">
		<div *ngFor="let tournament of allTournaments">
			<app-tournament-card [tournament]="tournament"></app-tournament-card>
		</div>
	</div>

	<div *ngIf="active == 'published'">
		<app-tournament-my-published></app-tournament-my-published>
	</div>
</div>
