<form [formGroup]="validationForm">
	<div class="row r-3">
		<div class="col">
			<h3>Tournament name</h3>

			<mat-form-field class="full-width">
				<mat-label>Tournament name</mat-label>
				<input matInput formControlName="tournament-name" />

				<mat-error *ngIf="validationForm.get('tournament-name').errors && (validationForm.get('tournament-name').touched || validationForm.get('tournament-name').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The name of the tournament</p>
		</div>

		<div class="col">
			<h3>Tournament acronym</h3>

			<mat-form-field class="full-width">
				<mat-label>Tournament acronym</mat-label>
				<input matInput formControlName="tournament-acronym" />

				<mat-error *ngIf="validationForm.get('tournament-acronym').errors && (validationForm.get('tournament-acronym').touched || validationForm.get('tournament-acronym').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The acronym of the tournament</p>
		</div>

		<div class="col">
			<h3>Gamemode</h3>

			<mat-form-field class="full-width">
				<mat-label>Gamemode</mat-label>
				<mat-select formControlName="tournament-gamemode">
					<mat-option [value]="0">osu!</mat-option>
					<mat-option [value]="1">osu!taiko</mat-option>
					<mat-option [value]="2">osu!catch</mat-option>
					<mat-option [value]="3">osu!mania</mat-option>
					<mat-option [value]="4">All modes</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('tournament-gamemode').errors && (validationForm.get('tournament-gamemode').touched || validationForm.get('tournament-gamemode').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The gamemode that will be used for all the beatmaps when picking</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h3>Protects</h3>

			<mat-form-field class="full-width">
				<mat-label>Protects</mat-label>
				<mat-select formControlName="tournament-protects" (selectionChange)="changeProtects($event)">
					<mat-option [value]="true">True</mat-option>
					<mat-option [value]="false">False</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('tournament-protects').errors && (validationForm.get('tournament-protects').touched || validationForm.get('tournament-protects').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>Whether the tournament uses protects. Protecting a beatmap will prevent a team from banning the given beatmap.</p>
		</div>
	</div>

	<hr />

	<div class="row r-3">
		<div class="col">
			<h3>Score system</h3>

			<mat-form-field class="full-width">
				<mat-label>Score system</mat-label>
				<mat-select formControlName="tournament-score-system" (selectionChange)="changeScoreInterface($event)">
					<mat-option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('tournament-score-system').errors && (validationForm.get('tournament-score-system').touched || validationForm.get('tournament-score-system').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>Select the score system that is being used for the multiplayer game.</p>

			<app-alert alertType="info" *ngIf="this.tournament.scoreInterface">
				{{ this.tournament.scoreInterface.getDescription() }}
			</app-alert>
		</div>

		<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.isSoloTournament() == null">
			<h3>Tournament format</h3>

			<mat-form-field class="full-width">
				<mat-label>Tournament format</mat-label>
				<mat-select formControlName="tournament-format" (selectionChange)="changeTeamFormat($event)">
					<mat-option value="solo">Solo</mat-option>
					<mat-option value="teams">Teams</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('tournament-format').errors && (validationForm.get('tournament-format').touched || validationForm.get('tournament-format').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The tournament format, teams or solo</p>
		</div>

		<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.getTeamSize() == null && !tournament.isSoloTournament()">
			<h3>Team size</h3>

			<mat-form-field class="full-width">
				<mat-label>Team size</mat-label>
				<input matInput formControlName="tournament-team-size" />

				<mat-error *ngIf="validationForm.get('tournament-team-size').errors && validationForm.get('tournament-team-size').errors.required && (validationForm.get('tournament-team-size').touched || validationForm.get('tournament-team-size').dirty)">
					This field is required
				</mat-error>

				<mat-error *ngIf="validationForm.get('tournament-team-size').errors && validationForm.get('tournament-team-size').errors.min && (validationForm.get('tournament-team-size').touched || validationForm.get('tournament-team-size').dirty)">
					The minimum team size is 1
				</mat-error>

				<mat-error *ngIf="validationForm.get('tournament-team-size').errors && validationForm.get('tournament-team-size').errors.max && (validationForm.get('tournament-team-size').touched || validationForm.get('tournament-team-size').dirty)">
					The maximum team size is 8
				</mat-error>
			</mat-form-field>

			<p>
				Enter the amount of players that are allowed to play in a team.
			</p>
		</div>
	</div>

	<hr />

	<h1>Default multiplayer lobby settings</h1>
	<p>These settings will be set when a multiplayer lobby is created.</p>

	<div class="row r-3">
		<div class="col">
			<h2>Team mode</h2>

			<mat-form-field class="full-width">
				<mat-label>Team mode</mat-label>
				<mat-select formControlName="default-team-mode">
					<mat-option [value]="0">Head To Head</mat-option>
					<mat-option [value]="1">Tag Coop</mat-option>
					<mat-option [value]="2">Team Vs</mat-option>
					<mat-option [value]="3">Tag Team Vs</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('default-team-mode').errors && (validationForm.get('default-team-mode').touched || validationForm.get('default-team-mode').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The team mode for the multiplayer lobby</p>
		</div>

		<div class="col">
			<h2>Win condition</h2>

			<mat-form-field class="full-width">
				<mat-label>Win condition</mat-label>
				<mat-select formControlName="default-win-condition">
					<mat-option [value]="0">Score</mat-option>
					<mat-option [value]="1">Accuracy</mat-option>
					<mat-option [value]="2">Combo</mat-option>
					<mat-option [value]="3">Score V2</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('default-win-condition').errors && (validationForm.get('default-win-condition').touched || validationForm.get('default-win-condition').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The win condition for the multiplayer lobby</p>
		</div>

		<div class="col">
			<h2>Players</h2>

			<mat-form-field class="full-width no-max-width">
				<mat-label>Players</mat-label>
				<mat-select formControlName="default-players">
					<mat-option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]" [value]="number">{{ number }}</mat-option>
				</mat-select>

				<mat-error *ngIf="validationForm.get('default-players').errors && (validationForm.get('default-players').touched || validationForm.get('default-players').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>The amount of open slots in the multiplayer lobby</p>
		</div>
	</div>

	<hr />

	<div class="row r-2">
		<div class="col">
			<h2>Invalidate beatmaps</h2>
			<p>Use this option if you want to invalidate maps automatically that are not part of the mappool. This will automatically invalidate warmup maps for example, so referees don't have to do this manually.</p>

			<mat-slide-toggle (change)="changeInvalidateBeatmaps($event)" [checked]="tournament.invalidateBeatmaps">Beatmaps <span [ngClass]="{'green': tournament.invalidateBeatmaps == true, 'red': tournament.invalidateBeatmaps == false}">{{ tournament.invalidateBeatmaps == true ? 'will' : 'will not' }}</span> be invalidated</mat-slide-toggle>
		</div>

		<div class="col">
			<h2>Picking from mappool</h2>
			<p>Use this option if the players/teams are not allowed to pick from the same mod bracket twice in a row.</p>
			<p>Example: Team 1 picks NM, Team 2 picks HD. Team 1 can now not pick NM for their next pick and Team 2 can now not pick HD as their next pick.</p>

			<mat-slide-toggle (change)="changeAllowDoublePick($event)" [checked]="tournament.allowDoublePick">Players/teams <span [ngClass]="{'green': tournament.allowDoublePick == true, 'red': tournament.allowDoublePick == false}">{{ tournament.allowDoublePick == true ? 'can' : 'can\'t' }}</span> pick twice from the same mod bracket</mat-slide-toggle>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h2>Lobby team name brackets</h2>
			<p>Whether a lobby should be created with brackets around team names or not.</p>
			<ul>
				<li>Without brackets: OWC: Team 1 vs. Team 2</li>
				<li>With brackets: OWC: (Team 1) vs. (Team 2)</li>
			</ul>

			<mat-slide-toggle (change)="changeLobbyTeamNameWithBrackets($event)" [checked]="tournament.lobbyTeamNameWithBrackets">
				Create lobby <span [ngClass]="{'green': tournament.lobbyTeamNameWithBrackets == true, 'red': tournament.lobbyTeamNameWithBrackets != true}">{{ tournament.lobbyTeamNameWithBrackets == true ? 'with' : 'without' }}</span> brackets around the team names.
			</mat-slide-toggle>
		</div>
	</div>
</form>

<p><!-- Prevents small vertical scrollbar from appearing, don't touch :) --></p>
