<div class="scroll">
	<app-mappool [mappool]="creationMappool" [validationForm]="validationForm"></app-mappool>

	<div *ngIf="creationMappool.modBrackets.length <= 0">
		<div class="alert alert-warning">
			<b>Note:</b> You haven't created any mod brackets. Make sure to create a mod bracket in order for maps to show up.
		</div>
		<hr />
	</div>

	<h3>Saving the mappool</h3>
	<p>Now that you have created a mappool, you have to save it so it can be used in the tournament. Press thecreate button to finalize the mappool</p>

	<button mat-raised-button color="primary" (click)="createMappool()">Create</button>
</div>
