<div class="scroll" *ngIf="tournament">
	<app-debug [data]="{ tournament }"></app-debug>

	<h1>Updating {{ tournament.name }}</h1>

	<app-alert alertType="info" *ngIf="isPublishedTournament == false">
		You are currently editing {{ tournament.name }}.
		Any changes made here will only be saved <u>locally</u> and will not be updated for everyone else that has access to the tournament.
	</app-alert>

	<app-alert alertType="info" *ngIf="isPublishedTournament == true">
		You are currently editing {{ tournament.name }}. Any changes made here will be saved <u>publicly</u>,&nbsp;
		meaning anyone that has this tournament imported will get their tournament updated once their client has been restarted.
	</app-alert>

	<app-tournament [tournament]="tournament" [validationForm]="validationForm"></app-tournament>

	<app-alert alertType="info" *ngIf="isPublishedTournament == false">
		You are currently editing {{ tournament.name }}.
		Any changes made here will only be saved <u>locally</u> and will not be updated for everyone else that has access to the tournament.
	</app-alert>

	<app-alert alertType="info" *ngIf="isPublishedTournament == true">
		You are currently editing {{ tournament.name }}. Any changes made here will be saved <u>publicly</u>,&nbsp;
		meaning anyone that has this tournament imported will get their tournament updated once their client has been restarted.
	</app-alert>

	<button mat-raised-button class="extra-padding" color="primary" (click)="updateTournament()">Update</button>
</div>
