<div class="match-information" *ngIf="selectedLobby$ | async as selectedLobby">
	<ng-container *ngIf="matchStatus$ | async as matchStatus">
		<div class="team-one">
			<div class="circles" matTooltip="Left click to increase the score, Right click to decrease the score, Middle mouse to reset to original" (mouseup)="adjustScore(1, $event)">
				<div class="circle red" [ngClass]="{ 'active': score <= matchStatus.teamOneScore }" *ngFor="let score of selectedLobby.getMaxMatchPointsForIrcHeader()"></div>
			</div>

			<div class="team-name red">
				{{ selectedLobby.teamOneName }}
			</div>
		</div>

		<div class="middle">
			<ng-container *ngIf="selectedChannel != null && matchStatus.hasWon == null && matchStatus.tiebreaker == false">
				<div class="badge next-pick" [ngClass]="matchStatus.currentAction.color">
					<mat-icon class="icon">{{ matchStatus.currentAction.team ? 'play_arrow' : 'priority_high' }}</mat-icon>

					<div class="team-name">
						<ng-container *ngIf="matchStatus.currentAction.team; else noAction">
							{{ matchStatus.currentAction.team }} {{ matchStatus.currentAction.action }} next
						</ng-container>

						<ng-template #noAction>
							<div class="team-name">
								Select a first pick
							</div>
						</ng-template>
					</div>
				</div>
			</ng-container>

			<div class="badge match-point" *ngIf="selectedChannel != null && matchStatus.matchPoint != null && matchStatus.hasWon == null && matchStatus.tiebreaker == false">
				<mat-icon class="icon">star</mat-icon>

				<div class="content">
					<span>matchpoint</span>

					<span class="team-name" [ngClass]="{'red': matchStatus.matchPoint == selectedLobby.teamOneName, 'blue': matchStatus.matchPoint == selectedLobby.teamTwoName }">
						{{ matchStatus.matchPoint }}
					</span>
				</div>
			</div>

			<div class="badge tiebreaker" *ngIf="selectedChannel != null && matchStatus.tiebreaker == true">
				<mat-icon class="icon">local_fire_department</mat-icon>

				<div class="content">
					Tiebreaker hype!
				</div>
			</div>

			<div class="badge has-won" *ngIf="selectedChannel != null && matchStatus.hasWon != null">
				<mat-icon class="icon">emoji_events</mat-icon>

				<div class="content">
					<div class="team-name" [ngClass]="{'red': matchStatus.hasWon == selectedLobby.teamOneName, 'blue': matchStatus.hasWon == selectedLobby.teamTwoName }">
						{{ matchStatus.hasWon }}
					</div>

					won, GG and wp!
				</div>
			</div>
		</div>

		<div class="team-two">
			<div class="team-name blue">
				{{ selectedLobby.teamTwoName }}
			</div>

			<div class="circles" matTooltip="Left click to increase the score, Right click to decrease the score, Middle mouse to reset to original" (mouseup)="adjustScore(2, $event)">
				<div class="circle blue" [ngClass]="{ 'active': score <= matchStatus.teamTwoScore }" *ngFor="let score of selectedLobby.getMaxMatchPointsForIrcHeader()"></div>
			</div>
		</div>
	</ng-container>
</div>
