<div class="update" *ngIf="updateWasFound == true">
	<div class="header" *ngIf="downloadPercentage < 100">An update was found!</div>

	<div class="progression" *ngIf="downloadPercentage < 100">
		Downloaded {{ downloadPercentage }}%

		<mat-progress-bar mode="determinate" [value]="downloadPercentage"></mat-progress-bar>
	</div>

	<div *ngIf="downloadPercentage >= 100">
		<div class="header">
			The update has been downloaded!
		</div>

		The update will be installed in 10 seconds. If you close the client, it will install the update right away.
	</div>
</div>
