.categories {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;

	margin-top: 8px;
	padding: 16px;

	max-height: 350px;
	overflow-y: auto;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

	.category {
		display: flex;
		flex-direction: row;
		flex: 1 1 21%;

		margin: 8px;
	}
}
