<div class="scroll">
    <div class="row">
        <div class="col-7">
			<button [routerLink]="['/tournament-create']" class="btn btn-primary mt-4">Create a new tournament</button>
			<button [routerLink]="['/my-published-tournaments']" class="btn btn-primary ml-2 mt-4" *ngIf="canPublish()">My published tournaments</button>
        </div>

        <div class="col-5">
            <div class="input-group mt-4">
                <input type="text" class="form-control" placeholder="Tournament id" [(ngModel)]="tournamentId" />

                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="importTournament()">Import</button>
                </div>
            </div>
        </div>
    </div>

	<hr />

	<app-tournament-summary [tournament]="tournament" *ngFor="let tournament of tournamentService.allTournaments"></app-tournament-summary>
</div>
