<div class="create-lobby">
	<h2>Create a new multiplayer lobby</h2>
	<p>In order to referee a match, you have to create a multiplayer lobby. With a couple of easy steps you can setup a multiplayer lobby for a tournament without any hassle!</p>

	<button mat-raised-button [routerLink]="['/create-lobby']" color="primary"><mat-icon>add</mat-icon> create new mutliplayer lobby</button>

	<hr />
</div>

<div class="all-lobbies">
	<div class="alert alert-info" *ngIf="allLobbies.length == 0">
		There are currently no lobbies available.
	</div>

	<div *ngFor="let lobby of allLobbies" (click)="navigateLobby(lobby, $event)" class="lobby">
		<div class="body">
			<div class="information">
				<div class="multiplayerId">
					<h1>{{ lobby.tournamentAcronym }}: {{ lobby.description }}</h1>
				</div>

				<div class="multiplayerDesc">
					{{ lobby.teamOneName }} vs {{ lobby.teamTwoName }}
				</div>
			</div>

			<div class="delete-lobby">
				<button mat-mini-fab color="primary" (click)="deleteLobby(lobby)"><mat-icon>delete</mat-icon></button>
			</div>
		</div>
	</div>
</div>
