@import "variables";

.scroll {
	height: 100%;
	overflow-y: auto;
}

.options {
	display: flex;
	flex-direction: column;

	border-top: 1px solid lighten($background-color, 15%);

	margin-top: 16px;

	.option {
		display: flex;
		justify-content: space-between;

		padding: 8px;

		border-bottom: 1px solid lighten($background-color, 15%);

		.content {
			display: flex;

			.icon {
				display: flex;
				align-items: center;

				padding: 8px;
				padding-right: 16px;
			}

			.text {
				display: flex;
				align-items: center;
			}
		}

		.button {
			display: flex;
			align-items: flex-end;

			button {
				width: 100%;
			}
		}
	}
}
