@import "variables";

$border-color: rgba(255, 255, 255, 0.05);

$header-text-color: rgba(255, 255, 255, 0.8);
$header-description-color: rgba(255, 255, 255, 0.5);

.settings {
	margin-bottom: 16px;

	.settings-header {
		padding: 8px 16px;

		background: color-mix(in srgb, $primary 13%, transparent);
		color: $primary;
		font-weight: 500;
	}

	.options {
		display: flex;
		flex-direction: column;

		gap: 8px;

		.option {
			display: flex;
			justify-content: space-between;

			padding: 8px 16px;
			border-bottom: 0.5px solid $border-color;

			.content {
				display: flex;
				align-items: center;

				gap: 8px;

				.icon {
					display: flex;
				}

				.text {
					display: flex;
					flex-direction: column;
					gap: 4px;

					.header {
						color: $header-text-color;

						font-size: 16px;
						font-weight: 500;
					}

					.description {
						color: $header-description-color;

						font-size: 13px;
					}
				}
			}

			.button,
			.slide-toggle {
				display: flex;
				align-items: center;
			}
		}
	}

	.webhook-preview {
		padding: 8px 16px;

		border-bottom: 0.5px solid $border-color;
	}

	.webhook-settings {
		padding: 8px 16px;

		.webhook-settings-header {
			color: $header-text-color;

			font-size: 16px;
			font-weight: 500;
		}

		.row {
			display: flex;

			margin-bottom: 8px;
			gap: 8px;

			.col {
				display: flex;
				flex: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.save-button {
			display: flex;
			justify-content: flex-end;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
