<div class=row>
    <div class=col-12>
        <div class=form-group>
            <h2>API key</h2>
            <p>Enter your osu!API key so the application is able to grab all relevant information (multiplayer, beatmap, user information). <br />The API key can be found <a [routerLink]="" (click)="electronService.openLink('https://osu.ppy.sh/p/api');">here</a>.</p>
            <input #apiKey type="password" class="form-control" placeholder="osu!API key" value="{{ getApiKey() }}" />
        </div>

        <button type="button" class="btn btn-primary float-right" (click)="saveApiKey()">Save</button>
    </div>
</div>

<hr />

<table class="table table-hover table-border">
    <tbody>
        <tr>
            <td>
                This will export the config file and save it as a file in case you need to share it with someone. <br />
                <b>Note:</b> It will not export the API key in the file <br />
            </td>

            <td>
                <button type="button" class="btn btn-primary form-control" (click)="exportConfigFile()">Export config file</button>
            </td>
        </tr>

        <tr>
            <td>
                This will clear all the cache. 
            </td>

            <td>
                <button type="button" class="btn btn-primary form-control" (click)="clearCache()">Clear cache</button>
            </td>
        </tr>

        <tr>
            <td>
                This will remove the API key.
            </td>

            <td>
                <button type="button" class="btn btn-primary form-control" (click)="removeApiKey()">Remove API key</button>
            </td>
        </tr>
    </tbody>
</table>
