<div class="row">
	<div class="col">
		<h2>API key</h2>
		<p>Enter your osu!API key so the application is able to grab all relevant information (multiplayer, beatmap, user information). <br />The API key can be found <a [routerLink]="" (click)="electronService.openLink('https://old.ppy.sh/p/api');">here</a>.</p>

		<mat-form-field class="full-width">
			<mat-label>osu! API key</mat-label>
			<input matInput #apiKey type="password" class="full-width" [value]="getApiKey()">
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="saveApiKey()">Save</button>
	</div>
</div>

<hr />

<div class="options">
	<div class="option">
		<div class="text">
			This will export the config file and save it as a file in case you need to share it with someone. <br />
			<b>Note:</b> It will not export the API key in the file <br />
		</div>

		<div class="button">
			<button mat-raised-button color="primary" (click)="exportConfigFile()">Export config file</button>
		</div>
	</div>

	<div class="option">
		<div class="text">
			This will clear all the cache.
		</div>

		<div class="button">
			<button mat-raised-button color="primary" (click)="openDialog(0)">Clear cache</button>
		</div>
	</div>

	<div class="option">
		<div class="text">
			This will remove the API key.
		</div>

		<div class="button">
			<button mat-raised-button color="primary" (click)="openDialog(1)">Remove API key</button>
		</div>
	</div>
</div>
