<div class="row">
	<div class="col">
		<div class="login-container">
			<div class="login-icon-container">
				<div class="icon web"></div>
			</div>

			<div class="login-content">
				<div class="login-form">
					<h3 class="header">Create a wyBin account</h3>

					<form [formGroup]="registrationForm">
						<mat-form-field class="full-width">
							<mat-label>Username</mat-label>
							<input matInput placeholder="Username" formControlName="username">

							<mat-error *ngIf="registrationForm.get('username').errors != null && registrationForm.get('username').errors.hasOwnProperty('required') && (registrationForm.get('username').dirty || registrationForm.get('username').touched)">
								This field is required.
							</mat-error>
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Password</mat-label>
							<input matInput type="password" formControlName="password">

							<mat-error *ngIf="registrationForm.get('password').errors != null && registrationForm.get('password').errors.hasOwnProperty('required') && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
								This field is required.
							</mat-error>
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Password confirmation</mat-label>
							<input matInput type="password" formControlName="password-confirmation">

							<mat-error *ngIf="registrationForm.get('password-confirmation').errors != null && registrationForm.get('password-confirmation').errors.hasOwnProperty('required') && (registrationForm.get('password-confirmation').dirty || registrationForm.get('password-confirmation').touched)">
								This field is required.
							</mat-error>

							<mat-error *ngIf="registrationForm.get('password-confirmation').errors != null && registrationForm.get('password-confirmation').errors.hasOwnProperty('notEquivalent') && (registrationForm.get('password-confirmation').dirty || registrationForm.get('password-confirmation').touched)">
								The passwords you have entered do not match.
							</mat-error>
						</mat-form-field>

						<button mat-raised-button color="primary" class="full-width" (click)="register()">Register</button>

						<div class="alert alert-danger" *ngIf="loginErrors.length > 0">
							<ul>
								<li *ngFor="let error of loginErrors">{{ error }}</li>
							</ul>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
