$sidebar-logo-width: 150px;
$sidebar-hr-color: #4c545c;
$background-color: #3c4452;

.login-container {
	display: flex;
	justify-content: center;

	.login {
		width: 400px;

		margin-top: 18px;
		margin-right: 18px;
		padding: 18px;

		background-color: #4c5769;
		border: 1px solid darken($background-color, 15%);
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

		.header {
			display: flex;
			justify-content: center;

			.header-image {
				width: $sidebar-logo-width;
				height: $sidebar-logo-width;
				line-height: $sidebar-logo-width;

				margin-bottom: 8px;

				border-radius: 50%;
				border: 1px solid $sidebar-hr-color;

				background-repeat: no-repeat;
				background-size: cover;
				background-image: url("~assets/images/icon.png");
			}
		}

		.title {
			margin-bottom: 16px;
			text-align: center;
		}

		.body {
			.spacing {
				margin-top: 18px;
			}

			.center-text {
				text-align: center;
			}

			.center {
				display: flex;
				justify-content: center;

				.custom-btn {
					padding-left: 48px;
					padding-right: 48px;

					border-radius: 50px;
				}
			}
		}
	}

	.login-irc {
		width: 400px;

		margin-top: 18px;
		padding: 18px;

		background-color: #4c5769;
		border: 1px solid darken($background-color, 15%);
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

		.header {
			display: flex;
			justify-content: center;

			margin-bottom: 8px;

			.header-image {
				width: $sidebar-logo-width;
				height: $sidebar-logo-width;
				line-height: $sidebar-logo-width;

				border-radius: 50%;
				border: 1px solid $sidebar-hr-color;

				background-repeat: no-repeat;
				background-size: cover;
				background-image: url("~assets/images/osulogo.png");
			}
		}

		.title {
			margin-bottom: 16px;
			text-align: center;
		}

		.body {
			.spacing {
				margin-top: 18px;
			}

			.center-text {
				text-align: center;
			}

			.center {
				display: flex;
				justify-content: center;

				.custom-btn {
					padding-left: 48px;
					padding-right: 48px;

					border-radius: 50px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	.login-container {
		display: block;

		.login {
			width: 100%;
		}

		.login-irc {
			width: 100%;
		}
	}
}
