<div class="login-container">
    <div class="login">
        <div class="header">
            <div class="header-image"></div>
        </div>

        <div class="title">
            Mappool publishing <br />
            <a [routerLink]="['/register']">No account yet? Click here</a>
        </div>
    
        <div class="body">
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2">
                    <form [formGroup]="mappoolPublishForm" *ngIf="!auth.loggedIn">
                        <input type="text" class="form-control" placeholder="Username" formControlName="username" />
                        <div class="spacing"></div>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" />
                        <div class="spacing"></div><div class="spacing"></div>
                        
                        <div class="center"> 
                            <button (click)="loginMappoolPublish()" class="btn btn-success custom-btn" [disabled]="mappoolPublishForm.invalid">Login</button>
                        </div>
                    </form>

                    <div *ngIf="auth.loggedIn">
                        <div class="center-text">Logged in as&nbsp;<b>{{ auth.loggedInUser.username }}</b></div>

                        <div class="spacing"></div>

                        <div class="center">
                            <button (click)="logoutMappoolPublish()" class="btn btn-success custom-btn">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-irc">
        <div class="header">
            <div class="header-image"></div>
        </div>

        <div class="title">
            osu! Irc connection <br />
            <a [routerLink]="" (click)="electronService.openLink('https://osu.ppy.sh/p/irc')" *ngIf="!ircService.isAuthenticated">Your irc credentials</a>
        </div>
    
        <div class="body">
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2">
                    <form [formGroup]="ircForm" *ngIf="!ircService.isAuthenticated">
                        <input type="text" class="form-control" placeholder="Username" formControlName="username" />
                        <div class="spacing"></div>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" />
                        <div class="spacing"></div><div class="spacing"></div>
                        
                        <div class="center"> 
                            <button (click)="connectIrc()" class="btn btn-success custom-btn" [disabled]="ircForm.invalid">Connect <fa-icon *ngIf="isConnecting" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
                        </div>
                    </form>

                    <div *ngIf="ircService.isAuthenticated">
                        <div class="center-text">Logged in as&nbsp;<b>{{ ircService.authenticatedUser }}</b></div>

                        <div class="spacing"></div>

                        <div class="center">
                            <button (click)="disconnectIrc()" class="btn btn-success custom-btn">Disconnect <fa-icon *ngIf="isDisconnecting" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>