<h1>AxS Calculator</h1>
<p>
    Welcome to the AxS calculator. With this application you can calculate the scores with the AxS score format. 
</p>

<h1>Getting started</h1>
<p>
    To get started, you first have to get your API key from osu! and save it in the application. This can be done <a [routerLink]="['/settings']">here</a>, or by clicking on cogwheels (<fa-icon [icon]="['fas', 'cogs']"></fa-icon>) on the left. 
    <br />After you saved your API key, you are pretty much ready to go. Go to "Create a lobby" in the left sidebar to create a lobby and "Lobby overview" to view all the created lobbies
</p>