<h1>AxS Calculator</h1>
<p>
    Welcome to the AxS calculator. With this application you can calculate the scores with the AxS score format. 
</p>

<h1>Getting started</h1>
<p>
    In order to get started, you have to set up a couple of things. First off we are set the API key for osu!. This can be done This can be done <a [routerLink]="['/settings']">here</a>, or by clicking on cogwheels (<fa-icon [icon]="['fas', 'cogs']"></fa-icon>) on the left. <br />
    After you have set your API key, we are gonna set up the IRC connection. This is so that the results will be posted to the multiplayer lobby. This can be done <a [routerLink]="['/login']">here</a>, or by clicking on <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> on the left. <br /><br />
    After these two steps, you are pretty much ready to go. Go to "Create a lobby" in the left sidebar to create a lobby and "Lobby overview" to view all the created lobbies.
</p>