<div class="published-tournaments">
	<app-tournament-filters
		[users$]="allUsers$"
		(filtersChanged)="onFiltersChanged($event)">
	</app-tournament-filters>

	<div class="all-tournaments" *ngIf="allTournaments.length > 0">
		<div class="tournament" *ngFor="let tournament of filteredTournaments">
			<app-tournament-card [tournament]="tournament" [publishedTournament]="true" (deletedTournamentEmitter)="onTournamentDeleted($event)" (click)="onTournamentClick(tournament, $event)"></app-tournament-card>
		</div>
	</div>
</div>
