<div class="container-fluid scroll">
	<form [formGroup]="validationForm">
		<div class="row">
			<div class="col">
				<h2>Multiplayer link</h2>

				<mat-form-field class="full-width">
					<mat-label>Multiplayer link</mat-label>
					<input matInput formControlName="multiplayer-link" />

					<mat-error *ngIf="getValidation('multiplayer-link').errors && getValidation('multiplayer-link').errors.pattern">
						Invalid multiplayerlink provided. Accepted format: https://osu.ppy.sh/community/matches/46358686
					</mat-error>
				</mat-form-field>

				<div>
					Enter a multiplayer link in here for the match you want to calculate the scores off.

					<div class="alert alert-info">
						You only have to fill in the multiplayer link when you want to use an old multiplayer lobby. If you
						leave this blank, it will create a <b>NEW</b> multiplayer lobby on osu!.
					</div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col">
				<h2>Select a tournament</h2>

				<mat-form-field class="full-width">
					<mat-label>Select a tournament</mat-label>
					<mat-select formControlName="selected-tournament" (selectionChange)="changeTournament()">
						<mat-option *ngFor="let tournament of tournamentService.allTournaments" [value]="tournament.tournamentName">
							{{ tournament.tournamentName }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div>
					Select a tournament for which you will be making a multiplayer match for. <br />
					<div class="alert alert-info">
						You can leave this empty if you want to manually enter all the data.
					</div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col" *ngIf="selectedTournament == null">
				<div class="tournament-acronym">
					<h2>Tournament acronym</h2>

					<mat-form-field class="full-width">
						<mat-label>Tournament acronym</mat-label>
						<input matInput formControlName="tournament-acronym" />

						<mat-error *ngIf="getValidation('tournament-acronym').errors && getValidation('tournament-acronym').errors.maxlength && (getValidation('tournament-acronym').touched || getValidation('tournament-acronym').dirty)">
							This field can have a maximum of 10 characters
						</mat-error>
					</mat-form-field>

					<div>
						Enter an acronym that will be used to create the multiplayer match.
					</div>

					<div class="alert alert-warning">
						You only have to fill in the tournament acronym when you want to create a <b>NEW</b> multiplayer lobby on osu!.
					</div>
				</div>
			</div>

			<div class="col" *ngIf="selectedTournament == null">
				<h2>Score system</h2>

				<mat-form-field class="full-width">
					<mat-label>Select a score system</mat-label>
					<mat-select formControlName="score-interface" (selectionChange)="changeScoreInterface($event)">
						<mat-option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('score-interface').errors && (getValidation('score-interface').touched || getValidation('score-interface').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>
					Enter the score system that is being used for the multiplayer game
				</p>

				<div class="alert alert-info" *ngIf="this.selectedScoreInterface">
					{{ this.selectedScoreInterface.getDescription() }}
				</div>
			</div>

			<div class="col" *ngIf="selectedTournament == null && (this.teamSize == 0 || this.teamSize == null)">
				<h2>Team size</h2>

				<mat-form-field class="full-width">
					<mat-label>Team size</mat-label>
					<input matInput formControlName="team-size" (change)="changeTeamSize()" />

					<mat-error *ngIf="getValidation('team-size').errors && (getValidation('team-size').touched || getValidation('team-size').dirty)">
						This field is required
					</mat-error>

					<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.min && (getValidation('team-size').touched || getValidation('team-size').dirty)">
						The team size must have at least a size of 1
					</mat-error>

					<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.max && (getValidation('team-size').touched || getValidation('team-size').dirty)">
						The team size can not be higher than 8
					</mat-error>

					<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.pattern && (getValidation('team-size').touched || getValidation('team-size').dirty)">
						The team size can only be a number
					</mat-error>
				</mat-form-field>

				<p>
					Enter the amount of players that are allowed to play in a team.
				</p>
			</div>
		</div>

		<hr *ngIf="selectedTournament == null" />

		<div class="row" *ngIf="selectedTournament == null">
			<div class="col">
				<h2>Team one name</h2>

				<mat-form-field class="full-width">
					<mat-label>Team one name</mat-label>
					<input matInput formControlName="team-one-name" />

					<mat-error *ngIf="getValidation('team-one-name').errors && (getValidation('team-one-name').touched || getValidation('team-one-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>
					Enter the name of the first team. This will be team <span class="red-text">red</span> and has slot {{ teamOneArray.join(", ") }}.
				</p>
			</div>

			<div class="col">
				<h2>Team two name</h2>

				<mat-form-field class="full-width">
					<mat-label>Team two name</mat-label>
					<input matInput formControlName="team-two-name" />

					<mat-error *ngIf="getValidation('team-two-name').errors && (getValidation('team-two-name').touched || getValidation('team-two-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>
					Enter the name of the second team. This will be team <span class="blue-text">blue</span> and has slot {{ teamTwoArray.join(", ") }}.
				</p>
			</div>
		</div>

		<div class="row" *ngIf="selectedTournament != null">
			<div class="col">
				<h2>Team one name</h2>

				<mat-form-field class="full-width">
					<mat-label>Team one name</mat-label>
					<mat-select formControlName="team-one-name">
						<mat-option *ngFor="let team of selectedTournament.teams" [value]="team.teamName">{{ team.teamName }}</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('team-one-name').errors && (getValidation('team-one-name').touched || getValidation('team-one-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>
					Enter the name of the first team. This will be team <span class="red-text">red</span> and has slot {{ teamOneArray.join(", ") }}.
				</p>
			</div>

			<div class="col">
				<h2>Team two name</h2>

				<mat-form-field class="full-width">
					<mat-label>Team two name</mat-label>
					<mat-select formControlName="team-two-name">
						<mat-option *ngFor="let team of selectedTournament.teams" [value]="team.teamName">{{ team.teamName }}</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('team-two-name').errors && (getValidation('team-two-name').touched || getValidation('team-two-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>
					Enter the name of the second team. This will be team <span class="blue-text">blue</span> and has slot {{ teamTwoArray.join(", ") }}.
				</p>
			</div>
		</div>

		<h2>Webhook</h2>

		<mat-form-field class="full-width">
			<mat-label>Webhook</mat-label>
			<input matInput formControlName="webhook" />
		</mat-form-field>

		<div class="alert alert-info">
			For the client to send status messages to a Discord channel, you have to setup a webhook. Currently the following statuses will be send to Discord:
			<ul>
				<li>When a referee bans a map for either team</li>
				<li>When a map finishes</li>
				<li>When the referee sends the final result</li>
			</ul>

			<div class="discord-webhook-header">How to create a Discord webhook:</div>
			<i>NOTE: this step is only required when there is no webhook available.</i>
			<ul>
				<li>Go to the server you want the messages to be send to</li>
				<li>Right click on the channel you want the messages to be send to</li>
				<li>Click on "Edit Channel"</li>
				<li>Click on "Integrations"</li>
				<li>Click on "Create Webhook"</li>
				<li>Fill in the fields and finally copy the "Webhook url"</li>
			</ul>
		</div>

		<button mat-raised-button color="primary" class="success-button" (click)="createLobby()" [disabled]="!ircAuthenticated">Create</button>
	</form>
</div>
