.scroll {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.red-text {
	color: #e94f64;
}

.blue-text {
	color: #2299bb;
}

.discord-webhook-header {
	font-size: 18px;
}

.margin-button {
	margin-bottom: 8px;
}
