<div class="team">
	<form [formGroup]="validationForm">
		<div class="header">
			<div class="information">
				<h3 *ngIf="team.teamName">{{ team.teamName }}</h3>
				<h3 *ngIf="!team.teamName && !tournament.isSoloTournament()">Unnamed team</h3>
				<h3 *ngIf="!team.teamName && tournament.isSoloTournament()">Unnamed player</h3>
			</div>

			<div class="buttons">
				<button mat-mini-fab color="warn" (click)="deleteTeam(team)"><mat-icon>delete</mat-icon></button>
				<button mat-mini-fab color="primary" (click)="collapseBracket(team)">
					<mat-icon *ngIf="team.collapsed">expand_more</mat-icon>
					<mat-icon *ngIf="!team.collapsed">expand_less</mat-icon>
				</button>
			</div>
		</div>

		<div [ngClass]="{'hide': team.collapsed}" class="body">
			<h3 *ngIf="!tournament.isSoloTournament()">Create a new team</h3>
			<h3 *ngIf="tournament.isSoloTournament()">Create a new player</h3>

			<mat-form-field class="full-width">
				<mat-label *ngIf="!tournament.isSoloTournament()">Team name</mat-label>
				<mat-label *ngIf="tournament.isSoloTournament()">Player name</mat-label>

				<input matInput [formControlName]="'tournament-team-name-' + team.validateIndex" (change)="changeTeamName(team, $event)" />

				<mat-error *ngIf="getValidation('tournament-team-name-' + team.validateIndex).errors && (getValidation('tournament-team-name-' + team.validateIndex).touched || getValidation('tournament-team-name-' + team.validateIndex).dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p *ngIf="!tournament.isSoloTournament()">The name of the team</p>
			<p *ngIf="tournament.isSoloTournament()">The name of the player</p>

			<div *ngIf="!tournament.isSoloTournament()">
				<h3>Manage players</h3>
				<p>Add or remove players from the given team</p>

				<button mat-raised-button (click)="addNewPlayer(team)" color="primary"><mat-icon>add</mat-icon> add new player</button>

				<div class="team-players">
					<div class="player" *ngFor="let player of team.getPlayers()">
						<div class="player-name">
							<mat-form-field class="full-width">
								<mat-label>Player name</mat-label>

								<input matInput [(ngModel)]="player.username" [ngModelOptions]="{ standalone: true }" />
							</mat-form-field>
						</div>

						<div class="manage-buttons">
							<button mat-mini-fab color="warn" (click)="removePlayer(team, player)"><mat-icon>delete</mat-icon></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
