@import "variables";

.buttons {
	button {
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.margin-top {
	margin-top: 8px;
}

.split {
	display: flex;

	.col {
		flex: 1;

		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.team {
	overflow: hidden;

	margin-bottom: 8px;

	border: 1px solid darken(#3c4452, 15%);

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

	.header {
		display: flex;
		justify-content: space-between;

		padding: 16px;

		&:hover {
			background-color: darken($background-color, 5%);
		}

		.information {
			display: flex;
			align-items: center;

			h3 {
				margin: 0;
			}
		}

		button {
			margin-left: 4px;
		}

		.collapse {
			position: fixed;
			right: 0;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.body {
		padding: 16px;

		.team-players {
			margin-top: 8px;

			.player {
				display: flex;
				justify-content: space-between;

				.player-name,
				.manage-buttons {
					display: flex;
					align-items: center;

					padding: 8px;
				}

				.col {
					padding: 8px;
				}

				&:nth-child(odd) {
					background-color: lighten($background-color, 15%);
				}
			}
		}

		&.hide {
			display: none;
		}
	}
}
