<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div *ngIf="!tournament.isSoloTournament()">
				<h3>Teams</h3>
				<p>Add a team to the tournament.</p>

				<div class="buttons">
					<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new team</button>
					<button mat-raised-button (click)="addBulkTeams()" color="primary" [disabled]="teamsToAdd == null || teamsToAdd.length <= 0"><mat-icon>add</mat-icon> add bulk teams</button>
				</div>

				<div class="split">
					<div class="col">
						<mat-form-field class="full-width margin-top">
							<mat-label>Bulk add teams, list all teams. 1 team per line (click me)</mat-label>
							<textarea matInput [(ngModel)]="teamsToAdd" [ngModelOptions]="{standalone: true}"></textarea>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field class="full-width margin-top">
							<mat-label>Filter players/teams by name</mat-label>
							<textarea matInput [(ngModel)]="teamFilter" [ngModelOptions]="{standalone: true}"></textarea>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div *ngIf="tournament.isSoloTournament()">
				<h3>Players</h3>
				<p>Add a player to the tournament.</p>

				<div class="buttons">
					<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new player</button>
					<button mat-raised-button (click)="addBulkPlayersSoloTournament()" color="primary" [disabled]="teamsToAdd == null || teamsToAdd.length <= 0"><mat-icon>add</mat-icon> add bulk players</button>
					<button mat-raised-button (click)="importWyBinPlayers()" color="primary" *ngIf="tournament.hasWyBinConnected()">
						<mat-icon>add</mat-icon> <mat-icon class="sync" [ngClass]="{'rotate': importingFromWyBin == true}">sync</mat-icon>import players from wyBin
					</button>
				</div>

				<div class="split">
					<div class="col">
						<mat-form-field class="full-width margin-top">
							<mat-label>Bulk add players, list all players. 1 player (comma seperated: Username, userid) per line (click me)</mat-label>
							<textarea matInput [(ngModel)]="teamsToAdd" [ngModelOptions]="{standalone: true}"></textarea>
						</mat-form-field>
					</div>
				</div>
			</div>

			<hr />

			<div class="all-teams">
				<div class="team" *ngFor="let team of (tournament.teams | filterTeam : teamFilter)">
					<form [formGroup]="validationForm">
						<div class="header" (click)="collapseParticipant(team, $event)">
							<div class="information">
								<h3 *ngIf="team.name">{{ team.name }}</h3>
								<h3 *ngIf="!team.name && !tournament.isSoloTournament()">Unnamed team</h3>
								<h3 *ngIf="!team.name && tournament.isSoloTournament()">Unnamed player</h3>
							</div>

							<div class="buttons">
								<button mat-mini-fab color="warn" (click)="deleteTeam(team)"><mat-icon>delete</mat-icon></button>
							</div>
						</div>

						<div [ngClass]="{'hide': team.collapsed}" class="body">
							<h3 *ngIf="!tournament.isSoloTournament()">Create a new team</h3>
							<h3 *ngIf="tournament.isSoloTournament()">Create a new player</h3>

							<div class="split">
								<div class="col">
									<mat-form-field class="full-width">
										<mat-label *ngIf="!tournament.isSoloTournament()">Team name</mat-label>
										<mat-label *ngIf="tournament.isSoloTournament()">Player name</mat-label>

										<input matInput [formControlName]="'tournament-team-name-' + team.index" (change)="changeTeamName(team, $event)" />

										<mat-error *ngIf="validationForm.get('tournament-team-name-' + team.index) != null && validationForm.get('tournament-team-name-' + team.index).errors && (validationForm.get('tournament-team-name-' + team.index).touched || validationForm.get('tournament-team-name-' + team.index).dirty)">
											This field is required
										</mat-error>
									</mat-form-field>

									<p *ngIf="!tournament.isSoloTournament()">The name of the team</p>
									<p *ngIf="tournament.isSoloTournament()">The name of the player</p>
								</div>

								<div class="col" *ngIf="tournament.isSoloTournament()">
									<mat-form-field class="full-width">
										<mat-label>User id</mat-label>

										<input matInput [formControlName]="'tournament-player-user-id-' + team.index" (change)="changePlayerUserId(team, $event)" />

										<mat-error *ngIf="validationForm.get('tournament-player-user-id-' + team.index) != null && validationForm.get('tournament-player-user-id-' + team.index).errors && (validationForm.get('tournament-player-user-id-' + team.index).touched || validationForm.get('tournament-player-user-id-' + team.index).dirty)">
											This field is required
										</mat-error>
									</mat-form-field>

									<p>The id of the user. Used to invite players and will work regardless of a name change. The id of the user are the numbers at the end of their profile link: https://osu.ppy.sh/users/2407265 (in this case 2407265)</p>
								</div>
							</div>

							<div *ngIf="!tournament.isSoloTournament()">
								<h3>Manage players</h3>
								<p>Add or remove players from the given team</p>

								<button mat-raised-button (click)="addNewPlayer(team)" color="primary"><mat-icon>add</mat-icon> add new player</button>&nbsp;
								<button mat-raised-button (click)="addBulkPlayers(team)" color="primary" [disabled]="usersToAdd == null || usersToAdd.length <= 0"><mat-icon>add</mat-icon> add bulk players</button>

								<mat-form-field class="full-width">
									<mat-label>List with all players. 1 player (comma seperated: Username, userid) per line (click me)</mat-label>
									<textarea matInput [(ngModel)]="usersToAdd" [ngModelOptions]="{standalone: true}"></textarea>
								</mat-form-field>

								<div class="team-players">
									<div class="player" *ngFor="let player of team.players">
										<div class="split">
											<div class="col">
												<mat-form-field class="full-width">
													<mat-label>Player name</mat-label>

													<input matInput [(ngModel)]="player.name" [ngModelOptions]="{ standalone: true }" />
												</mat-form-field>

												<p>The name of the player</p>
											</div>

											<div class="col">
												<mat-form-field class="full-width">
													<mat-label>User id</mat-label>

													<input matInput [(ngModel)]="player.userId" [ngModelOptions]="{ standalone: true }" />
												</mat-form-field>

												<p>The id of the user. Used to invite players and will work regardless of a name change. The id of the user are the numbers at the end of their profile link: https://osu.ppy.sh/users/2407265 (in this case 2407265)</p>
											</div>
										</div>

										<div class="manage-buttons">
											<button mat-mini-fab color="warn" (click)="removePlayer(team, player)"><mat-icon>delete</mat-icon></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
