.tournament {
	overflow: hidden;

	margin-bottom: 8px;
	padding: 16px;

	border: 1px solid darken(#3c4452, 15%);

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

	.header {
		display: flex;
		flex-direction: row;

		justify-content: space-between;

		.buttons {
			button {
				margin-right: 8px;
			}
		}
	}

	.tournament-teams {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.team {
			flex: 1 0 21%;

			padding: 8px;
			margin: 8px;

			border: 1px solid darken(#3c4452, 15%);
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
		}
	}

	.tournament-players {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.player {
			h5 {
				margin: 0;
			}

			flex: 1 0 21%;

			padding: 8px;
			margin: 8px;

			border: 1px solid darken(#3c4452, 15%);
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
		}
	}

	&:hover {
		border: 1px solid white;

		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);

		cursor: pointer;
	}
}
