<div class="scroll">
	<app-tournament [tournament]="tournamentCreate"></app-tournament>

    <div *ngIf="tournamentCreate != null && tournamentCreate.getTeams().length > 0">
        <hr />

        <h3>Saving the tournament</h3>
        <p>Now that you have created at least one team in the tournament, you have to save it so it can be used. Press the create button to finalize the tournament.</p>
        <button class="btn btn-primary" (click)="createTournament()">Create</button>
    </div>
</div>
