@import "variables";

$tiles-height: 110px;

.main {
	display: flex;
	height: 100vh;

	.sidebar {
		height: 100vh;
	}

	.content {
		flex: 1;
		min-height: 0;
		height: 100%;
		overflow-y: auto;

		background-color: $background-color;
	}
}
