<div class="main">
	<div class="sidebar">
		<ng-container *ngFor="let sidebarItem of sidebarMenu">
			<div class="sidebar-divider" *ngIf="sidebarItem.type == 'divider'"></div>

			<div class="sidebar-item" [routerLink]="[sidebarItem.link]" routerLinkActive="active" *ngIf="sidebarItem.type != 'divider' && (sidebarItem.showIf != false && (sidebarItem.showIfObservable | async) != false)">
				<div class="sidebar-item-content">
					<mat-icon>{{ sidebarItem.icon }}</mat-icon>

					{{ sidebarItem.header }}
				</div>
			</div>
		</ng-container>
	</div>

	<div class="content fluid-container">
		<router-outlet></router-outlet>
	</div>
</div>
