@import "variables";

.container-fluid {
	padding-left: 0;
}

.main-container {
	display: flex;

	height: 100%;

	.sidebar-container {
		display: flex;
		flex: 1 0 15%;
		background-color: $sidebar-color;
	}

	.content-container {
		width: 100%;

		background-color: $background-color;

		padding-left: 8px;
		padding-top: 8px;

		margin-right: 0;

		&.no-padding {
			padding-left: 0;
			padding-top: 0;
		}
	}
}
