<div *ngIf="tournament">
	<form [formGroup]="validationForm">
		<div class="row">
			<div class="col">
				<h3>Tournament name</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament name</mat-label>
					<input matInput formControlName="tournament-name" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-name').errors && (getValidation('tournament-name').touched || getValidation('tournament-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The name of the tournament</p>
			</div>

			<div class="col">
				<h3>Tournament acronym</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament acronym</mat-label>
					<input matInput formControlName="tournament-acronym" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-acronym').errors && (getValidation('tournament-acronym').touched || getValidation('tournament-acronym').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The acronym of the tournament</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h3>Score system</h3>

				<mat-form-field class="full-width">
					<mat-label>Score system</mat-label>
					<mat-select formControlName="tournament-score-system" (selectionChange)="changeScoreInterface($event)">
						<mat-option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('tournament-score-system').errors && (getValidation('tournament-score-system').touched || getValidation('tournament-score-system').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>Select the score system that is being used for the multiplayer game.</p>

				<div class="alert alert-info" *ngIf="this.tournament.scoreInterface">
					{{ this.tournament.scoreInterface.getDescription() }}
				</div>
			</div>

			<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.isSoloTournament() == null">
				<h3>Tournament format</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament format</mat-label>
					<mat-select formControlName="tournament-format" (selectionChange)="changeTournamentFormat($event)">
						<mat-option value="solo">Solo</mat-option>
						<mat-option value="teams">Teams</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('tournament-format').errors && (getValidation('tournament-format').touched || getValidation('tournament-format').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The tournament format, teams or solo</p>
			</div>

			<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.getTeamSize() == null && !tournament.isSoloTournament()">
				<h2>Team size</h2>

				<mat-form-field class="full-width">
					<mat-label>Team size</mat-label>
					<input matInput formControlName="tournament-team-size" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.required && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						This field is required
					</mat-error>

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.min && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						The minimum team size is 1
					</mat-error>

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.max && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						The maximum team size is 8
					</mat-error>
				</mat-form-field>

				<p>
					Enter the amount of players that are allowed to play in a team.
				</p>
			</div>
		</div>

		<hr />

		<h3>Challonge integration</h3>
		<mat-form-field class="full-width">
			<mat-label>Challonge integration</mat-label>
			<mat-select formControlName="challonge-integration" (valueChange)="changeChallongeIntegration($event)">
				<mat-option [value]="0">Disabled</mat-option>
				<mat-option [value]="1">Enabled</mat-option>
			</mat-select>
		</mat-form-field>

		<p>In order for matches to be updated live on Challonge, you have to set up a few things. This step is fully optional and not required in any way.</p>
		<p>Challonge integration will set scores on Challonge when a map finished, making it so you don't have to update all the matches by hand. Once the score changes, it will automatically update on Challonge.</p>

		<div *ngIf="tournament.challongeIntegration == 1">
			<h3>Available to</h3>
			<p>To prevent everyone being able to change the scores on Challonge, you have to select which users are able to import this tournament. Only the users that are listed on the right side will have access to the tournament.</p>

			<div class="users">
				<mat-form-field class="full-width">
					<mat-label>Search</mat-label>
					<input matInput class="full-width" [(ngModel)]="searchValue" [ngModelOptions]="{ standalone: true }" />
				</mat-form-field>

				<div class="row">
					<div class="col">
						<div class="background-area all-users">
							<div class="user" *ngFor="let user of (allUsers | search: searchValue )">
								<div class="username">
									<p>{{ user.username }}</p>
								</div>

								<div class="buttons">
									<button mat-mini-fab (click)="addNewUser(user)"><mat-icon>add</mat-icon></button>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="background-area all-users">
							<div *ngIf="tournament.availableTo.length == 0" class="alert alert-danger full-width">
								You haven't added a user yet. This tournament will only be available for yourself.
							</div>

							<div class="user" *ngFor="let user of tournament.availableTo">
								<div class="username">
									<p>{{ user.username }}</p>
								</div>

								<div class="buttons">
									<button mat-mini-fab (click)="removeUser(user)" color="warn"><mat-icon>remove</mat-icon></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2>Api key</h2>

			<mat-form-field class="full-width">
				<mat-label>Challonge api key</mat-label>
				<input matInput type="password" formControlName="tournament-challonge-api-key" />

				<mat-error *ngIf="getValidation('tournament-challonge-api-key').errors && getValidation('tournament-challonge-api-key').errors.required && (getValidation('tournament-challonge-api-key').touched || getValidation('tournament-challonge-api-key').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>In order for the client to get information from Challonge, you have to enter an api key generated from Challonge. <a [routerLink]="" (click)="electronService.openLink('https://challonge.com/settings/developer')">Click here</a> to generate/get your api key.</p>

			<div class="alert alert-warning">
				The Challonge api key will be saved on a remote server so the api key won't be visible to anyone except yourself.
			</div>

			<button mat-raised-button color="primary" (click)="validateChallongeApiKey()">Validate api key</button>

			<div class="alert alert-danger" *ngIf="apiKeyValidationProcess == API_KEY_INCORRECT">
				The api key you entered was invalid.
			</div>

			<div class="alert alert-success" *ngIf="apiKeyValidationProcess == API_KEY_CORRECT">
				The api key you entered was valid!
			</div>

			<div *ngIf="apiKeyValidationProcess == API_KEY_CORRECT">
				<div class="double-buttons">
					<div class="button" (click)="changeChallongeCreation(1)" [ngClass]="{'active': tournament.challongeCreationType == 1}">
						Create a new Challonge tournament
					</div>

					<div class="button" (click)="changeChallongeCreation(2)" [ngClass]="{'active': tournament.challongeCreationType == 2}">
						Select an existing Challonge tournament
					</div>
				</div>

				<div *ngIf="tournament.challongeCreationType == 1">
					<p>In order to create a new Challonge tournament, you have to fill in the fields below. Once these fields have been validated, you can continue. Once you have filled in the fields, press the button to create the tournament. The teams or players created below will be added to the Challonge tournament once you finalize the tournament in the client.</p>
					<p>After this process is done, you have to go to the Challonge website itself and order the matches to your actual bracket there. Once they are ordered and started, the matches will show up when creating a new multiplayer lobby through this client.</p>

					<div class="row">
						<div class="col">
							<h3>Challonge tournament name</h3>

							<mat-form-field class="full-width">
								<mat-label>Challonge tournament name</mat-label>
								<input matInput type="text" formControlName="tournament-challonge-name" />

								<mat-error *ngIf="getValidation('tournament-challonge-name').errors && getValidation('tournament-challonge-name').errors.required && (getValidation('tournament-challonge-name').touched || getValidation('tournament-challonge-name').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>

							<p>The name of the tournament that will be shown on Challonge.</p>
						</div>

						<div class="col">
							<h3>Challonge tournament url</h3>

							<mat-form-field class="full-width">
								<mat-label>Challonge tournament url</mat-label>
								<input matInput type="text" formControlName="tournament-challonge-url" />

								<mat-error *ngIf="getValidation('tournament-challonge-url').errors && getValidation('tournament-challonge-url').errors.required && (getValidation('tournament-challonge-url').touched || getValidation('tournament-challonge-url').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>

							<p>The url of the Challonge tournament. <br />Example: https://www.challonge.com/url_here</p>
						</div>

						<div class="col">
							<h3>Challonge tournament type</h3>

							<mat-form-field class="full-width">
								<mat-label>Challonge tournament type</mat-label>

								<mat-select formControlName="tournament-challonge-type">
									<mat-option [value]="'single elimination'">Single elimination</mat-option>
									<mat-option [value]="'double elimination'">Double elimination</mat-option>
									<mat-option [value]="'round robin'">Round robin</mat-option>
									<mat-option [value]="'swiss'">Swiss</mat-option>
								</mat-select>

								<mat-error *ngIf="getValidation('tournament-challonge-type').errors && getValidation('tournament-challonge-type').errors.required && (getValidation('tournament-challonge-type').touched || getValidation('tournament-challonge-type').dirty)">
									This field is required
								</mat-error>
							</mat-form-field>

							<p>The type of the Challonge Tournament.</p>
						</div>
					</div>

					<button mat-raised-button color="primary" (click)="createChallongeTournament()">Create challonge tournament</button>

					<div *ngIf="challongeCreatedMessage != null" class='alert' [ngClass]="{'alert-danger': challongeCreatedAlertType == 'error', 'alert-success': challongeCreatedAlertType == 'success'}" [innerHTML]="challongeCreatedMessage"></div>
				</div>

				<div *ngIf="tournament.challongeCreationType == 2">
					<p>Select a tournament which will be used to get all the matches from. Once the tournament on Challonge has been started, the matches will show up when creating a new multiplayer lobby through this client.</p>

					<mat-form-field class="full-width">
						<mat-label>Tournament</mat-label>

						<mat-select formControlName="tournament-challonge-tournament-selected" (selectionChange)="changeSelectedChallongeTournament($event)">
							<mat-option [value]="tournament.id" *ngFor="let tournament of allChallongeTournaments">{{ tournament.name }}</mat-option>
						</mat-select>

						<mat-error *ngIf="getValidation('tournament-challonge-tournament-selected').errors && getValidation('tournament-challonge-tournament-selected').errors.required && (getValidation('tournament-challonge-tournament-selected').touched || getValidation('tournament-challonge-tournament-selected').dirty)">
							This field is required
						</mat-error>
					</mat-form-field>

					<p>The Challonge tournament that will be used to create matches from.</p>
				</div>
			</div>
		</div>

		<hr />

		<div *ngIf="!tournament.isSoloTournament()">
			<h3>Teams</h3>
			<p>Add a team to the tournament.</p>

			<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new team</button>
		</div>

		<div *ngIf="tournament.isSoloTournament()">
			<h3>Players</h3>
			<p>Add a player to the tournament.</p>

			<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new player</button>
		</div>

		<hr />

		<app-team [team]="team" [tournament]="tournament" [validationForm]="validationForm" *ngFor="let team of tournament.getTeams()"></app-team>
	</form>
</div>
