<div *ngIf="tournament">
	<form [formGroup]="validationForm">
		<div class="row">
			<div class="col">
				<h3>Tournament name</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament name</mat-label>
					<input matInput formControlName="tournament-name" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-name').errors && (getValidation('tournament-name').touched || getValidation('tournament-name').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The name of the tournament</p>
			</div>

			<div class="col">
				<h3>Tournament acronym</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament acronym</mat-label>
					<input matInput formControlName="tournament-acronym" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-acronym').errors && (getValidation('tournament-acronym').touched || getValidation('tournament-acronym').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The acronym of the tournament</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h3>Score system</h3>

				<mat-form-field class="full-width">
					<mat-label>Score system</mat-label>
					<mat-select formControlName="tournament-score-system" (selectionChange)="changeScoreInterface($event)">
						<mat-option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('tournament-score-system').errors && (getValidation('tournament-score-system').touched || getValidation('tournament-score-system').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>Select the score system that is being used for the multiplayer game.</p>

				<div class="alert alert-info" *ngIf="this.tournament.scoreInterface">
					{{ this.tournament.scoreInterface.getDescription() }}
				</div>
			</div>

			<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.isSoloTournament() == null">
				<h3>Tournament format</h3>

				<mat-form-field class="full-width">
					<mat-label>Tournament format</mat-label>
					<mat-select formControlName="tournament-format" (selectionChange)="changeTournamentFormat($event)">
						<mat-option value="solo">Solo</mat-option>
						<mat-option value="teams">Teams</mat-option>
					</mat-select>

					<mat-error *ngIf="getValidation('tournament-format').errors && (getValidation('tournament-format').touched || getValidation('tournament-format').dirty)">
						This field is required
					</mat-error>
				</mat-form-field>

				<p>The tournament format, teams or solo</p>
			</div>

			<div class="col" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.getTeamSize() == null && !tournament.isSoloTournament()">
				<h2>Team size</h2>

				<mat-form-field class="full-width">
					<mat-label>Team size</mat-label>
					<input matInput formControlName="tournament-team-size" (change)="changeInput()" />

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.required && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						This field is required
					</mat-error>

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.min && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						The minimum team size is 1
					</mat-error>

					<mat-error *ngIf="getValidation('tournament-team-size').errors && getValidation('tournament-team-size').errors.max && (getValidation('tournament-team-size').touched || getValidation('tournament-team-size').dirty)">
						The maximum team size is 8
					</mat-error>
				</mat-form-field>

				<p>
					Enter the amount of players that are allowed to play in a team.
				</p>
			</div>
		</div>

		<hr />

		<div *ngIf="!tournament.isSoloTournament()">
			<h3>Teams</h3>
			<p>Add a team to the tournament.</p>

			<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new team</button>
		</div>

		<div *ngIf="tournament.isSoloTournament()">
			<h3>Players</h3>
			<p>Add a player to the tournament.</p>

			<button mat-raised-button (click)="addTeam()" color="primary"><mat-icon>add</mat-icon> add new player</button>
		</div>

		<hr />

		<app-team [team]="team" [tournament]="tournament" [validationForm]="validationForm" *ngFor="let team of tournament.getTeams()"></app-team>
	</form>
</div>
