@import "variables";

.action-bar {
	display: flex;

	padding: 8px;
	width: 100%;
	gap: 4px;

	background: $irc-match-header-background-color;
	border-top: 1px solid $irc-border-color;

	.actions {
		display: flex;
		align-items: center;

		padding: 4px;
		gap: 4px;
		flex: 1;

		overflow-x: auto;
	}

	.settings {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-left: auto;
	}
}
