@import "variables";

.action-bar {
	display: flex;

	padding: 8px;
	width: 100%;
	gap: 4px;

	background: $irc-match-header-background-color;
	border-top: 1px solid $irc-border-color;

	.actions {
		display: flex;
		align-items: center;

		padding: 4px;
		gap: 4px;
		flex: 1;

		overflow-x: auto;
	}

	.settings {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-left: auto;
	}

	.button {
		display: flex;
		align-items: center;

		padding: 4px 8px;
		border-radius: 5px;

		white-space: nowrap;
		letter-spacing: 0.15px;

		background: $irc-input-background-color;
		border: 1px solid $irc-input-border-color;
		color: $irc-input-text-color;

		cursor: pointer;

		&:hover {
			background: $irc-input-background-color-active;
			color: $irc-input-text-color-active;
			border-color: $irc-input-border-color-active;
		}

		&.disabled {
			cursor: not-allowed;
		}
	}
}
