<div class="action-bar">
	<div class="actions">
		<button class="form-button no-wrap" [disabled]="!ircService.isAuthenticated" [class.danger]="ircShortcutCommand.warning == true" *ngFor="let ircShortcutCommand of ircShortcutCommandsService.ircShortcutCommands" (click)="executeIrcShortcutCommand(ircShortcutCommand)">
			{{ ircShortcutCommand.label }}
		</button>
	</div>

	<div class="settings">
		<button class="form-button primary" color="primary" (click)="shortcutSettings()">
			<mat-icon>settings</mat-icon>
		</button>
	</div>
</div>
