@import "variables";

.container-fluid {
	padding-left: 0;
}

.main-container {
	display: flex;
	height: 100vh;

	.debug {
		position: absolute;
		left: 3%;
		right: 3%;
		top: 1%;

		height: 40%;

		z-index: 50000;
	}

	.sidebar-container {
		display: flex;

		position: sticky;
		top: 0;
		height: 100vh;
	}

	.content-container {
		flex: 1;
		min-height: 0;
		height: 100%;
		overflow-y: auto;

		background-color: $background-color;
	}
}
