$border-alpha: 0.22;
$background-alpha: 0.12;
$header-alpha: 0.20;
$icon-alpha: 0.8;

$info-background-color: #0075dd;
$success-background-color: #00cd2a;
$warn-background-color: #ff9d00;
$danger-background-color: #ff3f32;

.alert {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	margin-top: 8px;
	margin-bottom: 8px;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 16px;

		.info {
			transform: rotate(180deg);
		}
	}

	.content {
		padding: 16px;
	}

	&.no-margin-top {
		margin-top: 0;
	}

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.info {
		background-color: rgba($info-background-color, $background-alpha);
		border: 1px solid rgba($info-background-color, $border-alpha);

		.header {
			background-color: rgba($info-background-color, $header-alpha);
			color: rgba($info-background-color, $icon-alpha);
		}
	}

	&.success {
		background-color: rgba($success-background-color, $background-alpha);
		border: 1px solid rgba($success-background-color, $border-alpha);

		.header {
			background-color: rgba($success-background-color, $header-alpha);
			color: rgba($success-background-color, $icon-alpha);
		}
	}

	&.warn {
		background-color: rgba($warn-background-color, $background-alpha);
		border: 1px solid rgba($warn-background-color, $border-alpha);

		.header {
			background-color: rgba($warn-background-color, $header-alpha);
			color: rgba($warn-background-color, $icon-alpha);
		}
	}

	&.danger {
		background-color: rgba($danger-background-color, $background-alpha);
		border: 1px solid rgba($danger-background-color, $border-alpha);

		.header {
			background-color: rgba($danger-background-color, $header-alpha);
			color: rgba($danger-background-color, $icon-alpha);
		}
	}
}
