$info-background-light-color: #0075dd;
$info-background-dark-color: #0056a7;

$success-background-light-color: #00cd2a;
$success-background-dark-color: #009a1d;

$warn-background-light-color: #ff9d00;
$warn-background-dark-color: #cb7600;

$danger-background-light-color: #ff3f32;
$danger-background-dark-color: #de2d23;

.alert {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	margin-top: 8px;
	margin-bottom: 8px;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 16px;

		.info {
			transform: rotate(180deg);
		}
	}

	.content {
		padding: 16px;
	}

	&.no-margin-top {
		margin-top: 0;
	}

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.info {
		background-color: $info-background-light-color;

		.header {
			background-color: $info-background-dark-color;
		}
	}

	&.success {
		background-color: $success-background-light-color;

		.header {
			background-color: $success-background-dark-color;
		}
	}

	&.warn {
		background-color: $warn-background-light-color;
		color: #000000;

		.header {
			background-color: $warn-background-dark-color;
			color: #ffffff;
		}
	}

	&.danger {
		background-color: $danger-background-light-color;

		.header {
			background-color: $danger-background-dark-color;
		}
	}
}
