<div class="scroll">
    <div class="row">
        <div class="col-7">
			<button [routerLink]="['/mappool-create']" class="btn btn-primary mt-4">Create a new mappool</button>
			<button [routerLink]="['/my-published-mappools']" class="btn btn-primary ml-2 mt-4" *ngIf="canPublish()">My published mappools</button>
        </div>

        <div class="col-5">
            <div class="input-group mt-4">
                <input type="text" class="form-control" placeholder="Mappool id" [(ngModel)]="mappoolId" />

                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="importMappool()">Import</button>
                </div>
            </div>
        </div>
    </div>

	<hr />

	<app-mappool-summary [mappool]="mappool" *ngFor="let mappool of mappoolService.allMappools"></app-mappool-summary>
</div>
