<div class="scroll">
    <div class="row">
        <div class="col-7">
            <button [routerLink]="['/mappool-create']" class="btn btn-primary mt-4">Create a new mappool</button>
        </div>

        <div class="col-5">
            <div class="input-group mt-4">
                <input type="text" class="form-control" placeholder="Mappool id" [(ngModel)]="mappoolId" />

                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="importMappool()">Import</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="mappool" *ngFor="let mappool of mappoolService.allMappools">
        <div class="row">
            <div class="col-9">
                <h1>{{ mappool.name }}</h1>
                <span><b>Mappool id:</b> {{ mappool.id }}</span>
            </div>

            <div class="col-3">
                <div class="btn-group float-right">
					<button class="btn btn-primary" (click)="publishMappool(mappool)" *ngIf="canPublish()">Publish</button>
                    <button class="btn btn-danger" (click)="deleteMappool(mappool)">Delete</button>
                </div>
            </div>
        </div>

        <hr />

        <h3>Mod brackets</h3>
        <div class="modbrackets">
            <div class="bracket" *ngFor="let bracket of mappool.modBrackets" (click)="editBracket(mappool, bracket)">
                <div><h5>{{ bracket.bracketName }}</h5></div>
                <div>{{ bracket.beatmaps.length }} map<span *ngIf="bracket.beatmaps.length != 1">s</span></div>
                <div><code>{{ bracket.mods }}</code></div>
            </div>
        </div>
    </div>
</div>
