<div class="tournament" (click)="editTournament(tournament, $event)">
	<div class="header">
		<div class="information">
			<div class="id" matTooltip="Tournament import id" *ngIf="tournament.publishId != null">
				{{ tournament.publishId }}
			</div>

			<div class="id" matTooltip="Tournament import id" *ngIf="publishedTournament == true && tournament.publishId == null">
				{{ tournament.id }}
			</div>

			<div class="tournament-name">
				<div class="name">
					{{ tournament.name }}
				</div>

				<div class="created-by">
					<i>Created by <a [href]="" (click)="electronService.openLink(tournament.createdBy.getOsuProfileUrl())">{{ tournament.createdBy.username }}</a></i>
				</div>
			</div>
		</div>

		<div class="buttons">
			<button mat-mini-fab color="primary" matTooltip="Publish this tournament" [matTooltipPosition]="'above'" (click)="publishTournament(tournament)"><mat-icon>cloud_upload</mat-icon></button>
			<button mat-mini-fab color="warn" matTooltip="Delete this tournament" [matTooltipPosition]="'above'" (click)="deleteTournament(tournament)"><mat-icon>delete</mat-icon></button>
		</div>
	</div>

	<hr />

	<div class="body">
		<div class="body-blocks">
			<h3>Administrators</h3>

			<div class="all-administrators">
				<div class="administrator" *ngIf="tournament.administrators.length <= 0">
					<app-alert alertType="info">There are no administrators.</app-alert>
				</div>

				<div class="administrator" *ngFor="let administrator of tournament.administrators">
					<a [href]="" (click)="electronService.openLink(administrator.getOsuProfileUrl())">{{ administrator.username }}</a>
				</div>
			</div>
		</div>

		<div class="body-blocks mappool-area">
			<h3 *ngIf="!tournament.isSoloTournament()">Team count</h3>
			<h3 *ngIf="tournament.isSoloTournament()">Player count</h3>
			{{ tournament.teams.length }}

			<mat-divider class="divider"></mat-divider>

			<h3>Mappools</h3>

			<div class="mappools">
				<div class="mappool" *ngFor="let mappool of tournament.mappools">
					{{ mappool.name }}
				</div>
			</div>
		</div>
	</div>
</div>
