<div class="tournament" (click)="editTournament(tournament, $event)">
	<div class="header">
		<div class="information">
			<div class="id" matTooltip="Tournament import id" *ngIf="tournament.publishId != null">
				{{ tournament.publishId }}
			</div>

			<div class="id" matTooltip="Tournament import id" *ngIf="publishedTournament == true && tournament.publishId == null">
				{{ tournament.id }}
			</div>

			<div class="name">
				{{ tournament.name }}
			</div>
		</div>

		<div class="buttons">
			<button mat-mini-fab color="primary" matTooltip="Publish this tournament" [matTooltipPosition]="'above'" (click)="publishTournament(tournament)"><mat-icon>cloud_upload</mat-icon></button>
			<button mat-mini-fab color="warn" matTooltip="Delete this tournament" [matTooltipPosition]="'above'" (click)="deleteTournament(tournament)"><mat-icon>delete</mat-icon></button>
		</div>
	</div>

	<hr />

	<div class="body">
		<div class="body-blocks" *ngIf="!tournament.isSoloTournament()">
			<h3>Teams</h3>

			<div class="tournament-teams">
				<div class="team" *ngFor="let team of tournament.teams">
					<h5>{{ team.name }}</h5>

					{{ team.players.length }} player<span *ngIf="team.players.length > 1">s</span>
				</div>
			</div>
		</div>

		<div class="body-blocks" *ngIf="tournament.isSoloTournament()">
			<h3>Players</h3>

			<div class="tournament-players">
				<div class="player" *ngFor="let team of tournament.teams">
					<h5>{{ team.name }}</h5>
				</div>
			</div>
		</div>

		<div class="body-blocks mappool-area">
			<h3>Mappools</h3>

			<div class="mappools">
				<div class="mappool" *ngFor="let mappool of tournament.mappools">
					<h4>{{ mappool.name }}</h4>

					<div class="mod-brackets">
						<div class="mod-bracket" *ngFor="let bracket of mappool.modBrackets">
							{{ bracket.name }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
