@import "variables";

.tournament {
	overflow: hidden;

	margin-bottom: 8px;
	padding: 16px;

	border: 1px solid darken(#3c4452, 15%);

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

	.header {
		display: flex;
		flex-direction: row;

		justify-content: space-between;

		.information {
			display: flex;
			align-items: center;

			.id {
				background-color: $primary;
				color: black;

				border-radius: 9px;

				padding: 2px 16px 2px 16px;
				margin-right: 8px;
			}

			.tournament-name {
				.name {
					font-size: 18px;
				}

				.created-by {
					font-size: 12px;
				}
			}
		}

		.buttons {
			button {
				margin-right: 8px;
			}
		}
	}

	.body {
		display: flex;

		.body-blocks {
			display: flex;
			flex-direction: column;
			flex: 1 0 50%;

			h3 {
				margin-bottom: 0;
			}
		}

		.all-administrators {
			display: flex;
			flex-direction: row;

			.administrator {
				display: flex;
				flex-direction: row;

				padding: 8px;
				margin: 4px;

				border: 1px solid darken(#3c4452, 15%);
				-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
				-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
				box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
			}
		}

		.mappool-area {
			display: flex;
			flex-direction: column;

			h3 {
				margin-bottom: 0;
			}

			.mappools {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.mappool {
					display: flex;
					flex-direction: row;

					padding: 8px;
					margin: 4px;

					border: 1px solid darken(#3c4452, 15%);
					-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
					box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
				}
			}
		}
	}

	&:hover {
		border: 1px solid white;

		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);

		cursor: pointer;
	}
}

.divider {
	margin-top: 8px;
	margin-bottom: 8px;
}
