spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
logging.level.root=info

jwt.issuer=
jwt.passphrase=

#server.port=8079
#server.ssl.key-store=/etc/letsencrypt/live/wybin.xyz/keystore.p12
#server.ssl.key-store-password=
#server.ssl.keyStoreType=PKCS12
#server.ssl.keyAlias=tomcat
