<div class="scroll container-fluid">
	<div class="row single-row">
		<div class="column">
			<h1>wyReferee</h1>
			<p>
				Welcome to wyReferee! This client will help you with everything referee related.
				You can create or import a tournament, which allows you to pick maps from a mappool with a single click on a button.
				It keeps track of the current picks, bans and score and a lot more!
			</p>
		</div>
	</div>

	<div class="row single-row">
		<div class="column">
			<h1>Help! I found a bug/I want to request a new feature</h1>
			<p>Head on over to <a routerLink="" (click)="electronService.openLink('https://github.com/wesley-221/wyReferee/issues')">Github</a> and create an issue.</p>
		</div>
	</div>

	<div class="row single-row">
		<div class="column">
			<h1>Getting started</h1>
			<p>Because wyReferee has a lot of functionality, it might be daunting to get started. To help you get acquinted with wyReferee there will be a couple of steps listed below to help you get started.</p>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h2>Login</h2>
			<p>To get you all ready to go, we need to know who you are. To login, you can follow the <code>Login</code> tutorial which can be found <a routerLink="/tutorial">here (click me)</a>, or simply go to <a routerLink="/authentication">authentication (click me)</a> and follow the steps there.</p>
		</div>

		<div class="column">
			<h2>Customizing Discord results</h2>
			<p>wyReferee will send messages to Discord when a team picks a map, bans a map, wins or loses a map, etc. You can customize how this message looks by going to <a routerLink="/webhook">webhook (click me)</a>. Simply fill in the text fields and you can see what the Discord message will look like.</p>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h2>Importing a tournament</h2>
			<p>For wyReferee to work to its fullest extend, you will need to import a tournament (or create one yourself!). To get you started with importing a tournament, you can follow the <code>Importing tournaments</code> tutorial which can be found <a routerLink="/tutorial">here (click me)</a>.</p>
		</div>

		<div class="column">
			<h2>Creating and managing a lobby</h2>
			<p>Of course you also have to create a lobby, otherwise it'll be hard to actually referee a match. Once again to help you out with this, you can head over to the wiki by clicking <a routerLink="" (click)="electronService.openLink('https://github.com/wesley-221/wyReferee/wiki/5.1-Create-a-multiplayer-lobby')">here (create a lobby)</a> and <a routerLink="" (click)="electronService.openLink('https://github.com/wesley-221/wyReferee/wiki/5.2-Lobby-view-(WIP)')">here (lobby view)</a>. These might be slightly outdated, but should get you started either way. Eventually these two tutorials will also be updated to a tutorial.</p>
		</div>
	</div>

	<div class="row single-row">
		<div class="column">
			<h2>Irc</h2>
			<p>And this is where you will be spending most of your time, the irc side of the client! This is where most of the magic happens and will help you referee a match without having to worry of keeping track of score, pick order, who won the match and so forth. To learn more about how this part of the client is all setup, you can head over to the wiki by clicking <a routerLink="" (click)="electronService.openLink('https://github.com/wesley-221/wyReferee/wiki/6-Irc')">here (click me)</a>.</p>
		</div>
	</div>
</div>
