<div class="toast-area">
    <div *ngFor="let toast of allToasts" (click)="removeToast(toast)" class="toast mb-2 shadow row">
        <div class="col-1">
            <fa-icon *ngIf="toast.toastType == toastType.Information" icon="info-circle" size="lg"></fa-icon>
            <fa-icon *ngIf="toast.toastType == toastType.Warning" icon="exclamation-circle" size="lg"></fa-icon>
            <fa-icon *ngIf="toast.toastType == toastType.Error" icon="exclamation-circle" size="lg"></fa-icon>
        </div>

        <div class="col">
            {{ toast.message }}
        </div>
    </div>
</div>