<div class="toast-area">
	<div *ngFor="let toast of allToasts" (click)="removeToast(toast)" class="toast" [@simpleFadeAnimation]="'in'"
			[ngClass]="{'toast-information': toast.toastType == toastType.Information,
						'toast-warning': toast.toastType == toastType.Warning,
						'toast-error': toast.toastType == toastType.Error }">
		<div class="icon">
			<mat-icon *ngIf="toast.toastType == toastType.Information">info</mat-icon>
			<mat-icon *ngIf="toast.toastType == toastType.Warning">error</mat-icon>
			<mat-icon *ngIf="toast.toastType == toastType.Error">error</mat-icon>
		</div>

		<div class="message">
			{{ toast.message }}
		</div>
	</div>
</div>
