@import "variables";

$toast-background-color: #000000da;
$toast-border-height: 4px;

.toast-area {
	position: absolute;
	z-index: 5000;

	left: 0;
	right: 0;
	top: 0;

	margin-left: auto;
	margin-right: auto;

	width: 300px;

	padding-top: 16px;

	overflow: hidden;

	.toast {
		.border {
			background-color: lighten($toast-background-color, 30%);
			height: $toast-border-height;

			.inner-border {
				background-color: $danger;
				height: $toast-border-height;

				width: 100%;
			}
		}

		&.in {
			.border {
				.inner-border {
					width: 0%;
				}
			}
		}

		.toast-container {
			display: flex;

			padding: 8px;
			margin-bottom: 3px;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			background-color: $toast-background-color;

			justify-content: space-between;

			.icon {
				display: flex;
				align-self: center;
			}

			&:hover {
				cursor: pointer;
			}
		}

		&.toast-error {
			.border {
				.inner-border {
					background-color: $danger;
				}
			}

			.toast-container {
				.icon {
					color: $danger;
				}
			}
		}

		&.toast-warning {
			.border {
				.inner-border {
					background-color: $warning;
				}
			}

			.toast-container {
				.icon {
					color: $warning;
				}
			}
		}

		&.toast-information {
			.border {
				.inner-border {
					background-color: $info;
				}
			}

			.toast-container {
				.icon {
					color: $info;
				}
			}
		}
	}
}
