@import "variables";

$sidebar-width: 250px;

.irc {
	display: flex;
	flex-direction: column;

	height: 100vh;

	.first-pick-not-set {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 8px 16px;
		gap: 8px;

		background: rgba(255, 61, 110, 0.1);
		color: #d47088;
		border-top: 1px solid rgba(255, 61, 110, 0.14);

		transition: background 0.2s;
		cursor: pointer;
	}

	.irc-match-body {
		display: flex;
		flex-direction: row;

		flex: 1;
		min-height: 0;
		height: 100%;
		overflow: hidden;

		.irc-sidebar-left {
			display: flex;
			flex-direction: column;

			background-color: $irc-sidebar-background-color;
			border-right: 1px solid $irc-border-color;

			flex: 0 0 $sidebar-width;
			min-width: 0;

			.irc-sidebar-header {
				display: flex;

				padding: 4px;
				gap: 4px;

				.form-button {
					flex: 1;
				}
			}

			.irc-lobbies {
				height: 250px;
			}

			.irc-slots {
				flex: 1;
				min-height: 0;
			}
		}

		.irc-body {
			display: flex;
			flex-direction: column;

			flex: 1 1 auto;
			min-width: 0;

			overflow: hidden;

			.irc-chat-container {
				flex: 1;
				position: relative;
			}

			.irc-chat-controls {
				flex: 0 0 auto;
			}
		}

		.irc-sidebar-right {
			display: flex;
			flex-direction: column;

			background-color: $sidebar-background-color;
			border-left: 1px solid $irc-border-color;

			flex: 0 0 $sidebar-width;

			.irc-mappool {
				flex: 1;
				min-height: 0;
			}
		}
	}
}
