@import "variables";

$sidebar-width: 250px;

.irc {
	display: flex;
	flex-direction: column;

	height: 100vh;

	.first-pick-not-set {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 8px 16px;
		gap: 8px;

		background: rgba(255, 61, 110, 0.1);
		color: #d47088;
		border-bottom: 1px solid rgba(255, 61, 110, 0.14);

		transition: background 0.2s;
		cursor: pointer;
	}

	.irc-match-body {
		display: flex;
		flex-direction: row;

		flex: 1;
		min-height: 0;
		height: 100%;
		overflow: hidden;

		--sidebar-left-width: $sidebar-width;
		--sidebar-right-width: $sidebar-width;

		.irc-sidebar-container {
			display: flex;
			flex-direction: column;

			min-height: 0;
			gap: 4px;

			&.left {
				flex: 0 0 var(--sidebar-left-width);
			}

			&.right {
				flex: 0 0 var(--sidebar-right-width);
			}

			.irc-sidebar-header {
				display: flex;

				padding: 0 4px;
				gap: 4px;

				.form-button {
					flex: 1;
					justify-content: center;
				}
			}
		}

		.irc-sidebar {
			display: flex;
			flex-direction: column;

			background-color: $irc-sidebar-background-color;

			flex: 1 1 auto;
			min-height: 0;

			&.left {
				border-right: 1px solid $irc-border-color;
			}

			&.right {
				border-left: 1px solid $irc-border-color;
			}

			.sidebar-item {
				display: flex;
				flex-direction: column;
				background-color: $irc-sidebar-background-color;

				overflow: hidden;

				.content {
					flex: 1;
					min-height: 0;
				}
			}
		}

		.irc-sidebar-resize {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			width: 16px;
			gap: 4px;

			flex-shrink: 0;
			position: relative;

			background-color: $sub-sidebar-background-color;

			cursor: col-resize;
			transition: border 0.15s;

			span {
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background: $irc-input-text-color;
				transition: background 0.15s;
			}

			&.left {
				border-right: 1px solid $irc-border-color;
			}

			&.right {
				border-left: 1px solid $irc-border-color;
			}

			&.bottom {
				flex-direction: row;

				width: auto;
				height: 16px;

				border-bottom: 1px solid $irc-border-color;

				cursor: row-resize;
			}

			&:hover,
			&.active {
				background-color: rgba($primary, 0.1);
				border-color: rgba($primary, 0.26);

				backdrop-filter: blur(6px);
				-webkit-backdrop-filter: blur(6px);

				span {
					background: $irc-input-text-color-active;
				}
			}
		}

		.irc-body {
			display: flex;
			flex-direction: column;

			flex: 1 1 auto;
			min-width: 0;

			overflow: hidden;

			.irc-chat-container {
				flex: 1;
				position: relative;
			}

			.irc-chat-controls {
				flex: 0 0 auto;
			}
		}
	}
}
