@import "variables";

.irc {
	display: flex;
	flex-direction: column;

	height: 100vh;

	.irc-match-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		min-height: 75px;
		position: relative;

		background-color: $irc-match-header-background-color;
		border-bottom: 1px solid $irc-border-color;
	}

	.first-pick-not-set {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 8px 16px;
		gap: 8px;

		background: rgba(255, 61, 110, 0.1);
		color: #d47088;
		border-top: 1px solid rgba(255, 61, 110, 0.14);

		transition: background 0.2s;
		cursor: pointer;
	}

	.irc-match-body {
		display: flex;
		flex-direction: row;

		flex: 1;
		min-height: 0;
		height: 100%;
		overflow: hidden;

		.irc-sidebar-left {
			display: flex;
			flex-direction: column;
			flex-grow: 0;

			width: 220px;
			background-color: $irc-sidebar-background-color;
			border-right: 1px solid $irc-border-color;

			.irc-sidebar-header {
				display: flex;
				flex-direction: column;
				flex: 0 0 auto;

				padding: 4px;
				gap: 4px;
			}

			.irc-lobbies {
				height: 250px;
			}

			.irc-slots {
				flex: 1;
				overflow-y: auto;
			}
		}

		.irc-body {
			display: flex;
			flex-direction: column;

			width: 100%;
			height: 100%;

			overflow: hidden;

			.irc-chat-container {
				flex: 1;
				position: relative;
			}

			.irc-chat-controls {
				flex: 0 0 auto;
			}
		}

		.irc-sidebar-right {
			display: flex;
			flex-direction: column;
			flex-grow: 0;

			background-color: $sidebar-background-color;
			border-left: 1px solid $irc-border-color;

			width: 300px;

			.irc-mappool {
				flex: 1;
				min-height: 0;
			}
		}
	}
}
