<div class="irc">
	<div class="channels">
		<div class="header">
			<button mat-flat-button class="join-channel-button full-width" (click)="joinChannel()" [disabled]="!ircService.isAuthenticated">
				<span class="join-channel-text">Join channel</span>
				<mat-icon class="join-channel-icon">add</mat-icon>
			</button>

			<div class="connect-area" *ngIf="isAttemptingToJoin">
				<div><mat-spinner [diameter]="40"></mat-spinner></div>
				Attempting to join {{ attemptingToJoinChannel }}
			</div>
		</div>

		<div class="all-channels" *ngIf="ircService.isAuthenticated" cdkDropList (cdkDropListDropped)="dropChannel($event)">
			<div class="channel" *ngFor="let channel of channels" cdkDrag cdkDragLockAxis="y" cdkDragBoundary="all-channels"
								[ngClass]="{'active': selectedChannel != undefined && (channel.name == selectedChannel.name), 'inactive': !channel.active, 'unread': channel.hasUnreadMessages, 'editing': channel.editingLabel }">
				<div class="channel-name" (click)="changeChannel(channel.name)" *ngIf="!channel.editingLabel">
					<span *ngIf="channel.label">{{ channel.label }}</span>
					<span *ngIf="!channel.label">{{ channel.name }}</span>
				</div>

				<div class="channel-name-label" *ngIf="channel.editingLabel">
					<mat-form-field>
						<mat-label>Label</mat-label>
						<input matInput (keyup.enter)="editLabel(channel)" (keyup.esc)="cancelEditLabel(channel)" [(ngModel)]="channel.label" />
					</mat-form-field>
				</div>

				<div class="side-button">
					<div class="button not-muted" (click)="playSound(channel, false)" *ngIf="channel.playSoundOnMessage">
						<mat-icon>volume_up</mat-icon>
					</div>

					<div class="button muted" (click)="playSound(channel, true)" *ngIf="!channel.playSoundOnMessage">
						<mat-icon>volume_off</mat-icon>
					</div>

					<div class="button edit" (click)="editLabel(channel)" *ngIf="!channel.editingLabel">
						<mat-icon>edit</mat-icon>
					</div>

					<div class="button edit" (click)="editLabel(channel)" *ngIf="channel.editingLabel">
						<mat-icon>save</mat-icon>
					</div>

					<div class="button red" (click)="partChannel(channel.name)">
						<mat-icon>close</mat-icon>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="chat-content">
		<div class="chat-container" [ngClass]="{'in': !isPlayerManagementMinimized && selectedChannel != null && selectedChannel.name.startsWith('#mp_') }">
			<div class="match-header" *ngIf="(selectedChannel != null && selectedChannel.name.startsWith('#mp_')) && this.selectedLobby != null && selectedLobby.isQualifierLobby == false">
				Score: {{ selectedLobby.teamOneName }} : {{ teamOneScore }} - {{ teamTwoScore }} : {{ selectedLobby.teamTwoName }} <span *ngIf="this.hasWon == null">| Next pick: <b>{{ nextPick }}</b></span> <br />

				<div *ngIf="selectedChannel != null && this.matchpoint != null">
					Matchpoint for <b>{{ this.matchpoint }}</b>
				</div>

				<div *ngIf="selectedChannel != null && this.hasWon != null">
					<b>{{ this.hasWon }}</b> has won the match, GG and wp!
				</div>

				<div class="warning first-pick-dialog" *ngIf="selectedLobby.firstPick == null || selectedLobby.bestOf == null" (click)="openLobbyDialog()">
					You haven't set the <b>First pick</b> of the match yet. <br />
					<b>Click on me to change who picks first.</b>
				</div>
			</div>

			<virtual-scroller class="messages" [items]="chats" [stripedTable]="true" (vsUpdate)="viewPortItems = $event">
				<app-alert alertType="warn" *ngIf="chats.length == 0 && selectedChannel != undefined">There are no messages yet.</app-alert>
				<app-alert alertType="warn" *ngIf="chats.length == 0 && selectedChannel == undefined">There is no selected channel.</app-alert>

				<div class="chat" *ngFor="let chat of viewPortItems">
					<div class="chat-content divider" *ngIf="!chat.isADivider">
						<div class="time" [title]="chat.date">
							{{ chat.time }}
						</div>

						<div class="author" [matTooltip]="chat.author" *ngVar="(selectedLobby != null ? selectedLobby.multiplayerLobbyPlayers.getPlayerByUsername(chat.author) : null) as ircManagementPlayer" [ngClass]="{'me': chat.author == ircService.authenticatedUser,
							'bancho': chat.author == 'BanchoBot',
							'blue': ircManagementPlayer != null ? ircManagementPlayer.team == 'Blue' : false,
							'red': ircManagementPlayer != null ? ircManagementPlayer.team == 'Red' : false}" (click)="openUserpage(chat.author)">
							{{ chat.author }}
						</div>

						<div class="message">
							<div class="message-piece" *ngFor="let chatPiece of chat.messageBuilder">
								<span *ngIf="chatPiece.messageType == 'Message'">{{ chatPiece.message }}</span>

								<div class="link" *ngIf="chatPiece.messageType == 'Link'" (click)="electronService.openLink(chatPiece.message)">
									<span class="url" *ngIf="chatPiece.linkName == null">{{ chatPiece.message }}</span>
									<span class="url" *ngIf="chatPiece.linkName != null">{{ chatPiece.linkName }}</span>
								</div>

								<div class="pick-beatmap" *ngIf="chatPiece.messageType == 'ModAcronymPick'" (click)="pickBeatmapFromAcronym(chatPiece)" matTooltip="Click to pick beatmap" matTooltipPosition="above">
									<span class="url">{{ chatPiece.message }}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="chat-content" *ngIf="chat.isADivider">
						<div class="divider"><span>{{ chat.author }}</span></div>
					</div>
				</div>
			</virtual-scroller>

			<div class="action-bar">
				<div class="actions">
					<div class="action" *ngFor="let ircShortcutCommand of ircShortcutCommandsService.ircShortCutCommands" [ngClass]="{'disabled': !ircService.isAuthenticated}" (click)="executeIrcShortcutCommand(ircShortcutCommand)">
						{{ ircShortcutCommand.label }}
					</div>
				</div>

				<div class="settings">
					<button mat-mini-fab color="primary" (click)="shortcutSettings()"><mat-icon>settings</mat-icon></button>
				</div>
			</div>

			<div class="send-message">
				<input type="text" placeholder="Message..." #chatMessage [disabled]="!ircService.isAuthenticated || (selectedChannel == undefined || !selectedChannel.active)" (keypress)="sendMessage($event)" />
			</div>

			<div class="side-menu" [ngClass]="{'in': !isOptionMenuMinimized }" *ngIf="selectedChannel != null && selectedChannel.name.startsWith('#mp_')">
				<div class="side-menu-button">
					<button mat-mini-fab color="primary" matTooltip="Open referee settings" (click)="isOptionMenuMinimized = !isOptionMenuMinimized"><mat-icon>sports_score</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Open lobby settings" (click)="openLobbyDialog()"><mat-icon>settings</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Go to multiplayer lobby match overview" (click)="navigateLobbyOverview()" *ngIf="selectedLobby && (selectedLobby.tournament != null || selectedLobby.tournament != undefined)"><mat-icon>list</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Show all the players in the current lobby" (click)="togglePlayerManagement()" *ngIf="selectedLobby && (selectedLobby.tournament != null || selectedLobby.tournament != undefined)"><mat-icon>people</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Send beatmap result to irc" (click)="sendMatchResult()" *ngIf="selectedLobby && (selectedLobby.tournament != null || selectedLobby.tournament != undefined)"><mat-icon>send</mat-icon></button>
				</div>

				<div class="side-menu-content">
					<div class="header">
						<div class="row">
							<div class="col">
								<mat-form-field class="full-width">
									<mat-label>Team mode</mat-label>
									<mat-select #teamMode (selectionChange)="onRoomSettingChange()" [value]="selectedChannel.teamMode">
										<mat-option></mat-option>
										<mat-option [value]="0">Head To Head</mat-option>
										<mat-option [value]="1">Tag Coop</mat-option>
										<mat-option [value]="2">Team Vs</mat-option>
										<mat-option [value]="3">Tag Team Vs</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col">
								<mat-form-field class="full-width">
									<mat-label>Win condition</mat-label>
									<mat-select #winCondition (selectionChange)="onRoomSettingChange()" [value]="selectedChannel.winCondition">
										<mat-option [value]="0">Score</mat-option>
										<mat-option [value]="1">Accuracy</mat-option>
										<mat-option [value]="2">Combo</mat-option>
										<mat-option [value]="3">Score V2</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<mat-form-field class="full-width">
									<mat-label>Players</mat-label>
									<mat-select #players (selectionChange)="onRoomSettingChange()" [value]="selectedChannel.players">
										<mat-option></mat-option>
										<mat-option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]" [value]="number">{{ number }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>

						<div class="row" *ngIf="selectedLobby && selectedLobby.tournament != null && selectedLobby.tournament.format == 'teams'">
							<div class="col">
								<div class="invite-header" [ngClass]="{'active': isInvitesMinimized == false}" (click)="isInvitesMinimized = !isInvitesMinimized">
									<div class="invite-header-icon">
										<mat-icon *ngIf="isInvitesMinimized == true">chevron_right</mat-icon>
										<mat-icon *ngIf="isInvitesMinimized == false">expand_more</mat-icon>
									</div>

									<div>Teams</div>
								</div>

								<div class="invite-body" *ngIf="isInvitesMinimized == false">
									<div class="invite-team">
										<h3>{{ selectedLobby.teamOneName }}</h3>

										<div class="player" *ngFor="let player of selectedLobby.getTeamPlayersFromTournament(selectedLobby.teamOneName)">
											<div class="name">
												{{ player.name }}
											</div>

											<div class="actions">
												<div class="custom-button" (click)="invitePlayer(player)" matTooltip="Click to invite player">
													<mat-icon>add</mat-icon>
												</div>

												<!-- TODO: implement captain for rng -->
												<!-- <div class="custom-button" (click)="assignPlayerAsCaptain(player, 1)" matTooltip="Assign player as captain" [ngClass]="{'disabled': selectedLobby.teamOneCaptain == player}">
													<mat-icon>star</mat-icon>
												</div> -->
											</div>
										</div>
									</div>

									<div class="invite-team">
										<h3>{{ selectedLobby.teamTwoName }}</h3>

										<div class="player" *ngFor="let player of selectedLobby.getTeamPlayersFromTournament(selectedLobby.teamTwoName)">
											<div class="name">
												{{ player.name }}
											</div>

											<div class="actions">
												<div class="custom-button" (click)="invitePlayer(player)" matTooltip="Click to invite player">
													<mat-icon>add</mat-icon>
												</div>

												<!-- TODO: implement captain for rng -->
												<!-- <div class="custom-button" (click)="assignPlayerAsCaptain(player, 2)" matTooltip="Assign player as captain" [ngClass]="{'disabled': selectedLobby.teamTwoCaptain == player}">
													<mat-icon>star</mat-icon>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row" *ngIf="selectedLobby && selectedLobby.tournament != null">
							<div class="col">
								<mat-form-field class="full-width">
									<mat-label>Mappool</mat-label>
									<mat-select (selectionChange)="onMappoolChange($event)">
										<mat-option></mat-option>
										<mat-option *ngFor="let mappool of selectedLobby.tournament.mappools" [value]="mappool.index">{{ mappool.name }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>

						<div class="row" *ngIf="selectedLobby && selectedLobby.mappool != null">
							<div class="col">
								<mat-form-field class="full-width">
									<mat-label>Search for beatmap...</mat-label>
									<input matInput [(ngModel)]="searchValue" />
								</mat-form-field>
							</div>
						</div>
					</div>

					<div class="mappool" *ngIf="selectedLobby && selectedLobby.mappool != null">
						<div class="mod-bracket" *ngFor="let bracket of (selectedLobby.mappool.modBrackets | searchmodbracket : searchValue )">
							<div *ngIf="selectedLobby.mappool.type != 3">
								<hr />
								<h3>{{ bracket.name }}</h3>
								<hr />
							</div>

							<div *ngIf="selectedLobby.mappool.type == 3">
								<hr />

								<div class="pick-rng-map">
									<h3>{{ bracket.name }}</h3>

									<button mat-raised-button color="primary" (click)="pickRandomMap(bracket)" [disabled]="!selectedChannel.active">Pick random map</button>
								</div>

								<hr />
							</div>

							<div class="pick-random-map" *ngIf="selectedLobby.mappool.type == 2">
								<button mat-raised-button color="primary" (click)="pickMysteryMap(selectedLobby.mappool, bracket)" [disabled]="!selectedChannel.active">Pick random map</button>
							</div>

							<div *ngIf="selectedLobby.mappool.type != 2">
								<div class="map" *ngFor="let beatmap of bracket.beatmaps">
									<div class="has-been-picked" [ngClass]="{ 'beatmap-picked-team-one': beatmapIsPickedByTeamOne(selectedLobby, beatmap.beatmapId), 'beatmap-picked-team-two': beatmapIsPickedByTeamTwo(selectedLobby, beatmap.beatmapId) }">
										<div class="text">
											Picked by {{ beatmapIsPickedByTeamOne(selectedLobby, beatmap.beatmapId) ? selectedLobby.teamOneName : selectedLobby.teamTwoName }}
										</div>
									</div>

									<div class="has-been-banned" [ngClass]="{ 'is-banned-one': selectedLobby.beatmapIsBannedByTeamOne(beatmap.beatmapId), 'is-banned-two': selectedLobby.beatmapIsBannedByTeamTwo(beatmap.beatmapId) }">
										<div class="text">
											Banned by {{ selectedLobby.beatmapIsBannedByTeamOne(beatmap.beatmapId) ? selectedLobby.teamOneName : selectedLobby.teamTwoName }}
										</div>
									</div>

									<div class="name" (click)="electronService.openLink(beatmap.beatmapUrl)">
										{{ beatmap.beatmapName }}
									</div>

									<div class="buttons">
										<button mat-mini-fab color="warn" class="button-align" matTooltip="Ban this beatmap" matTooltipPosition="left" (click)="banBeatmap(beatmap, bracket, selectedLobby)" *ngIf="!selectedLobby.beatmapIsBanned(beatmap.beatmapId)"><mat-icon svgIcon="hammer"></mat-icon></button>
										<button mat-mini-fab color="accent" class="button-align" matTooltip="Unban this beatmap" matTooltipPosition="left" (click)="unbanBeatmap(beatmap)" *ngIf="selectedLobby.beatmapIsBanned(beatmap.beatmapId)"><mat-icon>thumb_up</mat-icon></button>

										<button mat-mini-fab color="accent" class="button-align" matTooltip="Change which team has picked this map" matTooltipPosition="left" (click)="changePickedBy(beatmap)" *ngIf="selectedLobby.beatmapIsPicked(beatmap.beatmapId)"><mat-icon>change_circle</mat-icon></button>

										<button mat-mini-fab color="primary" class="button-align" matTooltip="Pick this beatmap" matTooltipPosition="left" (click)="pickBeatmap(beatmap, bracket, selectedLobby.tournament.gamemodeId)" [disabled]="selectedLobby.beatmapIsBanned(beatmap.beatmapId)" *ngIf="!selectedLobby.beatmapIsPicked(beatmap.beatmapId)"><mat-icon>push_pin</mat-icon></button>
										<button mat-mini-fab color="warn" class="button-align" matTooltip="Unpick this beatmap" matTooltipPosition="left" (click)="unpickBeatmap(beatmap)" [disabled]="selectedLobby.beatmapIsBanned(beatmap.beatmapId)" *ngIf="selectedLobby.beatmapIsPicked(beatmap.beatmapId)"><mat-icon>push_pin</mat-icon></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="player-management" [ngClass]="{'in': !isPlayerManagementMinimized}" *ngIf="selectedChannel != null && selectedLobby && selectedChannel.name.startsWith('#mp_')">
			<div class="players" *ngIf="selectedLobby.multiplayerLobbyPlayers != null">
				<div class="player" *ngFor="let player of selectedLobby.multiplayerLobbyPlayers.players" [ngClass]="{'red': player.team == 'Red', 'blue': player.team == 'Blue'}">
					<div class="top-row">
						<div class="column">
							<div class="column">
								Slot {{ player.slot }}
							</div>

							<div class="column">
								<b>{{ player.username }}</b>
							</div>
						</div>

						<div class="column">
							<button mat-mini-fab color="accent" [matTooltip]="'Move ' + player.username" [disabled]="player.username == 'Open'" (click)="movePlayer(player)"><mat-icon>open_with</mat-icon></button>
							<button mat-mini-fab color="accent" [matTooltip]="'Change ' + player.username + '\'s team'" [disabled]="player.username == 'Open'" (click)="changeTeam(player)"><mat-icon>groups</mat-icon></button>
							<button mat-mini-fab color="primary" [matTooltip]="'Give host to ' + player.username" [disabled]="player.isHost || player.username == 'Open'" (click)="setHost(player)"><mat-icon>star</mat-icon></button>
							<button mat-mini-fab color="warn" [matTooltip]="'Kick ' + player.username" [disabled]="player.username == 'Open'" (click)="kickPlayer(player)"><mat-icon>cancel</mat-icon></button>
						</div>
					</div>

					<div class="second-row">
						<div class="column">
							<div class="red" *ngIf="player.status != 'Ready'">{{ player.status }}</div>
							<div class="green" *ngIf="player.status == 'Ready'">{{ player.status }}</div>
						</div>

						<div class="column">
							<div class="mods">
								<div class="mod-icon" *ngFor="let mod of player.mods">
									<img *ngIf="mod" [src]="'assets/osu-mods/' + mod + '.png'" [matTooltip]="mod | uppercase" />
									<img *ngIf="mod == null" src="assets/osu-mods/nm.png" [matTooltip]="'nm' | uppercase" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
