<app-toast></app-toast>
<app-debug [data]="{ selectedChannel, selectedLobby }"></app-debug>

<div class="irc">
	<div class="irc-match-header">
		<app-irc-match-header
			[selectedLobby]="selectedLobby"
			[selectedChannel]="selectedChannel"
			(adjustScoreEmitter)="adjustScore($event.team, $event.mouseClick)"
		/>
	</div>

	<div class="first-pick-not-set" *ngIf="selectedLobby && (selectedLobby.firstPick == null || selectedLobby.bestOf == null)" (click)="openLobbyDialog()">
		You haven't set the <b>First pick</b> of the match yet. Click here to set who picks first.
	</div>

	<div class="irc-match-body">
		<div class="irc-sidebar-left">
			<div class="irc-sidebar-header">
				<button mat-stroked-button color="primary" (click)="goBack()">
					<mat-icon>arrow_left</mat-icon> back
				</button>

				<button mat-stroked-button color="primary" (click)="joinChannel()" [disabled]="!ircService.isAuthenticated">
					<mat-icon>add</mat-icon> join
				</button>
			</div>

			<div class="irc-lobbies">
				<app-irc-lobbies
					[selectedChannel]="selectedChannel"
					[channels]="channels"
					(changeChannel)="changeChannel($event)"
				/>
			</div>

			<div class="irc-slots" *ngIf="selectedLobby != undefined && selectedChannel != undefined && selectedChannel.name.startsWith('#mp_')">
				<app-irc-player-management
					[lobby]="selectedLobby"
					[channel]="selectedChannel"
				/>
			</div>
		</div>

		<div class="irc-body">
			<div class="irc-chat-container">
				<app-irc-chat-container
					[selectedLobby]="selectedLobby"
					[selectedChannel]="selectedChannel"
					[normalChats]="normalChats"
					(pickBeatmapFromAcronymEmitter)="pickBeatmapFromAcronym($event)"
				/>
			</div>

			<div class="irc-chat-controls">
				<app-irc-shortcut-commands
					[lobby]="selectedLobby"
					[channel]="selectedChannel"
					(focusChat)="focusChat($event)"
				/>

				<app-irc-chat-controls
					[activeSlashCommand]="activeSlashCommand"
					[allSlashCommandsFiltered]="allSlashCommandsFiltered"
					(sendMessageEmitter)="sendMessage($event)"
					(handleKeyboardEventEmitter)="handleKeyboardEvent($event)"
					(selectSlashCommandEmitter)="selectSlashCommand($event)"
				/>
			</div>
		</div>

		<div class="irc-sidebar-right" *ngIf="selectedChannel != null && selectedChannel.name.startsWith('#mp_')">
			<div class="irc-match-settings">
				<app-irc-match-settings
					[selectedLobby]="selectedLobby"
					[selectedChannel]="selectedChannel"
					[qualifierTeams]="qualifierTeams"
					(openLobbyDialogEmitter)="openLobbyDialog()"
					(synchronizeMpEmitter)="synchronizeMp()"
					(updateMatchResultsEmitter)="updateMatchResults()"
				/>
			</div>

			<div class="irc-mappool">
				<app-irc-mappool
					[selectedLobby]="selectedLobby"
					[selectedChannel]="selectedChannel"
					[searchValue]="searchValue"
					(banBeatmapEmitter)="banBeatmap($event.beatmap, $event.modBracket, $event.multiplayerLobby)"
					(unbanBeatmapEmitter)="unbanBeatmap($event)"
					(protectBeatmapEmitter)="protectBeatmap($event.beatmap, $event.modBracket, $event.multiplayerLobby)"
					(unprotectBeatmapEmitter)="unprotectBeatmap($event)"
					(changePickedByEmitter)="changePickedBy($event)"
					(pickBeatmapEmitter)="pickBeatmap($event.beatmap, $event.modBracket, $event.gamemode)"
					(unpickBeatmapEmitter)="unpickBeatmap($event)"
				/>
			</div>
		</div>
	</div>
</div>
