@use "@angular/material" as mat;
@import "variables";

@include mat.core();

$typography: mat.define-typography-config($font-family);
$final-theme: mat.define-dark-theme(
	(
		color: (
			primary: $theme-primary,
			accent: $theme-success,
			warn: $theme-danger
		)
	)
);

@include mat.all-component-typographies($typography);
@include mat.all-component-themes($final-theme);
