<app-alert alertType="info">If you do not have a tournament hosted on wyBin, you can skip this step.</app-alert>

<p>Here you can link a wyBin tournament to your wyReferee tournament. When a referee sends the final result of the match, it will update the score on the wyBin tournament as well as update the stats for that given match. </p>
<p>Make sure the stages you create on wyReferee match the ones you create on your wyBin tournament. If they do not match, it will not automatically update the scores.</p>

<h3>wyBin Tournament</h3>

<form [formGroup]="validationForm">
	<mat-form-field class="full-width" *ngIf="tournaments.length > 0">
		<mat-label>wyBin tournaments</mat-label>

		<input type="text" matInput formControlName="tournamentName" [matAutocomplete]="auto" />

		<mat-autocomplete #auto="matAutocomplete">
			<mat-option [value]="tournament" *ngFor="let tournament of filteredOptions | async">{{ tournament }}</mat-option>
		</mat-autocomplete>

		<mat-error *ngIf="validationForm.get('tournamentName').errors && (validationForm.get('tournamentName').touched || validationForm.get('tournamentName').dirty)">
			The selected wyBin tournament is not valid. Choose a wyBin tournament from the provided list.
		</mat-error>
	</mat-form-field>
</form>

<app-alert alertType="info" *ngIf="tournaments.length <= 0">No tournaments have been found. </app-alert>

<p>Select the tournament from the dropdown list to which this tournament belongs to.</p>
