@import "variables";

.content {
	max-height: 100%;
	overflow: auto;

	padding: 8px;
}

.loading {
	display: flex;
	align-items: center;

	.spinner {
		margin-right: 4px;
	}
}

.tournaments {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.tournament {
		background-color: $wybin-schedule-background-color;
		border: 1px solid $wybin-schedule-border-color;

		padding: 16px;
		border-radius: 8px;
	}
}
