<div class="content">
	<h1>wyBin schedule</h1>
	<p>Your matches as a referee - next 7 days</p>

	<div class="tournaments">
		<div class="tournament" *ngIf="loading == true">
			<div class="header">
				<div class="loading">
					<mat-spinner class="spinner" [diameter]="32"></mat-spinner>&nbsp;Loading wyBin schedule...
				</div>
			</div>
		</div>

		<div class="tournament" *ngIf="loading == false && (!personalScheduleData || personalScheduleData.length == 0)">
			<div class="header">
				No matches found
			</div>
		</div>

		<app-wybin-schedule-tournament [personalSchedule]="personalSchedule" *ngFor="let personalSchedule of personalScheduleData"></app-wybin-schedule-tournament>
	</div>
</div>
