<div class="container-fluid">
	<ng-container *ngIf="tournament.hasWyBinConnected()">
		<h3>Import staff from wyBin</h3>
		<p>Importing staff from wyBin will put Tournament hosts into the Administrator category and Referees into Tournament access.</p>

		<button mat-raised-button color="accent" (click)="importWyBinStaff()" *ngIf="tournament.hasWyBinConnected()">
			<mat-icon>add</mat-icon> <mat-icon class="sync" [ngClass]="{'rotate': importingFromWyBin == true}">sync</mat-icon> import stages from wyBin
		</button>

		<app-alert alertType="info">
			In order for matches to be updated on wyBin when the final result has been sent, make sure that all the referee's have access to the tournament on wyReferee as well as have the Referee role on wyBin.
		</app-alert>
		<hr />
	</ng-container>

	<h3>Administrator</h3>
	<p>Manage the users that you want to give full permission to. They will be able to change data, which will then trigger an update for all the users that have imported the tournament.</p>
	<button mat-raised-button color="accent" (click)="addUserAsAdministrator()"><mat-icon>add</mat-icon> add new administrator</button>

	<div class="all-users">
		<div class="user" *ngFor="let administrator of tournament.administrators">
			<a class="link" (click)="electronService.openLink(administrator.getOsuProfileUrl())">{{ administrator.username }}</a>

			<button mat-mini-fab color="warn" (click)="removeAdministrator(administrator)"><mat-icon>delete</mat-icon></button>
		</div>
	</div>

	<hr />

	<h3>Tournament access</h3>
	<p>Manage the users that you want to have access to the tournament. They will be able to import the tournament and mappools so they have access to all the data.</p>
	<button mat-raised-button color="accent" (click)="addNewUser()"><mat-icon>add</mat-icon> add new user</button>

	<div class="all-users">
		<div class="user" *ngFor="let user of tournament.availableTo">
			<a class="link" (click)="electronService.openLink(user.getOsuProfileUrl())">{{ user.username }}</a>

			<button mat-mini-fab color="warn" (click)="removeUser(user)"><mat-icon>delete</mat-icon></button>
		</div>
	</div>
</div>
