.stage-buttons {
	display: flex;
	gap: 8px;
}

.all-stages {
	display: flex;
	flex-direction: column;

	padding-top: 8px;
	padding-bottom: 8px;

	.stage {
		display: grid;
		grid-auto-flow: column;
		gap: 8px;

		grid-template-columns: 2fr 1fr 1fr 50px;

		&.has-protects {
			grid-template-columns: 2fr 1fr 1fr 1fr 50px;
		}

		.actions {
			display: flex;
			align-items: center;
		}
	}
}
