<div class="mod-bracket" [ngClass]="{'extra-border': withBorder == true}" *ngIf="modBracket">
	<div class="header">
		<div class="row">
			<div class="col">
				<h3 *ngIf="modBracket.bracketName">{{ modBracket.bracketName }}</h3>
				<h3 *ngIf="!modBracket.bracketName">Unnamed bracket</h3>
			</div>

			<div class="col" *ngIf="withCollapse == true">
				<button class="btn btn-outline-primary float-right" (click)="collapseBracket(modBracket)">Collapse</button>
			</div>
		</div>
	</div>

	<div class="body" [ngClass]="{'hide': modBracket.collapsed}">
		<p>Enter the name of the bracket to get started.</p>
		<input type="text" class="form-control" [(ngModel)]="modBracket.bracketName" />

		<hr />

		<h3>Mods</h3>
		<p>
			Select the mods you want to add to this bracket when selecting a map. <br />
		</p>

		<div class="spacing">
			<button class="btn btn-primary" (click)="addNewMod()">Add new mod</button>
		</div>

		<div class="row">
			<div class="col" *ngFor="let modSelect of selectedMods">
				<div class="input-group">
					<div class="input-group-prepend input-full-width">
						<select class="form-control" (change)="changeMod(modSelect.index, $event)" [(ngModel)]="modSelect.modValue">
							<option *ngFor="let mod of availableMods" [value]="mod.modValue">{{ mod.modName }}</option>
						</select>
					</div>

					<button class="btn btn-danger" (click)="deleteMod(modSelect.index)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
				</div>
			</div>
		</div>

		<hr />

		<h3>Beatmaps</h3>
		<p>Here you can select all the beatmaps you'd like to add to this specific bracket. Make sure to validate them so you know you're adding the correct beatmap!</p>

		<button class="btn btn-primary mb-2" (click)="addBeatmap(modBracket)">Add new beatmap</button>

		<div class="beatmaps">
			<div class="beatmap mb-2" *ngFor="let beatmap of modBracket.getBeatmaps()">
				<div class="row">
					<div class="col-2">
						<input type="text" class="form-control" [(ngModel)]="beatmap.beatmapId" placeholder="Beatmap id" />
					</div>

					<div class="col-2" *ngIf="mappool.mappoolType == 1">
						<input type="text" class="form-control" [(ngModel)]="beatmap.modifier" placeholder="Modifier" />
					</div>

					<div class="col-2" *ngIf="mappool.mappoolType == 2 && mappool.publishId != null">
						<div *ngIf="beatmap.modCategory != null; then modCategoryDefined; else modCategoryNotDefined"></div>

						<ng-template #modCategoryDefined>
							<select class="form-control" (change)="changeModCategory(beatmap, $event)" [(ngModel)]="beatmap.modCategory.categoryName">
								<option value=""></option>
								<option [value]="modCategory.categoryName" *ngFor="let modCategory of mappool.modCategories">{{ modCategory.categoryName }}</option>
							</select>
						</ng-template>

						<ng-template #modCategoryNotDefined>
							<select class="form-control" (change)="changeModCategory(beatmap, $event)">
								<option value=""></option>
								<option [value]="modCategory.categoryName" *ngFor="let modCategory of mappool.modCategories">{{ modCategory.categoryName }}</option>
							</select>
						</ng-template>
					</div>

					<div [ngClass]="{'col-1': mappool.mappoolType == 2}">
						<input type="checkbox" [checked]="beatmap.picked" [(ngModel)]="beatmap.picked" title="Map has been picked?" />
					</div>

					<div [ngClass]="{'col-5': mappool.mappoolType == 2 && mappool.publishId > 0, 'col-8': !mappool.publishId || mappool.mappoolType != 2}">
						<span *ngIf="beatmap.beatmapName == null" class="has-error">No beatmap found, have you tried synchronizing?</span>
						<a [routerLink]="" *ngIf="beatmap.beatmapName && !beatmap.invalid" (click)="electronService.openLink(beatmap.beatmapUrl)">{{ beatmap.beatmapName }}</a>
						<span *ngIf="beatmap.invalid" class="has-error">There was no beatmap found with the beatmap id "{{ beatmap.beatmapId }}".</span>
					</div>

					<div class="col">
						<button class="btn btn-primary" (click)="synchronizeBeatmap(beatmap)"><fa-icon [icon]="['fas', 'sync']"></fa-icon></button>
						<button class="btn btn-danger" (click)="removeBeatmap(modBracket, beatmap)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
