.mod-bracket {
    overflow: hidden;

	&.extra-border {
		margin-bottom: 8px;
		padding: 16px;

		border: 1px solid darken(#3C4452, 15%);

		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

		&:hover {
			border: 1px solid white;

			-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
			-moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
			box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		}
	}

    .header {
        .collapse {
            position: fixed;
            right: 0;
		}

		.button-spacing {
			button {
				margin-left: 4px;
			}
		}
    }

    .body {
        &.hide {
            display: none;
        }
    }

    .mods {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;

        .mod {
            display: flex;
            flex-direction: column;
            flex: 1 0 21%;

            width: 80px;
        }
    }
}

.spacing {
	margin-bottom: 8px;
}

.input-full-width {
	width: calc(100% - 38px);
}
