@import "variables";

$button-hover-background-color: #363636;
$button-hover-border-color: rgba(255, 255, 255, 0.2);

.player-management {
	display: flex;
	flex-direction: column;

	height: 100%;

	.slot-information {
		display: flex;
		align-items: center;

		padding: 8px 16px;
		gap: 4px;

		background: $irc-match-header-background-color;
		color: $irc-input-text-color;
		border-bottom: 1px solid $irc-border-color;

		font-size: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.players {
		flex: 1;
		overflow-y: auto;

		background-color: $irc-sidebar-background-color;

		.player {
			display: flex;
			align-items: center;
			justify-content: space-between;

			padding: 4px 8px;

			position: relative;

			.player-information {
				display: flex;
				align-items: center;
				gap: 4px;

				min-width: 0;
				flex: 1;

				.player-username {
					color: $irc-input-text-color;
					font-style: italic;

					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					min-width: 0;
					flex: 1;
				}

				.mods {
					display: flex;
					align-items: center;

					transition: opacity 0.14s;

					.mod-icon {
						height: 20px;
						position: relative;

						margin-left: -12px;

						img {
							height: 100%;

							filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.6));
						}

						&:first-child {
							margin: 0;
						}
					}
				}

				.player-status-container {
					margin-left: auto;
					transition: opacity 0.14s;

					.player-status {
						padding: 2px 4px;
						border-radius: 4px;

						font-size: 10px;
						letter-spacing: 0.15px;
						text-transform: uppercase;
						white-space: nowrap;

						background: $irc-input-background-color;
						color: $irc-input-text-color;

						&.ready {
							background: rgba(61, 219, 160, 0.11);
							color: #3ddba0;
						}
					}
				}
			}

			.action-buttons {
				display: flex;
				align-items: center;

				position: absolute;
				right: 0;

				padding: 2px 4px;
				gap: 4px;

				opacity: 0;
				pointer-events: none;

				transition: opacity 0.14s;

				.button {
					display: flex;
					flex-shrink: 0;

					justify-content: center;
					align-items: center;

					background: $irc-input-background-color-active;
					color: $irc-input-text-color-active;

					border: 1px solid $irc-border-color;
					border-radius: 4px;

					width: 24px;
					height: 24px;

					cursor: pointer;

					.icon {
						font-size: 15px;

						width: 15px;
						height: 15px;
					}

					&:hover {
						background: $button-hover-background-color;
						border-color: $button-hover-border-color;
					}
				}
			}

			&.red {
				.player-information {
					.player-username {
						color: $red-team-chat-colour;
						font-style: normal;
					}
				}
			}

			&.blue {
				.player-information {
					.player-username {
						color: $blue-team-chat-colour;
						font-style: normal;
					}
				}
			}

			&:hover {
				.player-information {
					.mods {
						opacity: 0;
						pointer-events: none;
					}

					.player-status-container {
						opacity: 0;
					}
				}

				.action-buttons {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
}
