@import "variables";

$background-color-irc: #282828;

.player-management {
	display: flex;
	overflow-y: auto;

	background-color: $background-color-irc;

	.players {
		display: flex;
		flex-direction: column;

		flex: 1;
		max-width: 100%;

		.player {
			display: flex;
			flex-direction: column;

			padding: 4px;
			margin: 4px;

			background-color: rgba(0, 0, 0, 0.1);

			.player-column {
				display: flex;
				justify-content: space-between;
				align-items: center;

				margin-bottom: 4px;

				.player-data {
					display: flex;
					overflow: hidden;

					.player-slot {
						display: flex;
						justify-content: center;
						align-items: center;

						background-color: $primary;
						color: black;

						border-radius: 25px;

						width: 20px;
						height: 20px;

						min-width: 20px;
						min-height: 20px;

						margin-right: 2px;

						font-weight: bold;
					}

					.player-username {
						text-overflow: ellipsis;

						white-space: nowrap;
						overflow: hidden;

						font-size: 13px;
					}
				}

				.player-buttons {
					display: flex;

					@media only screen and (max-width: 1200px) {
						display: grid;

						grid-auto-flow: column wrap;
						grid-template-columns: 1fr 1fr;
					}

					.player-button {
						display: flex;
						align-items: center;
						justify-content: center;

						background-color: $primary;
						color: black;
						padding: 4px;

						&:hover {
							background-color: darken($primary, 15%);
							cursor: pointer;
						}

						&.disabled {
							background-color: rgba(255, 255, 255, 0.12);
							color: rgba(255, 255, 255, 0.3);
							cursor: default;

							&:hover {
								background-color: rgba(255, 255, 255, 0.12);
								color: rgba(255, 255, 255, 0.3);
								cursor: default;
							}
						}
					}
				}
			}

			.player-information {
				display: flex;
				justify-content: space-between;

				align-items: center;

				.player-status {
					.red {
						color: red;
						text-shadow: 1px 1px black;
					}

					.green {
						color: green;
						text-shadow: 1px 1px black;
					}
				}

				.player-mods {
					display: flex;
					flex-direction: row;

					.mod-icon {
						display: flex;
						align-items: center;

						margin-right: 4px;

						img {
							height: 25px;
						}

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			&.red {
				background-color: rgba(255, 0, 0, 0.1);
			}

			&.blue {
				background-color: rgba(0, 0, 255, 0.1);
			}
		}
	}
}
