<div #container class="scroll" *ngIf="tournament">
	<app-debug [data]="{ tournament }"></app-debug>

	<div class="tournament-edit-header" [ngClass]="{ 'public': isPublishedTournament == true }">
		<div class="icon">
			<mat-icon *ngIf="isPublishedTournament == false">lock</mat-icon>
			<mat-icon *ngIf="isPublishedTournament == true">language</mat-icon>
		</div>

		<div class="text">
			<div class="upper-text">
				Updating {{ tournament.name }}
			</div>

			<div class="lower-text" *ngIf="isPublishedTournament == false">
				Local tournament
			</div>

			<div class="lower-text" *ngIf="isPublishedTournament == true">
				Public tournament
			</div>
		</div>
	</div>

	<app-alert alertType="info" *ngIf="isPublishedTournament == false">
		You are currently editing {{ tournament.name }}.
		Any changes made here will only be saved <u>locally</u> and will not be updated for everyone else that has access to the tournament.
	</app-alert>

	<app-alert alertType="info" *ngIf="isPublishedTournament == true">
		You are currently editing {{ tournament.name }}. Any changes made here will be saved <u>publicly</u>,&nbsp;
		meaning anyone that has this tournament imported will get their tournament updated once their client has been restarted.
	</app-alert>

	<app-alert alertType="danger" *ngIf="errors.length > 0">
		<b>One or more fields have not been filled in correctly.</b>

		<ul>
			<li *ngFor="let error of errors">{{ error }}</li>
		</ul>
	</app-alert>

	<app-tournament [tournament]="tournament" [validationForm]="validationForm"></app-tournament>

	<app-alert alertType="info" *ngIf="isPublishedTournament == false">
		You are currently editing {{ tournament.name }}.
		Any changes made here will only be saved <u>locally</u> and will not be updated for everyone else that has access to the tournament.
	</app-alert>

	<app-alert alertType="info" *ngIf="isPublishedTournament == true">
		You are currently editing {{ tournament.name }}. Any changes made here will be saved <u>publicly</u>,&nbsp;
		meaning anyone that has this tournament imported will get their tournament updated once their client has been restarted.
	</app-alert>

	<button mat-raised-button class="extra-padding" color="primary" (click)="updateTournament()">Update</button>
</div>
