<div class="import-tournament">
	<div class="filters">
		<app-tournament-filters
			[users$]="allUsers$"
			(filtersChanged)="onFiltersChanged($event)">
		</app-tournament-filters>
	</div>

	<div id="tutorial-all-tournaments" class="all-tournaments">
		<ng-container *ngIf="allTournaments.length == 0 && loading == false">
			<app-alert alertType="info">
				You do not have access to any tournaments that can be imported. Contact a tournament host to be added to the tournament.
			</app-alert>
		</ng-container>

		<cdk-virtual-scroll-viewport itemSize="74" class="viewport">
			<div class="tournament-card" *cdkVirtualFor="let tournament of filteredTournaments">
				<app-tournament-card [tournament]="tournament" cardType="import"></app-tournament-card>
			</div>
		</cdk-virtual-scroll-viewport>
	</div>
</div>
