.mod-bracket {
    margin-bottom: 8px;
    padding: 8px;

    border: 1px solid black;

    .mods {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;

        .mod {
            display: flex;
            flex-direction: column;
            flex: 1 0 21%;
    
            width: 80px;    
        }
    }
}