<h2 mat-dialog-title>Publish tournament</h2>

<mat-dialog-content class="mat-typography">
	Are you sure you want to publish <b>{{ data.tournament.name }}</b>?

	<app-alert alertType="info">
		This will make the tournament available to all
		the users that have been given access to view this tournament.
	</app-alert>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="null">Cancel</button>
	<button mat-button [mat-dialog-close]="data.tournament" color="accent">Publish</button>
</mat-dialog-actions>
