<div class="tournament" (click)="editTournament(tournament, $event)">
	<div class="row" *ngIf="tournament.updateAvailable">
		<div class="col">
			<div class="alert alert-info">
				Looks like this tournament isn't up to date. Click on the update button to get the latest version.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-9">
			<h1>{{ tournament.tournamentName }}</h1>
			<span><b>Tournament id:</b> {{ tournament.id }}</span>
		</div>

		<div class="col-3">
			<div class="btn-group float-right">
				<button class="btn btn-success" (click)="updateTournament(tournament)" *ngIf="tournament.updateAvailable">Update</button>
				<button class="btn btn-primary" (click)="openDialog(tournament, 0)" *ngIf="canPublish() && publish != true">Publish</button>
				<button class="btn btn-danger" (click)="openDialog(tournament, 1)">Delete</button>
			</div>
		</div>
	</div>

	<hr />

	<h4>Teams</h4>

	<div class="tournament-teams">
		<div class="team" *ngFor="let team of tournament.getTeams()">
			<h5>{{ team.teamName }}</h5>

			{{ team.getPlayers().length }} player<span *ngIf="team.getPlayers().length > 1">s</span>
		</div>
	</div>
</div>

<div [id]="'dialog' + tournamentToModify.id" class="modal fade" tabindex="-1" role="dialog" *ngIf="tournamentToModify">
	<div class="modal-dialog shadow" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" *ngIf="dialogAction == 0">Publishing tournament</h3>
				<h3 class="modal-title" *ngIf="dialogAction == 1">Deleting tournament</h3>
			</div>

			<div class="modal-body">
				<p [innerHTML]="dialogMessage"></p>

				<button class="btn btn-primary" style="width: 100%;" (click)="publishTournament(tournamentToModify)" *ngIf="dialogAction == 0">Publish tournament</button>
				<button class="btn btn-danger" style="width: 100%;" (click)="deleteTournament(tournamentToModify)" *ngIf="dialogAction == 1">Delete tournament</button>
			</div>
		</div>
	</div>
</div>
