<div class="lobby-interface">
	<div class="create-lobby">
		<h2>Create a new multiplayer lobby</h2>
		<p>In order to referee a match, you have to create a multiplayer lobby. With a couple of easy steps you can setup a multiplayer lobby for a tournament without any hassle!</p>

		<div class="tutorial-button-width" id="tutorial-create-new-multiplayer-lobby">
			<button mat-raised-button [routerLink]="['create-lobby']" color="primary"><mat-icon>add</mat-icon> create new multiplayer lobby</button>
			<button mat-raised-button [routerLink]="['join-lobby']" color="primary"><mat-icon>edit</mat-icon> join an existing multiplayer lobby</button>
		</div>

		<hr />
	</div>

	<div>
		<div class="delete-lobbies">
			<div class="information">
				<div>
					<mat-checkbox (change)="toggleAllLobbies($event)" [checked]="allSelected" [indeterminate]="someSelected && !allSelected">
						{{ allSelected ? 'Deselect all lobbies' : 'Select all lobbies' }}
					</mat-checkbox>
				</div>
				&dash;
				<div>
					{{ selectedCount }} {{ selectedCount == 1 ? 'lobby selected' : 'lobbies selected' }}
				</div>
			</div>

			<div class="actions">
				<button mat-raised-button color="warn" (click)="deleteSelectedLobbies()" [disabled]="selectedCount == 0"><mat-icon>delete</mat-icon> delete selected lobbies</button>
			</div>
		</div>

		<hr />
	</div>

	<div class="all-lobbies">
		<app-alert alertType="info" *ngIf="allLobbies.length == 0">
			There are currently no lobbies available.
		</app-alert>

		<div *ngFor="let lobby of allLobbies.slice().reverse()" class="lobby" (click)="navigateLobby(lobby)">
			<div class="delete-select">
				<mat-checkbox [(ngModel)]="lobby.checkboxDelete" (change)="toggleIndividualLobby()" (click)="$event.stopPropagation()"></mat-checkbox>
			</div>

			<div class="body">
				<div class="information">
					<ng-container *ngIf="lobby.isQualifierLobby === false">
						<div class="lobby-name">
							{{ lobby.getLobbyName() }}
						</div>

						<div class="lobby-versus">
							{{ lobby.teamOneName }} vs. {{ lobby.teamTwoName }}
						</div>
					</ng-container>

					<ng-container *ngIf="lobby.isQualifierLobby === true">
						<div class="lobby-name">
							{{ lobby.getQualifierName() }}
						</div>

						<div class="lobby-versus">
							Qualifier lobby
						</div>
					</ng-container>
				</div>

				<div class="metadata">
					<div class="metadata-pill score" *ngIf="lobby.isQualifierLobby === false">
						score {{ lobby.teamOneScore }} - {{ lobby.teamTwoScore }}
					</div>

					<div class="metadata-pill mp-link">
						<a [href]="lobby.multiplayerLink" clickableLinks (click)="$event.stopPropagation()">
							<mat-icon>link</mat-icon> {{ stripUrlPrefix(lobby.multiplayerLink) }}
						</a>
					</div>

					<div class="metadata-pill tournament" *ngIf="lobby.tournament != null">
						{{ lobby.tournament.name }}
					</div>
				</div>
			</div>

			<div class="delete-lobby">
				<button mat-mini-fab color="warn" (click)="deleteLobby(lobby)" (click)="$event.stopPropagation()">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
