@import "variables";

.tutorial-button-width {
	width: fit-content;
}

.lobby-interface {
	display: flex;
	flex-direction: column;

	height: 100%;

	.all-lobbies {
		display: flex;
		flex-direction: column;

		overflow-y: auto;

		.lobby {
			.body {
				display: flex;
				flex-direction: row;

				overflow: hidden;
				border: 1px solid darken($background-color, 15%);
				margin: 7px;

				padding: 8px;

				text-align: center;

				-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

				.information {
					width: calc(100% - 50px);
				}

				.delete-lobby {
					width: 50px;

					button {
						color: white;
					}
				}

				&:hover {
					border: 1px solid white;
					cursor: pointer;

					-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
					-moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
					box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
				}
			}
		}
	}
}
