<div class="lobby-interface">
	<div class="create-lobby">
		<h2>Create a new multiplayer lobby</h2>
		<p>In order to referee a match, you have to create a multiplayer lobby. With a couple of easy steps you can setup a multiplayer lobby for a tournament without any hassle!</p>

		<div class="tutorial-button-width" id="tutorial-create-new-multiplayer-lobby">
			<button mat-raised-button [routerLink]="['create-lobby']" color="primary"><mat-icon>add</mat-icon> create new multiplayer lobby</button>
			<button mat-raised-button [routerLink]="['join-lobby']" color="primary"><mat-icon>edit</mat-icon> join an existing multiplayer lobby</button>
		</div>

		<hr />
	</div>

	<div>
		<div class="delete-lobbies">
			<div class="information">
				<div>
					<mat-checkbox (change)="toggleAllLobbies($event)" [checked]="allSelected" [indeterminate]="someSelected && !allSelected">
						{{ allSelected ? 'Deselect all lobbies' : 'Select all lobbies' }}
					</mat-checkbox>
				</div>
				&dash;
				<div>
					{{ selectedCount }} {{ selectedCount == 1 ? 'lobby selected' : 'lobbies selected' }}
				</div>
			</div>

			<div class="actions">
				<button mat-raised-button color="warn" (click)="deleteSelectedLobbies()" [disabled]="selectedCount == 0"><mat-icon>delete</mat-icon> delete selected lobbies</button>
			</div>
		</div>

		<hr />
	</div>

	<div class="all-lobbies">
		<app-alert alertType="info" *ngIf="allLobbies.length == 0">
			There are currently no lobbies available.
		</app-alert>

		<div *ngFor="let lobby of allLobbies.slice().reverse()" class="lobby">
			<div class="body">
				<div class="delete-select">
					<mat-checkbox [(ngModel)]="lobby.checkboxDelete" (change)="toggleIndividualLobby()"></mat-checkbox>
				</div>

				<div class="information" *ngIf="lobby.isQualifierLobby == false || lobby.isQualifierLobby == undefined" (click)="navigateLobby(lobby)">
					<div class="multiplayerId">
						<h1>{{ lobby.getLobbyName() }}</h1>
					</div>

					<div class="multiplayerDesc">
						{{ lobby.teamOneName }} vs. {{ lobby.teamTwoName }}
					</div>
				</div>

				<div class="information" *ngIf="lobby.isQualifierLobby == true" (click)="navigateLobby(lobby)">
					<div class="multiplayerId">
						<h1>{{ lobby.getQualifierName() }}</h1>
					</div>
				</div>

				<div class="delete-lobby">
					<button mat-mini-fab color="warn" (click)="deleteLobby(lobby)"><mat-icon>delete</mat-icon></button>
				</div>
			</div>
		</div>
	</div>
</div>
