@import "variables";

.tutorial-button-width {
	width: fit-content;

	button {
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.lobby-interface {
	display: flex;
	flex-direction: column;

	height: 100%;
	padding: 8px;

	.delete-lobbies {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.information {
			display: flex;
			align-items: center;

			gap: 8px;
		}
	}

	.all-lobbies {
		display: flex;
		flex-direction: column;

		padding: 0 8px;
		gap: 8px;

		overflow-y: auto;

		.lobby {
			display: flex;

			padding: 16px;
			gap: 8px;

			background: $background-color;
			border: 0.5px solid $sidebar-border-color;

			border-radius: 8px;

			transition: border-color 0.12s;
			cursor: pointer;

			.delete-select {
				display: flex;
				align-items: center;
			}

			.body {
				display: flex;
				flex-direction: column;
				gap: 8px;

				.information {
					display: flex;
					flex-direction: column;
					gap: 4px;

					.lobby-name {
						font-size: 18px;
					}

					.lobby-versus {
						font-size: 12px;
						font-style: italic;

						color: $primary;
					}
				}

				.metadata {
					display: flex;
					align-items: center;
					gap: 8px;

					.metadata-pill {
						display: flex;
						align-items: center;
						justify-content: center;

						height: 25px;
						padding: 2px 4px;

						border-radius: 4px;

						background-color: rgba($primary, 0.1);
						border: 1px solid rgba($primary, 0.26);
						color: $primary;

						&.mp-link {
							a {
								display: flex;
								align-items: center;
								gap: 4px;
							}
						}
					}
				}
			}

			.delete-lobby {
				display: flex;
				align-items: center;
				margin-left: auto;

				mat-icon {
					margin-right: 0;
				}
			}

			&:hover {
				border-color: rgba(255, 255, 255, 0.13);
			}
		}
	}
}
