.irc-match-settings-general {
	display: flex;
	overflow: hidden;

	height: 100%;

	.button-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: start;

		padding: 8px;
		gap: 8px;

		overflow-x: auto;

		.form-button {
			flex: 1;

			&.big-button {
				grid-column: 1 / -1;
			}
		}
	}
}
