:host {
	width: 100%;
	height: 100%;
}

.irc-match-settings-general {
	display: grid;
	grid-template-columns: 1fr 1fr;

	padding: 8px;
	gap: 8px;

	.form-button {
		flex: 1;

		&.big-button {
			grid-column: 1 / -1;
		}
	}
}
