@import "variables";

:host {
	width: 100%;
}

.filters {
	display: flex;
	height: 60px;

	.filter {
		display: flex;
		flex: 1;

		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.all-mappools {
	height: calc(100% - 60px);
	overflow-y: auto;

	padding: 8px;

	.mappool {
		display: flex;
		flex: 0 1 auto;
		justify-content: space-between;

		border: 1px solid darken(#3c4452, 15%);

		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

		margin-bottom: 8px;
		padding: 16px;

		.left {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;

			.column {
				display: flex;

				.id {
					background-color: $primary;
					color: black;

					border-radius: 9px;

					padding: 2px 16px 2px 16px;
					margin-right: 8px;

					cursor: default;
				}

				* {
					display: flex;
					align-self: center;
				}
			}
		}

		.right {
			display: flex;
			flex: 1;
			justify-content: flex-end;

			.mod-brackets {
				display: flex;
				flex-flow: wrap;
				justify-content: flex-end;

				margin-right: 8px;

				.bracket {
					display: flex;
					align-self: center;

					border: 1px solid darken(#3c4452, 15%);
					-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
					box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

					margin-right: 8px;
					margin-bottom: 8px;

					padding: 8px;
				}
			}

			.button {
				display: flex;
				align-items: center;
			}
		}

		&:hover {
			border: 1px solid white;

			-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
			-moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
			box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		}
	}
}
