<div class="filters">
	<div class="filter">
		<mat-form-field class="full-width">
			<mat-label>Filter by text</mat-label>
			<input matInput [(ngModel)]="searchValue" />
		</mat-form-field>
	</div>

	<div class="filter">
		<mat-form-field class="full-width">
			<mat-label>Filter by username</mat-label>
			<input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="filterByUser" [formControl]="filterByUserFormControl">

			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
					{{ user.username }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
</div>

<div class="all-mappools" *ngIf="allMappools.length > 0">
	<div class="mappool" *ngFor="let mappool of (allMappools | filterMappool : searchValue : filterByUser)">
		<div class="left">
			<div class="column">
				<div class="id" matTooltip="Mappool import id">
					{{ mappool.id }}
				</div>

				<div>
					{{ mappool.name }}
				</div>
			</div>

			<div class="column">
				Submitted by {{ mappool.createdByUser.username }}
			</div>
		</div>

		<div class="right">
			<div class="mod-brackets">
				<div class="bracket" *ngFor="let bracket of mappool.modBrackets">
					<b>{{ bracket.bracketName }}</b>&nbsp;({{ bracket.beatmaps.length }} maps)
				</div>
			</div>

			<div class="button">
				<button mat-mini-fab color="primary" matTooltip="Import this mappool" [matTooltipPosition]="'above'" (click)="importMappool(mappool)"><mat-icon>cloud_download</mat-icon></button>
			</div>
		</div>
	</div>
</div>
