@import "variables";

$not-logged-in-background-color: #dc3545;

:host {
	width: 95%;
}

.full {
	height: 100%;

	.login {
		padding: 16px;

		background-color: rgba(lighten($sidebar-color, 15%), 0.2);

		.user {
			display: flex;
			flex-direction: row;

			@media only screen and (max-width: 1200px) {
				justify-content: center;

				.details {
					display: none;
				}
			}

			img {
				border-radius: 50%;
				max-height: 50px;
				max-width: 50px;

				-webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
				box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);

				margin-right: 4px;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;

				font-size: 16px;

				div {
					display: flex;
					flex-direction: row;
					align-items: center;

					font-size: 16px;

					padding-left: 8px;

					.dot {
						min-height: 8px;
						max-width: 8px;
						max-height: 8px;

						border-radius: 50%;

						background-color: red;

						margin-right: 4px;

						&.connected {
							background-color: #00ff00;
						}

						&.connecting {
							background-color: orange;
						}
					}
				}
			}
		}

		&.not-logged-in {
			background-color: $not-logged-in-background-color;

			.details {
				padding: 4px;
				background-color: lighten($not-logged-in-background-color, 15%);
			}
		}
	}

	.sidebar {
		display: flex;
		flex-direction: column;

		margin-top: 8px;

		.sidebar-item {
			border-radius: 0px 6px 6px 0px;

			user-select: none;
			text-decoration: none;

			.sidebar-link {
				display: flex;
				align-items: center;

				color: white;
				padding: 16px;

				@media only screen and (max-width: 1200px) {
					justify-content: center;
				}

				p {
					margin: 0;
					margin-left: 16px;

					font-size: 16px;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@media only screen and (max-width: 1200px) {
						display: none;

						margin-left: 0;
					}
				}

				&:hover,
				&.active {
					background-color: rgba(lighten($sidebar-color, 15%), 0.2);
					color: $primary;
					cursor: pointer;

					p {
						color: $primary;
					}
				}
			}

			&.hidden {
				display: none;
			}
		}

		.sidebar-submenu {
			.sidebar-submenu-link {
				display: flex;
				align-items: center;

				color: white;
				padding: 16px;
				margin-left: 16px;

				@media only screen and (max-width: 1200px) {
					justify-content: center;
					margin-left: 0;
				}

				p {
					margin: 0;
					margin-left: 16px;

					font-size: 16px;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@media only screen and (max-width: 1200px) {
						display: none;

						margin-left: 0;
					}
				}

				&:hover,
				&.active {
					background-color: rgba(lighten($sidebar-color, 15%), 0.2);
					color: $primary;
					cursor: pointer;

					p {
						color: $primary;
					}
				}
			}
		}
	}

	&:hover {
		.login {
			.user {
				justify-content: left;

				.details {
					display: flex;
				}
			}
		}

		.sidebar {
			.sidebar-item {
				.sidebar-link {
					justify-content: left;

					p {
						display: block;
						margin-left: 16px;
					}
				}
			}
		}
	}
}
