<div class="full">
	<div class="login">
		<div class="user" *ngIf="authenticateService.loggedIn">
			<img [src]="authenticateService.loggedInUser.getAvatarUrl()" />

			<div class="details">
				{{ authenticateService.loggedInUser.username }}

				<div [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
					<div class="dot" [ngClass]="{'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2}"></div> irc
				</div>
			</div>
		</div>

		<div class="user" *ngIf="!authenticateService.loggedIn">
			<img [src]="'assets/images/osulogo.png'" />

			<div class="details">
				You are not logged in.

				<div [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
					<div class="dot" [ngClass]="{'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2}"></div> irc
				</div>
			</div>
		</div>
	</div>

<div class="sidebar">
	<div class="sidebar-item" *ngFor="let navigationItem of allNavigations" [ngClass]="{'hidden': navigationItem.showIf == false }">
		<div class="sidebar-link" [routerLink]="[navigationItem.link]" routerLinkActive="active">
			<mat-icon>{{ navigationItem.icon }}</mat-icon>

			<p class="details">
				<span>{{ navigationItem.header }}</span>
			</p>
		</div>

		<div class="sidebar-submenu" *ngIf="router.url.indexOf(navigationItem.link) > -1">
			<div class="sidebar-submenu-link" [routerLink]="[subMenuNavigationItem.link, navigationItem.link]" routerLinkActive="active" *ngFor="let subMenuNavigationItem of navigationItem.subMenu">
				<mat-icon>{{ subMenuNavigationItem.icon }}</mat-icon>

				<p class="details">
					<span>{{ subMenuNavigationItem.header }}</span>
				</p>
			</div>
		</div>
	</div>
</div>
