<div class="sidebar">
	<div class="sidebar-user">
		<div class="user" *ngIf="authenticateService.loggedIn">
			<div class="user-avatar">
				<img [src]="authenticateService.loggedInUser.getAvatarUrl()" />
			</div>

			<div class="user-details">
				{{ authenticateService.loggedInUser.username }}

				<div class="irc-status" [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
					<div class="dot" [ngClass]="{ 'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2 }"></div> irc
				</div>
			</div>
		</div>

		<div class="user" *ngIf="!authenticateService.loggedIn">
			<div class="user-avatar">
				<img [src]="'assets/images/osulogo.png'" />
			</div>

			<div class="user-details">
				Guest

				<div class="irc-status" [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
					<div class="dot" [ngClass]="{ 'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2 }"></div> irc
				</div>
			</div>
		</div>
	</div>

	<ng-container *ngFor="let navigationItem of allNavigations">
		<div class="sidebar-divider" *ngIf="navigationItem.type == 'divider'"></div>

		<div class="sidebar-item" [routerLink]="[navigationItem.link]" routerLinkActive="active" *ngIf="navigationItem.type != 'divider' && navigationItem.showIf != false">
			<div class="sidebar-item-icon">
				<mat-icon>{{ navigationItem.icon }}</mat-icon>
			</div>

			<div class="sidebar-item-header">
				{{ navigationItem.header }}
			</div>
		</div>
	</ng-container>

	<div class="sidebar-footer">
		<ng-container *ngFor="let navigationItem of allNavigationsFooter">
			<div class="sidebar-item" [routerLink]="[navigationItem.link]" routerLinkActive="active" *ngIf="navigationItem.type != 'divider' && navigationItem.showIf != false">
				<div class="sidebar-item-icon">
					<mat-icon>{{ navigationItem.icon }}</mat-icon>
				</div>

				<div class="sidebar-item-header">
					{{ navigationItem.header }}
				</div>
			</div>
		</ng-container>
	</div>
</div>
