<div class="irc-layout-library">
	<div class="irc-layout-library-header">
		<div class="header">
			Section library
		</div>

		<div class="description">
			Customize your irc layout.
		</div>
	</div>

	<div class="actions">
		<button class="form-button primary" (click)="closeLayoutEditor()">
			<mat-icon>save</mat-icon> close and and update layout
		</button>

		<button class="form-button danger" (click)="closeLayoutEditor()">
			<mat-icon>close</mat-icon> close and discard changes
		</button>

		<button class="form-button danger margin-left-auto">
			<mat-icon>restore</mat-icon> reset to default
		</button>
	</div>

	<div class="body">
		<div
			id="layout-library"
			class="sections"
			cdkDropList
			[cdkDropListSortingDisabled]="true"
			[cdkDropListConnectedTo]="['sidebar-dropzone-left', 'sidebar-dropzone-right']"
		>
			<div
				class="section"
				*ngFor="let layout of layouts"
				cdkDrag
				[cdkDragData]="layout"
				(cdkDragStarted)="onDragStarted()"
				(cdkDragEnded)="onDragEnded()"
			>
				<div class="section-header">
					<mat-icon>{{ layout.icon }}</mat-icon> {{ layout.header }}
				</div>

				<div class="section-body">
					{{ layout.body }}
				</div>

				<div *cdkDragPreview class="drag-preview">
					<mat-icon>{{ layout.icon }}</mat-icon> {{ layout.header }}
				</div>

				<div *cdkDragPlaceholder class="placeholder"></div>
			</div>
		</div>
	</div>
</div>
