<div class="filters">
	<div class="filter">
		<mat-form-field class="full-width">
			<mat-label>Filter by text</mat-label>
			<input matInput [(ngModel)]="searchValue" />
		</mat-form-field>
	</div>

	<div class="filter">
		<mat-form-field class="full-width">
			<mat-label>Filter by username</mat-label>
			<input type="text" matInput [matAutocomplete]="auto" [formControl]="filterByUserFormControl">

			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
					{{ user.username }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
</div>

<div class="all-tournaments" *ngIf="allTournaments.length > 0">
	<div class="tournament" *ngFor="let tournament of (allTournaments | filterTournament : searchValue : filterByUserFormControl.value)">
		<div class="left">
			<div class="column">
				<div class="id" matTooltip="Tournament import id">
					{{ tournament.id }}
				</div>

				<div>
					{{ tournament.name }}
				</div>
			</div>

			<div class="column">
				Submitted by {{ tournament.createdBy.username }}
			</div>
		</div>

		<div class="right">
			<div class="button">
				<button mat-mini-fab color="accent" matTooltip="Edit this tournament" [matTooltipPosition]="'above'" (click)="editTournament(tournament)"><mat-icon>edit</mat-icon></button>
				<button mat-mini-fab color="primary" matTooltip="Import this tournament" [matTooltipPosition]="'above'" (click)="importTournament(tournament)"><mat-icon>cloud_download</mat-icon></button>
				<button mat-mini-fab color="warn" matTooltip="Delete this tournament" [matTooltipPosition]="'above'" (click)="deleteTournament(tournament)"><mat-icon>delete</mat-icon></button>
			</div>
		</div>
	</div>
</div>
