<form [formGroup]="validationForm">
	<div class="multiplayer-link" *ngIf="isJoinLobbyForm == true">
		<h2>Multiplayer link</h2>

		<mat-form-field id="tutorial-multiplayer-link" class="full-width">
			<mat-label>Multiplayer link</mat-label>
			<input matInput formControlName="multiplayer-link" />

			<mat-error *ngIf="getValidation('multiplayer-link').errors && getValidation('multiplayer-link').errors.pattern">
				Invalid multiplayerlink provided. Accepted formats: https://osu.ppy.sh/community/matches/46358686, https://osu.ppy.sh/mp/46358686
			</mat-error>
		</mat-form-field>

		<p>Enter the multiplayer link of the match that you want to (re)join.</p>

		<hr />
	</div>

	<h2>Select a tournament</h2>

	<mat-form-field id="tutorial-select-tournament" class="full-width">
		<mat-label>Select a tournament</mat-label>
		<mat-select formControlName="selected-tournament" (selectionChange)="changeTournament()">
			<mat-option *ngFor="let tournament of tournamentService.allTournaments" [value]="tournament.id">
				{{ tournament.name }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div>
		Select a tournament for which you will be making a multiplayer match for. <br />
	</div>

	<app-alert alertType="warn" *ngIf="tournamentService.allTournaments.length <= 0">
		You have no tournaments imported. Go to "management > all tournaments" in the sidebar to import a tournament.
	</app-alert>

	<app-alert alertType="info" *ngIf="selectedTournament == null">
		You can leave this empty if you want to manually enter all the data.
	</app-alert>

	<hr />

	<div class="row r-3">
		<div class="col" *ngIf="selectedTournament == null">
			<div class="tournament-acronym">
				<h2>Tournament acronym</h2>

				<mat-form-field id="tutorial-tournament-acronym" class="full-width">
					<mat-label>Tournament acronym</mat-label>
					<input matInput formControlName="tournament-acronym" />

					<mat-error *ngIf="getValidation('tournament-acronym').errors && (getValidation('tournament-acronym').touched || getValidation('tournament-acronym').dirty)">
						This field is required
					</mat-error>

					<mat-error *ngIf="getValidation('tournament-acronym').errors && getValidation('tournament-acronym').errors.maxlength && (getValidation('tournament-acronym').touched || getValidation('tournament-acronym').dirty)">
						This field can have a maximum of 10 characters
					</mat-error>
				</mat-form-field>

				<div>
					Enter an acronym that will be used to create the multiplayer match.
				</div>
			</div>
		</div>

		<div class="col" *ngIf="selectedTournament == null">
			<h2>Score system</h2>

			<mat-form-field id="tutorial-score-system" class="full-width">
				<mat-label>Select a score system</mat-label>
				<mat-select formControlName="score-interface" (selectionChange)="changeScoreInterface($event)">
					<mat-option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</mat-option>
				</mat-select>

				<mat-error *ngIf="getValidation('score-interface').errors && (getValidation('score-interface').touched || getValidation('score-interface').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>
				Enter the score system that is being used for the multiplayer game
			</p>

			<app-alert alertType="info" *ngIf="this.selectedScoreInterface">
				{{ this.selectedScoreInterface.getDescription() }}
			</app-alert>
		</div>

		<div class="col" *ngIf="selectedTournament == null && (this.teamSize == 0 || this.teamSize == null)">
			<h2>Team size</h2>

			<mat-form-field id="tutorial-team-size" class="full-width">
				<mat-label>Team size</mat-label>
				<input matInput formControlName="team-size" (change)="changeTeamSize()" />

				<mat-error *ngIf="getValidation('team-size').errors && (getValidation('team-size').touched || getValidation('team-size').dirty)">
					This field is required
				</mat-error>

				<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.min && (getValidation('team-size').touched || getValidation('team-size').dirty)">
					The team size must have at least a size of 1
				</mat-error>

				<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.max && (getValidation('team-size').touched || getValidation('team-size').dirty)">
					The team size can not be higher than 8
				</mat-error>

				<mat-error *ngIf="getValidation('team-size').errors && getValidation('team-size').errors.pattern && (getValidation('team-size').touched || getValidation('team-size').dirty)">
					The team size can only be a number
				</mat-error>
			</mat-form-field>

			<p>
				Enter the amount of players that are allowed to play in a team.
			</p>
		</div>
	</div>

	<hr *ngIf="selectedTournament == null" />

	<div class="row r-2" *ngIf="selectedTournament == null">
		<div class="col">
			<h2>Team one name</h2>

			<mat-form-field class="full-width">
				<mat-label>Team one name</mat-label>
				<input matInput formControlName="team-one-name" />

				<mat-error *ngIf="getValidation('team-one-name').errors && (getValidation('team-one-name').touched || getValidation('team-one-name').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>
				Enter the name of the first team. This will be team <span class="red-text">red</span> and has slot {{ teamOneArray.join(", ") }}.
			</p>
		</div>

		<div class="col">
			<h2>Team two name</h2>

			<mat-form-field class="full-width">
				<mat-label>Team two name</mat-label>
				<input matInput formControlName="team-two-name" />

				<mat-error *ngIf="getValidation('team-two-name').errors && (getValidation('team-two-name').touched || getValidation('team-two-name').dirty)">
					This field is required
				</mat-error>
			</mat-form-field>

			<p>
				Enter the name of the second team. This will be team <span class="blue-text">blue</span> and has slot {{ teamTwoArray.join(", ") }}.
			</p>
		</div>
	</div>

	<div class="row margin-button" *ngIf="selectedTournament == null">
		<div class="col">
			<h2>Brackets around team names</h2>

			<mat-slide-toggle [(ngModel)]="lobbyWithBrackets" [ngModelOptions]="{ standalone: true }">
				Create lobby <span [ngClass]="{'green': lobbyWithBrackets == true, 'red': lobbyWithBrackets == false}">{{ lobbyWithBrackets == true ? 'with' : 'without' }}</span> brackets around the team names.
			</mat-slide-toggle>
		</div>
	</div>

	<div *ngIf="selectedTournament != null">
		<h1>Stage</h1>
		<p>Select for which stage this match is supposed to be for.</p>

		<mat-form-field id="tutorial-select-stage" class="full-width" *ngIf="!selectedTournament.hasWyBinConnected()">
			<mat-label>Stage</mat-label>
			<mat-select formControlName="stage">
				<mat-option [value]="stage.name" *ngFor="let stage of selectedTournament.stages">{{ stage.name }}</mat-option>
			</mat-select>

			<mat-error *ngIf="getValidation('stage').errors && (getValidation('stage').touched || getValidation('stage').dirty)">
				This field is required
			</mat-error>
		</mat-form-field>

		<mat-form-field id="tutorial-select-stage" class="full-width" *ngIf="selectedTournament.hasWyBinConnected()">
			<mat-label>Stage</mat-label>
			<mat-select formControlName="stage-id" (selectionChange)="changeStage()" [disabled]="wyBinStages.length <= 0">
				<mat-option [value]="stage.wyRefereeId != null ? stage.wyRefereeId : stage.id" *ngFor="let stage of wyBinStages">{{ stage.name }}</mat-option>
			</mat-select>

			<mat-error *ngIf="getValidation('stage-id').errors && (getValidation('stage-id').touched || getValidation('stage-id').dirty)">
				This field is required
			</mat-error>
		</mat-form-field>

		<div class="loading" *ngIf="loadingWyBinStages == true">
			<div class="spinner">
				<mat-spinner [diameter]="32"></mat-spinner>&nbsp;loading stages...
			</div>
		</div>

		<hr />

		<div class="row r-2">
			<div id="tutorial-qualifier" class="col">
				<h1>Qualifier lobby</h1>
				<p>Use this option if the lobby you are creating is supposed to be a qualifier lobby.</p>

				<mat-slide-toggle [(ngModel)]="qualifier" (change)="changeQualifierLobby()" [ngModelOptions]="{ standalone: true }"></mat-slide-toggle>
			</div>

			<div id="tutorial-webhooks" class="col">
				<h1>Webhooks</h1>
				<p>Use this option to disable webhooks from being sent. Could be used for practice lobby, testing, etc.</p>

				<mat-slide-toggle [(ngModel)]="webhook" [ngModelOptions]="{ standalone: true }">Webhooks <span [ngClass]="{ 'green': webhook == true, 'red': webhook == false }">{{ webhook == true ? 'will' : 'wont' }}</span> be sent</mat-slide-toggle>

				<app-alert alertType="info" *ngIf="qualifier == true">Because you are creating a Qualifier lobby, only the <code>Match creation</code> webhook will be sent. All other webhooks will <b>NOT</b> be sent.</app-alert>
			</div>
		</div>

		<hr />

		<div *ngIf="selectedTournament.hasWyBinConnected()">
			<div class="row">
				<div class="col">
					<h2>Select a match</h2>
					<p>Choose a match to referee from the list below. Ensure you select the correct match before proceeding.</p>

					<mat-slide-toggle [(ngModel)]="customMatch" [ngModelOptions]="{ standalone: true }" (change)="changeCustomMatch()">Manually enter team/player names</mat-slide-toggle>

					<div *ngIf="customMatch == false">
						<mat-form-field class="full-width">
							<mat-label>Matches</mat-label>
							<input matInput placeholder="Matches" formControlName="selected-match-name" [matAutocomplete]="matAutocomplete" [disabled]="wyBinMatches.length <= 0" />

							<mat-autocomplete #matAutocomplete="matAutocomplete" (optionSelected)="selectMatch($event)">
								<mat-option [value]="match.getMatchName()" *ngFor="let match of wyBinMatchesFilter | async">{{ match.getMatchName() }}</mat-option>
							</mat-autocomplete>

							<mat-error *ngIf="getValidation('selected-match-name').errors && (getValidation('selected-match-name').touched || getValidation('selected-match-name').dirty)">
								The selected match is not valid. Choose a match from the provided list.
							</mat-error>
						</mat-form-field>

						<app-alert alertType="info" *ngIf="wyBinMatches.length <= 0">
							Make sure to select a stage, otherwise matches will not show up.
						</app-alert>
					</div>

					<div *ngIf="customMatch == true">
						<div class="row r-2">
							<div class="col">
								<ng-container *ngTemplateOutlet="teamInput; context: { controlName: 'team-one-name', label: 'Team one', filter: teamOneFilter, slots: teamOneArray, formGroup: validationForm }"></ng-container>
							</div>

							<div class="col">
								<ng-container *ngTemplateOutlet="teamInput; context: { controlName: 'team-two-name', label: 'Team two', filter: teamTwoFilter, slots: teamTwoArray, formGroup: validationForm }"></ng-container>
							</div>
						</div>

						<app-alert alertType="warn">
							Because you are manually entering the participant names, sending the final result may not always update data (e.g., score, multiplayer link, bans, etc.) to wyBin automatically.
							Ensure both team names match whatever is listed on wyBin in order for saving to work. <br />
							<u>If you don't need to automatically update data to wyBin, you can safely ignore this warning.</u>
						</app-alert>
					</div>
				</div>
			</div>
		</div>

		<hr *ngIf="selectedTournament.hasWyBinConnected()" />

		<div id="tutorial-participants" *ngIf="!selectedTournament.hasWyBinConnected()">
			<div class="row r-2" *ngIf="qualifier == false">
				<div class="col">
					<ng-container *ngTemplateOutlet="teamInput; context: { controlName: 'team-one-name', label: 'Team one', filter: teamOneFilter, slots: teamOneArray, formGroup: validationForm }"></ng-container>
				</div>

				<div class="col">
					<ng-container *ngTemplateOutlet="teamInput; context: { controlName: 'team-two-name', label: 'Team two', filter: teamTwoFilter, slots: teamTwoArray, formGroup: validationForm }"></ng-container>
				</div>
			</div>

			<div *ngIf="qualifier == true">
				<mat-form-field class="full-width">
					<mat-label>Qualifier lobby identifier</mat-label>
					<input matInput formControlName="qualifier-lobby-identifier" />

					<mat-error *ngIf="getValidation('qualifier-lobby-identifier').errors && getValidation('qualifier-lobby-identifier').errors.pattern">
						You have to enter an identifier
					</mat-error>
				</mat-form-field>

				<p>Enter the identifier of the qualifier lobby (for example, "B"). Current name of the lobby:</p>
				<p>{{ selectedTournament.acronym }}: Qualifier lobby: {{ qualifierLobbyIdentifier }}</p>
			</div>
		</div>
	</div>

	<app-alert alertType="warn" *ngIf="!ircAuthenticated">
		You are not logged in to IRC and are unable to create a lobby because of this. Go to <a routerLink="/authentication"><code>Authentication</code></a> to login to IRC.
	</app-alert>
</form>

<ng-template #teamInput let-controlName="controlName" let-label="label" let-filter="filter" let-slots="slots" let-formGroup="formGroup">
	<h2>{{ label }}</h2>

	<div [formGroup]="formGroup">
		<mat-form-field class="full-width">
			<mat-label>{{ label }} name</mat-label>

			<input matInput type="text" [formControlName]="controlName" class="form-control" [matAutocomplete]="teamAutoComplete" />

			<mat-autocomplete #teamAutoComplete="matAutocomplete">
				<mat-option *ngFor="let team of filter | async" [value]="team.name">
					{{ team.name }}
				</mat-option>
			</mat-autocomplete>

			<mat-error *ngIf="formGroup.get(controlName)?.errors && (formGroup.get(controlName).touched || formGroup.get(controlName).dirty)">
				This field is required
			</mat-error>
		</mat-form-field>
	</div>

	<p>
		Enter the name of {{ label.toLowerCase() }}. This will be team <span class="red-text" *ngIf="label.includes('one')">red</span> <span class="blue-text" *ngIf="label.includes('two')">blue</span> and has slot {{ slots.join(", ") }}.
	</p>
</ng-template>
