<div class="irc">
    <div class="channels">
        <div class="header">
            <button class="btn btn-primary" data-toggle="modal" data-target="#join-channel" (click)="openModal()" [disabled]="!ircService.isAuthenticated">Join channel</button>
        </div>

        <div class="all-channels" *ngIf="ircService.isAuthenticated" cdkDropList (cdkDropListDropped)="dropChannel($event)">
            <div class="channel" *ngFor="let channel of channels" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".all-channels">
                <div class="channel-name" 
                        (click)="changeChannel(channel.channelName)" 
                        [ngClass]="{'active': selectedChannel != undefined && (channel.channelName == selectedChannel.channelName), 'inactive': !channel.active }">
                    {{ channel.channelName }}
                </div>

                <div class="unread-messages">
                    <div class="badge badge-primary">
                        {{ channel.unreadMessages }}
                    </div>
                </div>

                <div class="delete-button" (click)="partChannel(channel.channelName)">
                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <virtual-scroller class="messages" [items]="chats" (vsUpdate)="virtualScrollerUpdate($event)">
        <div *ngIf="chats.length == 0 && selectedChannel != undefined" class="alert alert-warning mr-3 ml-3 mt-3">There are no messages yet.</div>
        <div *ngIf="chats.length == 0 && selectedChannel == undefined" class="alert alert-warning mr-3 ml-3 mt-3">There is no selected channel.</div>
        
        <div class="chat" *ngFor="let chat of viewPortItems">
            <div class="chat-content divider" *ngIf="!chat.isADivider">
                <div class="time" [title]="chat.date">
                    {{ chat.time }}
                </div>
    
                <div class="author" 
                        [ngClass]="{'me': chat.author == ircService.authenticatedUser, 'bancho': chat.author == 'BanchoBot'}"
                        (click)="openUserpage(chat.author)">
                    {{ chat.author }}
                </div>
    
                <div class="message">
                    <div class="message-piece" *ngFor="let chatPiece of chat.message">
                        <span *ngIf="chatPiece.messageType == 'Message'">{{ chatPiece.message }}</span>
                        <div class="link" *ngIf="chatPiece.messageType == 'Link'" (click)="electronService.openLink(chatPiece.message)">
                            &nbsp;
                            <span class="url" *ngIf="chatPiece.linkName == null">{{ chatPiece.message }}</span>
                            <span class="url" *ngIf="chatPiece.linkName != null">{{ chatPiece.linkName }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-content" *ngIf="chat.isADivider">
                <div class="divider"><span>{{ chat.author }}</span></div>
            </div>
        </div>
    </virtual-scroller>

    <div class="send-message">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Message..." #chatMessage (keyup.Tab)="onKey($event, 'up'); false;" (keydown.Tab)="onKey($event, 'down'); false;" [disabled]="!ircService.isAuthenticated || (selectedChannel == undefined || !selectedChannel.active)" />

                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="sendMessage()" [disabled]="!ircService.isAuthenticated || (selectedChannel == undefined || !selectedChannel.active)">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="join-channel" tabindex="-1" role="dialog">
    <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Join a channel</h3>
            </div>

            <div class="modal-body">
                <p>Enter the channel name below to join that channel. </p>
                <ul>
                    <li>If you want to join a channel, make sure to enter the <b>#</b> as well (<b>#osu, #taiko, #ctb, #mania, etc.</b>)</li>
                    <li>If you want to message a player, enter just their name (<b>Wesley, Sartan, Porojax, etc.</b>)</li>
                    <li>To join a multiplayer lobby, enter "#mp_" followed by the multiplayerlobby id (<b>#mp_53809297, #mp_55519658, etc.</b>)</li>
                </ul>

                <form>
                    <label for="channel-name">Channel name</label>
                    <input id="channel-name" type="text" class="form-control mb-2" placeholder="Channel name" #channelName />
                    <button class="btn btn-primary" style="width: 100%;" (click)="joinChannel()">Attempt to join <fa-icon *ngIf="isAttemptingToJoin" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
                </form>
            </div>
        </div>
    </div>
</div>