<div class="irc">
	<div class="channels">
		<div class="header">
			<button mat-flat-button class="full-width" (click)="joinChannel()" [disabled]="!ircService.isAuthenticated">Join channel</button>

			<div class="connect-area" *ngIf="isAttemptingToJoin">
				<div><mat-spinner [diameter]="40"></mat-spinner></div>
				Attempting to join {{ attemptingToJoinChannel }}
			</div>
		</div>

		<div class="all-channels" *ngIf="ircService.isAuthenticated" cdkDropList (cdkDropListDropped)="dropChannel($event)">
			<div class="channel" *ngFor="let channel of channels" cdkDrag cdkDragLockAxis="y" cdkDragBoundary="all-channels"
								[ngClass]="{'active': selectedChannel != undefined && (channel.channelName == selectedChannel.channelName), 'inactive': !channel.active, 'unread': channel.hasUnreadMessages }">
				<div class="channel-name" (click)="changeChannel(channel.channelName)">
					{{ channel.channelName }}
				</div>

				<div class="side-button">
					<div class="button not-muted" (click)="playSound(channel, false)" *ngIf="channel.playSoundOnMessage">
						<mat-icon>volume_up</mat-icon>
					</div>

					<div class="button muted" (click)="playSound(channel, true)" *ngIf="!channel.playSoundOnMessage">
						<mat-icon>volume_off</mat-icon>
					</div>

					<div class="button red" (click)="partChannel(channel.channelName)">
						<fa-icon [icon]="['fas', 'times']"></fa-icon>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="chat-container">
		<div class="match-header" *ngIf="(selectedChannel != null && selectedChannel.channelName.startsWith('#mp_')) && this.selectedLobby != null">
			Current score: {{ teamOneScore }} - {{ teamTwoScore }} <span *ngIf="this.hasWon == null">| Next pick: <b>{{ nextPick }}</b></span> <br />

			<div *ngIf="selectedChannel != null && this.breakpoint != null">
				Breakpoint for <b>{{ this.breakpoint }}</b>
			</div>

			<div *ngIf="selectedChannel != null && this.hasWon != null">
				<b>{{ this.hasWon }}</b> has won the match, GG and wp!
			</div>
		</div>

		<virtual-scroller class="messages" [items]="chats" [stripedTable]="true" (vsUpdate)="viewPortItems = $event">
			<div *ngIf="chats.length == 0 && selectedChannel != undefined" class="alert alert-warning alert-spacing">There are no messages yet.</div>
			<div *ngIf="chats.length == 0 && selectedChannel == undefined" class="alert alert-warning alert-spacing">There is no selected channel.</div>

			<div class="chat" *ngFor="let chat of viewPortItems">
				<div class="chat-content divider" *ngIf="!chat.isADivider">
					<div class="time" [title]="chat.date">
						{{ chat.time }}
					</div>

					<div class="author" [ngClass]="{'me': chat.author == ircService.authenticatedUser, 'bancho': chat.author == 'BanchoBot'}" (click)="openUserpage(chat.author)">
						{{ chat.author }}
					</div>

					<div class="message">
						<div class="message-piece" *ngFor="let chatPiece of chat.message">
							<span *ngIf="chatPiece.messageType == 'Message'">{{ chatPiece.message }}</span>
							<div class="link" *ngIf="chatPiece.messageType == 'Link'" (click)="electronService.openLink(chatPiece.message)">
								<span class="url" *ngIf="chatPiece.linkName == null">{{ chatPiece.message }}</span>
								<span class="url" *ngIf="chatPiece.linkName != null">{{ chatPiece.linkName }}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="chat-content" *ngIf="chat.isADivider">
					<div class="divider"><span>{{ chat.author }}</span></div>
				</div>
			</div>
		</virtual-scroller>

		<div class="send-message">
			<input type="text" placeholder="Message..." #chatMessage [disabled]="!ircService.isAuthenticated || (selectedChannel == undefined || !selectedChannel.active)" (keyup.Tab)="onKey($event, 'up'); false;" (keydown.Tab)="onKey($event, 'down'); false;" (keypress)="sendMessage($event)" />
		</div>

		<!-- <div class="side-menu" [ngClass]="{'in': !isOptionMenuMinimized}" *ngIf="selectedChannel != null && selectedChannel.channelName.startsWith('#mp_')">
			<div class="side-menu-button">
				<button class="btn btn-primary" (click)="isOptionMenuMinimized = !isOptionMenuMinimized"><fa-icon [icon]="['fas', 'cog']"></fa-icon></button>
				<button class="btn btn-info" (click)="navigateLobbyOverview(selectedChannel.channelName)"><fa-icon [icon]="['fas', 'bars']"></fa-icon></button>
			</div>

			<div class="side-menu-content">
				<div class="header">
					<div class="row">
						<div class="col">
							<h6>Team mode</h6>
							<select class="form-control" #teamMode (change)="onRoomSettingChange()" [value]="selectedChannel.teamMode">
								<option></option>
								<option value="0">Head To Head</option>
								<option value="1">Tag Coop</option>
								<option value="2">Team Vs</option>
								<option value="3">Tag Team Vs</option>
							</select>
						</div>

						<div class="col">
							<h6>Win condition</h6>
							<select class="form-control" #winCondition (change)="onRoomSettingChange()" [value]="selectedChannel.winCondition">
								<option></option>
								<option value="0">Score</option>
								<option value="1">Accuracy</option>
								<option value="2">Combo</option>
								<option value="3">Score V2</option>
							</select>
						</div>
					</div>

					<div class="row mt-2">
						<div class="col">
							<h6>Players</h6>

							<select class="form-control" #players (change)="onRoomSettingChange()" [value]="selectedChannel.players">
								<option></option>
								<option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]" [value]="number">{{ number }}</option>
							</select>
						</div>
					</div>

					<div class="row mt-2">
						<div class="col">
							<h6>Mappool</h6>

							<select class="form-control" (change)="onMappoolChange($event)" [value]="selectedLobby != undefined && selectedLobby.mappool != undefined && selectedLobby.mappool.id">
								<option value=""></option>
								<option *ngFor="let mappool of mappoolService.allMappools" [value]="mappool.id">{{ mappool.name }}</option>
							</select>
						</div>
					</div>

					<div class="row mt-2" *ngIf="selectedLobby.mappool != null">
						<div class="col">
							<input type="text" class="form-control" placeholder="Search for beatmap..." [(ngModel)]="searchValue" />
						</div>
					</div>
				</div>

				<div class="mappool" *ngIf="selectedLobby.mappool != null">
					<div class="mod-bracket" *ngFor="let bracket of ( selectedLobby.mappool.modBrackets | searchmodbracket : searchValue )">
						<hr />
						<h3>{{ bracket.bracketName }}</h3>
						<hr />

						<div class="pick-random-map" *ngIf="selectedLobby.mappool.mappoolType == 2">
							<button class="btn btn-primary" (click)="pickMysteryMap(selectedLobby.mappool, bracket)" [disabled]="!selectedChannel.active">Pick random map</button>
						</div>

						<div *ngIf="selectedLobby.mappool.mappoolType != 2">
							<div class="map" *ngFor="let beatmap of bracket.beatmaps">
								<div class="name" (click)="electronService.openLink(beatmap.beatmapUrl)" [ngClass]="{ 'beatmapBanned': beatmapIsBanned(selectedLobby, beatmap.beatmapId) }">
									{{ beatmap.beatmapName }}
								</div>

								<div class="buttons">
									<div class="beatmap-ban">
										<button class="btn btn-danger form-control" (click)="banBeatmapPopup(beatmap, bracket)" *ngIf="!beatmapIsBanned(selectedLobby, beatmap.beatmapId)">Ban</button>
										<button class="btn btn-success" (click)="unbanBeatmap(beatmap)" *ngIf="beatmapIsBanned(selectedLobby, beatmap.beatmapId)">Unban</button>
									</div>

									<div class="beatmap-pick">
										<button class="btn btn-primary" (click)="pickBeatmap(beatmap, bracket)" [disabled]="beatmapIsBanned(selectedLobby, beatmap.beatmapId)">Pick</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

<!-- <div class="modal fade" id="join-channel" tabindex="-1" role="dialog">
    <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Join a channel</h3>
            </div>

            <div class="modal-body">
                <p>Enter the channel name below to join that channel. </p>
                <ul>
                    <li>If you want to join a channel, make sure to enter the <b>#</b> as well (<b>#osu, #taiko, #ctb, #mania, etc.</b>)</li>
                    <li>If you want to message a player, enter just their name (<b>Wesley, Sartan, Porojax, etc.</b>)</li>
                    <li>To join a multiplayer lobby, enter "#mp_" followed by the multiplayerlobby id (<b>#mp_53809297, #mp_55519658, etc.</b>)</li>
                </ul>

                <form>
                    <label for="channel-name">Channel name</label>
                    <input id="channel-name" type="text" class="form-control mb-2" placeholder="Channel name" #channelName />
                    <button class="btn btn-primary" style="width: 100%;" (click)="joinChannel()">Attempt to join <fa-icon *ngIf="isAttemptingToJoin" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ban-a-map" tabindex="-1" role="dialog">
    <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ban a map</h3>
            </div>

            <div class="modal-body">
				<p>Select the team that wants to ban the following map</p>

				<div class="beatmap" *ngIf="popupBannedMap">
					{{ popupBannedMap.beatmapName }}
				</div>

                <div class="float-right">
                    <button class="btn btn-danger mr-2" (click)="hideModal('ban-a-map')">Cancel</button>
                    <button class="btn btn-success mr-2" (click)="banBeatmap(1)" *ngIf="selectedLobby">{{ selectedLobby.teamOneName }}</button>
                    <button class="btn btn-success" (click)="banBeatmap(2)" *ngIf="selectedLobby">{{ selectedLobby.teamTwoName }}</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
