@import "variables";

$background-color-irc: #282828;
$bancho-chat-colour: #df96c0;
$me-chat-colour: #ffffff;

$hyperlink-background-color: #2b4576;

.irc {
	display: flex;
	flex-direction: row;

	height: calc(100% - 8px);

	background-color: $background-color-irc;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

	.channels {
		display: flex;
		flex-direction: column;
		flex: 1 0 21%;

		background-color: darken($background-color-irc, 5%);

		.header {
			.btn {
				width: 100%;
			}

			.connect-area {
				display: flex;
				flex-direction: row;

				align-items: center;

				padding: 8px;

				background-color: $info;

				* {
					margin-right: 4px;
				}
			}
		}

		.all-channels {
			.channel {
				display: flex;
				flex-direction: row;

				user-select: none;

				width: 100%;
				height: 40px;

				border-left: 3px solid transparent;

				.channel-name {
					display: flex;
					align-items: center;

					padding: 8px;
				}

				.side-button {
					display: none;

					align-items: center;

					width: 80px;
					height: 40px;
					line-height: 40px;

					.button {
						display: flex;

						justify-content: center;
						align-items: center;

						width: 40px;
						height: 40px;
						line-height: 40px;

						&:hover {
							cursor: pointer;
						}

						&.blue {
							background-color: #4c63c7;
						}

						&.red {
							background-color: $danger;

							&:hover {
								background-color: darken($danger, 5%);
							}
						}

						&.muted {
							background-color: $danger;

							&:hover {
								background-color: darken($danger, 5%);
							}
						}

						&.not-muted {
							background-color: $success;

							&:hover {
								background-color: darken($success, 5%);
							}
						}
					}
				}

				&:hover,
				&.cdk-drag-preview {
					.channel-name {
						width: calc(100% - 80px);
					}

					.side-button {
						display: flex;

						width: 80px;
					}
				}

				&.inactive {
					border-left: 3px solid transparent;

					color: white;
					background-color: rgba(255, 0, 0, 0.3);

					&.active {
						border-left: 3px solid $primary;
					}
				}

				&.active {
					color: $primary;
					font-weight: bold;

					border-left: 3px solid $primary;
				}

				&:hover {
					cursor: pointer;

					border-left: 3px solid $primary;
					color: $primary;

					.side-button {
						color: white;
					}
				}

				&.unread {
					background-color: $info;
					color: white;
				}
			}
		}
	}

	.chat-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		.match-header {
			border-bottom: 3px solid $primary;
			text-align: center;
		}

		.messages {
			float: left;

			width: 100%;
			// height: calc(100% - #{$send-message-height});
			height: 100%;

			overflow-y: auto;

			.chat {
				.chat-content {
					display: flex;
					align-items: flex-start;
					flex-flow: row wrap;

					width: 100%;

					.divider {
						width: 100%;
						line-height: 0.1em;
						margin: 25px 0 25px;

						text-align: center;
						border-bottom: 3px solid $primary;

						span {
							background-color: $background-color-irc;
							color: $primary;

							font-weight: bold;
							font-size: 20px;

							padding: 0 10px;
						}
					}

					.time {
						width: 50px;

						margin-left: 6px;
						margin-right: 6px;
						padding: 3px;

						text-align: center;
					}

					.author {
						flex: 1 0 0;

						margin-left: 6px;
						margin-right: 6px;
						padding: 3px;

						text-align: center;
						font-weight: bold;

						background-color: #ffff00;
						color: black;

						border-radius: 50px;

						&.bancho {
							background-color: $bancho-chat-colour;

							&:hover {
								background-color: darken($bancho-chat-colour, 15%);
							}
						}

						&.highlighted {
							background-color: #36f027;

							&:hover {
								background-color: darken(#36f027, 15%);
							}
						}

						&.me {
							background-color: $me-chat-colour;
							color: #000000;

							&:hover {
								background-color: darken($me-chat-colour, 15%);
							}
						}

						&:hover {
							cursor: pointer;
							background-color: darken(#ffff00, 10%);
						}
					}

					.message {
						flex: 5 0px;
						width: calc(100% - (80px + 12px));

						padding: 8px;

						word-break: break-all;

						.message-piece {
							display: inline-block;

							.link {
								.url {
									background-color: $hyperlink-background-color;
									padding: 5px;
								}

								&:hover {
									cursor: pointer;

									.url {
										background-color: lighten($hyperlink-background-color, 15%);
									}
								}
							}
						}
					}
				}

				&:nth-child(odd) {
					.message {
						background-color: darken($background-color-irc, 5%);
					}
				}
			}
		}

		.send-message {
			// height: $send-message-height;

			input {
				width: 100%;
				height: 100%;

				box-sizing: border-box;

				padding: 12px 20px;

				font-size: 16px;

				background-color: $background-color;
				color: white;

				border: 1px solid darken($background-color, 15%);
				outline: 0;
			}
		}

		.side-menu {
			display: flex;
			flex-direction: row;

			position: absolute;
			float: right;

			width: 40px;
			height: 88px;

			right: 0;
			top: 0;
			bottom: 0;

			.side-menu-button {
				width: 40px;
				height: 88px;

				margin-top: 8px;

				z-index: 70;

				button {
					float: right;

					width: 40px;
					height: 40px;

					margin-bottom: 4px;
				}
			}

			.side-menu-content {
				display: flex;
				flex-direction: column;

				float: right;

				width: 0;
				height: 100%;

				opacity: 0;

				background-color: darken($background-color-irc, 5%);
				box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);

				overflow: hidden;

				.header {
					padding: 16px;
				}

				.mappool {
					padding-left: 16px;

					overflow-y: auto;

					width: 100%;

					.mod-bracket {
						width: 100%;

						margin-bottom: 16px;

						.pick-random-map {
							button {
								width: calc(100% - 16px);
							}
						}

						.map {
							display: flex;
							flex-direction: row;
							justify-content: space-between;

							background-color: $background-color-irc;

							overflow: hidden;

							padding: 4px;

							.name {
								overflow: hidden;
								word-wrap: none;

								&:hover {
									cursor: pointer;
									color: $primary;
									font-weight: bold;
								}

								&.beatmapBanned {
									background-color: #730101;
									text-decoration: line-through;

									&:hover {
										color: white;
										font-weight: normal;
									}
								}
							}

							.buttons {
								display: flex;
								flex-direction: row;

								button {
									box-sizing: border-box;
									margin-right: 4px;
								}
							}

							&:nth-child(even) {
								background-color: lighten($background-color-irc, 5%);
							}
						}
					}
				}
			}

			&.in {
				width: 30%;
				height: 100%;

				.side-menu-button {
					position: absolute;
					margin-left: -30px;
				}

				.side-menu-content {
					width: 100%;
					opacity: 1;
				}
			}
		}
	}
}

.beatmap {
	display: block;
	padding: 8px;
	color: white;
	text-shadow: 8px 8px 8px 8px black;
}

.cdk-drag-preview {
	color: $primary;
	background-color: darken($background-color-irc, 5%);
	cursor: pointer;

	padding-left: 11px;
	padding-top: 8px;
	border-top: 3px solid $primary;

	box-sizing: border-box;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);

	.delete-button {
		display: none;
	}

	.side-button {
		display: none;
	}
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
	.cdk-drag {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
}
