h3 {
	margin-top: 8px;
}

.users, .categories {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;

	margin-top: 8px;
	padding: 16px;

	border: 1px solid darken(#3C4452, 15%);

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

	.user, .category {
		display: flex;
		flex-direction: column;
		flex: 1 0 21%;

		width: 80px;

		margin: 8px;
	}
}

.spacing {
	margin-top: 8px;
	margin-bottom: 8px;
}

.input-full-width {
	width: calc(100% - 38px);
}

.full-width {
	width: 100%;
}
