<form [formGroup]="validationForm">
	<mat-tab-group>
		<mat-tab label="General">
			<app-tournament-general [tournament]="tournament" [validationForm]="validationForm"></app-tournament-general>
		</mat-tab>

		<mat-tab label="wyBin">
			<app-tournament-wybin [tournament]="tournament"></app-tournament-wybin>
		</mat-tab>

		<mat-tab label="Participants">
			<app-tournament-participants [tournament]="tournament" [validationForm]="validationForm"></app-tournament-participants>
		</mat-tab>

		<mat-tab label="Stages">
			<app-tournament-stages [tournament]="tournament" [validationForm]="validationForm"></app-tournament-stages>
		</mat-tab>

		<mat-tab label="Access">
			<app-tournament-access [tournament]="tournament"></app-tournament-access>
		</mat-tab>

		<mat-tab label="Webhook">
			<app-tournament-webhook [tournament]="tournament" [validationForm]="validationForm"></app-tournament-webhook>
		</mat-tab>

		<mat-tab label="Mappool">
			<app-mappool-create [tournament]="tournament" [validationForm]="validationForm"></app-mappool-create>
		</mat-tab>
	</mat-tab-group>
</form>
