<h1>wyReferee</h1>
<p>
	Welcome to wyReferee client. This client allows you to create, manage, publish and import both mappools and
	tournaments. It has a lot of QoL features for osu! multiplayer lobbies, such as picking maps from a mappool with
	just a single click on a button.
</p>

<h1>How to use the client</h1>
<p>
	Visit <a routerLink="" (click)="electronService.openLink('https://github.com/wesley-221/wyReferee/wiki')">Github</a>
	for a detailed guide on how to use this client. Know your way around already, but forgot how to set it all up again?
	Simply follow the steps listed below and you're good to go!
</p>

<hr />

<h1>Help! I found a bug/I want to request a new feature</h1>
<p>
	Head on over to <a routerLink=""
		(click)="electronService.openLink('https://github.com/wesley-221/wyReferee/issues')">Github</a> and create an
	issue.
</p>

<hr />

<h1>Getting started</h1>
<p>
	Head on over to <a [routerLink]="['settings']">Settings</a> where all the general settings are located.
</p>

<h2>osu! authentication</h2>
<p>
	This is used to identify who you are. A new window will pop up where you will have to give permission for wyReferee
	to read public data on your behalf. This basically means that wyReferee will be able to tell who is logged in, which
	then will be used to give you permissions to create, edit and view tournaments.
</p>

<h2>osu! irc</h2>
<p>
	Probably the single most important feature of this client. The irc connection is used to create multiplayer lobbies,
	as well as communicate in those multiplayer lobbies. Get your irc credentials by clicking on the link just below the
	Connect button.
</p>

<h2>osu!api key</h2>
<p>
	This client requires you to set your api key to get various data from the osu server. In order for the client to
	show everything properly, we have to get data from the osu! servers. This way we will be able to get all multiplayer
	match data and beatmap data.
</p>

<h2>Making your own tournament</h2>
<p>
	<b>NEW: Publishing your tournaments is now publicly available.</b> <br />

	Do you want to make your own Tournament in wyReferee? Go to the <a class="hover"
		(click)="electronService.openLink('https://github.com/wesley-221/wyReferee/wiki/4.-Management')">wiki (click
		me)</a> and simply follow the steps to get started!
</p>
