<div class="irc-match-settings">
	<div class="header-buttons">
		<div title="IRC actions" class="header-button" [ngClass]="{'active': sidebarHeaderButtonActive == 1}" (click)="selectSidebarHeaderButton(1)">
			<mat-icon>home</mat-icon> general
		</div>

		<div title="Multiplayer lobby settings" class="header-button" [ngClass]="{'active': sidebarHeaderButtonActive == 2}" (click)="selectSidebarHeaderButton(2)">
			<mat-icon>settings</mat-icon> settings
		</div>

		<div title="Invite participants" class="header-button" *ngIf="selectedLobby && (selectedLobby.tournament != null || selectedLobby.tournament != undefined)" [ngClass]="{'active': sidebarHeaderButtonActive == 3}" (click)="selectSidebarHeaderButton(3)">
			<mat-icon>person_add</mat-icon> players
		</div>
	</div>

	<div class="content-container">
		<div class="content" [ngClass]="{ 'active': sidebarHeaderButtonActive == 1 }">
			<app-irc-match-settings-general
				[selectedLobby]="selectedLobby"
				[selectedChannel]="selectedChannel"
				(openLobbyDialogEmitter)="openLobbyDialog()"
				(synchronizeMpEmitter)="synchronizeMp()"
				(updateMatchResultsEmitter)="updateMatchResults()"
			/>
		</div>

		<div class="content" [ngClass]="{ 'active': sidebarHeaderButtonActive == 2 }">
			<app-irc-match-settings-multiplayer-lobby-settings
				[selectedChannel]="selectedChannel"
			/>
		</div>

		<div class="content" [ngClass]="{ 'active': sidebarHeaderButtonActive == 3 }">
			<app-irc-match-settings-players-invite
				[selectedLobby]="selectedLobby"
				[selectedChannel]="selectedChannel"
				[qualifierTeams]="qualifierTeams"
			/>
		</div>
	</div>
</div>
