@import "variables";

.irc-match-settings {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	height: 100%;

	.header-buttons {
		display: flex;
		border-bottom: 1px solid $irc-border-color;
		flex-shrink: 0;
		background: $irc-match-header-background-color;

		.header-button {
			display: flex;
			align-items: center;
			justify-content: center;

			gap: 4px;
			flex: 1;
			padding: 8px 4px;
			margin-bottom: -1px;

			border-bottom: 2px solid transparent;

			background: transparent;
			color: var(--text3);

			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;

			transition: all 0.17s;
			cursor: pointer;

			&.active {
				color: $primary;
				border-bottom-color: $primary;
			}
		}
	}

	.content-container {
		display: flex;
		background: $irc-sidebar-background-color;

		flex: 1;
		overflow-x: auto;

		.content {
			display: none;
			gap: 4px;

			flex: 1;
			min-height: 0;

			&.active {
				display: flex;
			}
		}
	}
}
