@import "variables";

.irc-match-settings {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	grid-column: 3;
	grid-row: 2;

	.header-buttons {
		display: flex;
		border-bottom: 1px solid $irc-border-color;
		flex-shrink: 0;
		background: $irc-match-header-background-color;

		.header-button {
			display: flex;
			align-items: center;
			justify-content: center;

			gap: 4px;
			flex: 1;
			padding: 8px 4px;
			margin-bottom: -1px;

			border-bottom: 2px solid transparent;

			background: transparent;
			color: var(--text3);

			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;

			transition: all 0.17s;
			cursor: pointer;

			&.active {
				color: $primary;
				border-bottom-color: $primary;
			}
		}
	}

	.content-container {
		background: $irc-sidebar-background-color;

		.content {
			display: none;

			padding: 8px;
			gap: 4px;

			max-width: 350px;
			height: 200px;

			&.general-container {
				grid-template-columns: 1fr 1fr;

				.form-button {
					&.big-button {
						grid-column: 1 / -1;
					}
				}
			}

			&.settings-container {
				&.active {
					display: flex;
					flex-direction: column;
				}

				.updating-text {
					font-size: 12px;
					font-weight: 600;
					font-style: italic;
					color: $irc-input-text-color;

					margin-top: 4px;
				}
			}

			&.players-container {
				overflow-y: auto;
				padding: 0;

				.team {
					display: flex;
					flex-direction: column;

					position: relative;

					padding: 8px;

					.team-header {
						display: flex;
						align-items: center;

						position: sticky;
						top: 0;

						background: $irc-sidebar-background-color;

						padding-bottom: 4px;
						margin-bottom: 3px;
						border-bottom: 1px solid $irc-border-color;

						.team-name {
							font-size: 12px;
							letter-spacing: 0.15px;
							text-transform: uppercase;
							color: $primary;
						}

						.team-player-count {
							margin-left: auto;

							font-size: 10px;
							color: $irc-input-text-color;
						}
					}

					.players {
						display: flex;
						flex-direction: column;

						.player {
							display: flex;
							align-items: center;

							border-radius: 7px;
							padding: 6px 4px;
							gap: 4px;

							transition: background 0.14s;
							cursor: pointer;

							.name {
								flex: 1;
							}

							.actions {
								display: flex;
								align-items: center;
								gap: 4px;

								opacity: 0;
								transition: opacity 0.14s;
							}

							&:hover {
								background: $irc-input-background-color;

								.actions {
									opacity: 1;
								}
							}
						}
					}
				}
			}

			.label {
				display: block;

				font-size: 11px;
				font-weight: 600;

				text-transform: uppercase;

				color: $irc-input-text-color;

				margin-bottom: 4px;
			}

			.sidebar-select {
				width: 100%;

				background: $irc-input-background-color;
				color: $irc-input-text-color-active;

				border-radius: 7px;
				border: 1px solid $irc-input-border-color;
				outline: none;

				padding: 8px 11px;

				font-weight: 500;

				&:focus {
					border-color: $irc-input-border-color-active;
				}
			}

			.row {
				display: flex;
				flex-wrap: wrap;
				gap: 4px;

				.col {
					display: flex;
					flex-direction: column;

					gap: 4px;
					flex: 1;
				}
			}

			&.active {
				display: grid;
			}
		}
	}
}
