<div class="lobby">
	<div class="match-header">
		<div class="header">
			<h2 *ngIf="selectedLobby.isQualifierLobby == false || selectedLobby.isQualifierLobby == undefined">{{ selectedLobby.getLobbyName() }}</h2>
			<h2 *ngIf="selectedLobby.isQualifierLobby == true">{{ selectedLobby.getQualifierName() }}</h2>

			<div class="information">
				<div class="column">
					Multiplayer link: <a [routerLink]="[]" (click)="electronService.openLink(selectedLobby.multiplayerLink)">{{ selectedLobby.multiplayerLink }}</a>
				</div>

				<div class="column">
					<span class="red-team">{{ selectedLobby.teamOneName }}</span> score : <span [ngClass]="selectedLobby.getTeamOneScore() > selectedLobby.getTeamTwoScore() ? 'win' : 'lose'">{{ selectedLobby.getTeamOneScore() }}</span> | <span [ngClass]="selectedLobby.getTeamTwoScore() > selectedLobby.getTeamOneScore() ? 'win' : 'lose'">{{ selectedLobby.getTeamTwoScore() }}</span> : score <span class="blue-team">{{ selectedLobby.teamTwoName }}</span>
				</div>
			</div>
		</div>

		<div class="settings-warning" *ngIf="selectedLobby.bestOf == null || selectedLobby.firstPick == null">
			<app-alert alertType="danger">
				You haven't set the First pick of the match yet. Make sure to go to the settings and select them.
			</app-alert>
		</div>

		<div class="buttons">
			<div class="button-row">
				<button mat-mini-fab matTooltip="Go to IRC page" (click)="goToIrc()"><mat-icon>chat</mat-icon></button>
				<button mat-mini-fab color="accent" matTooltip="Update match results" (click)="updateMatchResults(selectedLobby)"><mat-icon>update</mat-icon></button>
			</div>

			<div class="button-row">
				<button mat-mini-fab matTooltip="Open the multiplayer lobby settings" (click)="openSettings(selectedLobby)"><mat-icon>settings</mat-icon></button>
				<button mat-mini-fab color="accent" matTooltip="Synchronize the scores of this multiplayer lobby" (click)="synchronizeMp()"><mat-icon>sync</mat-icon></button>
			</div>
		</div>
	</div>

	<div class="all-maps">
		<div class="map" *ngFor="let match of selectedLobby.multiplayerData | reverse">
			<div class="img" [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + cacheService.getBeatmapCoverUrl(match.beatmap_id) + ')' }">
				<div class="column">
					<h2 class="hover" (click)="electronService.openLink(getBeatmapUrlFromId(match.beatmap_id))">{{ cacheService.getBeatmapname(match.beatmap_id) }}</h2>

					<div class="align-right">
						<img *ngFor="let mod of getModsFromBit(match.mods)" [src]="'assets/osu-mods/' + mod + '.png'" />
					</div>

					<div class="modifier" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == true && selectedLobby.tournament.scoreInterfaceIdentifier == 'AxS'">
						<app-alert alertType="danger" *ngIf="getModifier(match.beatmap_id) == null">
							There was no modifier set for this map. Have you selected a mappool yet?
						</app-alert>
						<h6 *ngIf="getModifier(match.beatmap_id) != null">Beatmap modifier: {{ getModifier(match.beatmap_id) }}</h6>
					</div>

					<div class="modifier" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == false">
						<app-alert alertType="warn">
							This map does not count towards the team score (could be a warmup map/invalid score)
						</app-alert>
					</div>

					<div class="team-scores">
						<h4>{{ selectedLobby.teamOneName }}</h4>

						<!-- Doesnt use static slots, show users by what team they belong to -->
						<div class="score-table" *ngIf="!selectedLobby.tournament.scoreInterface.usesStaticSlots()">
							<div class="score" *ngFor="let player of match.teamRedPlayers">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(player.user) }}
									</div>

									<div class="extra-spacing" *ngIf="player.passed == 0">
										<s>Score: {{ player.score }}</s>
									</div>

									<div class="extra-spacing" *ngIf="player.passed == 1">
										Score: {{ player.score }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getModsFromPlayer(player)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="player.passed == 0">
										{{ player.accuracy }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="player.passed == 1">
										{{ player.accuracy }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_one_score, " ") }}
								</div>
							</div>
						</div>

						<!-- Uses static slots, show users by the given slots instead of actual teams -->
						<div class="score-table" *ngIf="selectedLobby.tournament.scoreInterface.usesStaticSlots()">
							<div class="score" *ngFor="let slot of selectedLobby.teamOneSlotArray">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(match.getPlayer(slot).user) }}
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 0">
										<s>Score: {{ getScore(match, slot) }}</s>
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 1">
										Score: {{ getScore(match, slot) }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getModsBySlotId(match, slot)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 0">
										{{ getAccuracy(match, slot) }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 1">
										{{ getAccuracy(match, slot) }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_one_score, " ") }}
								</div>
							</div>
						</div>

						<hr />

						<h4>{{ selectedLobby.teamTwoName }}</h4>

						<!-- Doesnt use static slots, show users by what team they belong to -->
						<div class="score-table" *ngIf="!selectedLobby.tournament.scoreInterface.usesStaticSlots()">
							<div class="score" *ngFor="let player of match.teamBluePlayers">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(player.user) }}
									</div>

									<div class="extra-spacing" *ngIf="player.passed == 0">
										<s>Score: {{ player.score }}</s>
									</div>

									<div class="extra-spacing" *ngIf="player.passed == 1">
										Score: {{ player.score }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getModsFromPlayer(player)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="player.passed == 0">
										{{ player.accuracy }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="player.passed == 1">
										{{ player.accuracy }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_two_score, " ") }}
								</div>
							</div>
						</div>

						<!-- Uses static slots, show users by the given slots instead of actual teams -->
						<div class="score-table" *ngIf="selectedLobby.tournament.scoreInterface.usesStaticSlots()">
							<div class="score" *ngFor="let slot of selectedLobby.teamTwoSlotArray">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(match.getPlayer(slot).user) }}
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 0">
										<s>Score: {{ getScore(match, slot) }}</s>
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 1">
										Score: {{ getScore(match, slot) }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getModsBySlotId(match, slot)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 0">
										{{ getAccuracy(match, slot) }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 1">
										{{ getAccuracy(match, slot) }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_two_score, " ") }}
								</div>
							</div>
						</div>

						<hr />

						<ng-container *ngIf="isReverseScoreBeatmap(match.beatmap_id); else normalScoreInterface">
							<div *ngIf="match.team_two_score > match.team_one_score">
								<h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> | Score difference: {{ addDot(match.team_two_score - match.team_one_score, " ") }}
							</div>

							<div *ngIf="match.team_one_score > match.team_two_score">
								<h3><span class="blue-text">{{ selectedLobby.teamTwoName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> | Score difference: {{ addDot(match.team_one_score - match.team_two_score, " ") }}
							</div>
						</ng-container>

						<ng-template #normalScoreInterface>
							<div *ngIf="match.team_one_score > match.team_two_score">
								<h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> | Score difference: {{ addDot(match.team_one_score - match.team_two_score, " ") }}
							</div>

							<div *ngIf="match.team_two_score > match.team_one_score">
								<h3><span class="blue-text">{{ selectedLobby.teamTwoName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> | Score difference: {{ addDot(match.team_two_score - match.team_one_score, " ") }}
							</div>
						</ng-template>
					</div>
				</div>

				<div class="column buttons">
					<button mat-mini-fab color="accent" matTooltip="Mark as invalid" (click)="markAsInvalid(match)" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == true"><mat-icon>thumb_up</mat-icon></button>
					<button mat-mini-fab color="warn" matTooltip="Mark as valid" (click)="markAsInvalid(match)" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == false"><mat-icon>thumb_down</mat-icon></button>

					<button mat-mini-fab color="primary" matTooltip="Send beatmap result to multiplayer lobby" (click)="sendBeatmapResult(match)" [disabled]="!ircService.isAuthenticated"><mat-icon>send</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Copy beatmap result" (click)="copyBeatmapResult(match)"><mat-icon>content_copy</mat-icon></button>
				</div>
			</div>
		</div>
	</div>
</div>
