@import '~@angular/material/theming';

$md-primary: (
    50 : #fff2ef,
    100 : #fee0d7,
    200 : #fdcbbc,
    300 : #fcb6a1,
    400 : #fca68c,
    500 : #fb9678,
    600 : #fa8e70,
    700 : #fa8365,
    800 : #f9795b,
    900 : #f86848,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffece8,
    A700 : #ffd7cf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e0f4ee,
    100 : #b3e3d5,
    200 : #80d1b9,
    300 : #4dbe9d,
    400 : #26b088,
    500 : #00a273,
    600 : #009a6b,
    700 : #009060,
    800 : #008656,
    900 : #007543,
    A100 : #a3ffd1,
    A200 : #70ffb8,
    A400 : #3dff9e,
    A700 : #24ff91,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-success: (
    50 : #e5f5ec,
    100 : #bee7cf,
    200 : #93d7b0,
    300 : #68c690,
    400 : #47ba78,
    500 : #27ae60,
    600 : #23a758,
    700 : #1d9d4e,
    800 : #179444,
    900 : #0e8433,
    A100 : #b5ffc9,
    A200 : #82ffa4,
    A400 : #4fff7f,
    A700 : #36ff6d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-info: (
    50 : #e0eefa,
    100 : #b3d5f4,
    200 : #80baec,
    300 : #4d9ee4,
    400 : #2689df,
    500 : #0074d9,
    600 : #006cd5,
    700 : #0061cf,
    800 : #0057ca,
    900 : #0044c0,
    A100 : #e9efff,
    A200 : #b6cbff,
    A400 : #83a6ff,
    A700 : #6994ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-danger: (
    50 : #ffe8e7,
    100 : #ffc6c3,
    200 : #ffa09b,
    300 : #ff7a72,
    400 : #ff5e54,
    500 : #ff4136,
    600 : #ff3b30,
    700 : #ff3229,
    800 : #ff2a22,
    900 : #ff1c16,
    A100 : #ffffff,
    A200 : #fffcfc,
    A400 : #ffcac9,
    A700 : #ffb1af,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warning: (
    50 : #fef3e3,
    100 : #fbe1b8,
    200 : #f9ce89,
    300 : #f7ba59,
    400 : #f5ab36,
    500 : #f39c12,
    600 : #f19410,
    700 : #ef8a0d,
    800 : #ed800a,
    900 : #ea6e05,
    A100 : #ffffff,
    A200 : #ffecdf,
    A400 : #ffceac,
    A700 : #ffbf92,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Change the font for the angular components
$font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
$typography: mat-typography-config(
	$font-family
);

@include angular-material-typography($typography);

// Setup the theme
$theme-primary: mat-palette($md-primary);
$theme-accent: mat-palette($md-accent, A200, A100, A400);
$theme-danger: mat-palette($md-danger);
$theme-success: mat-palette($md-success);
$final-theme: mat-dark-theme($theme-primary, $theme-success, $theme-danger);

// Export default colours to use everywhere
$primary: map-get($theme-primary, 500);
$success: map-get($theme-success, 700);
$warning: map-get($md-warning, 600);
$info: map-get($md-info, 500);
$danger: map-get($md-danger, 500);

$background-color: #121212;
$tile-background-color: #1d1d1d;

$sidebar-color: #2f3136;
$sidebar-color-hover: $primary;
