<form [formGroup]="validationForm">
	<div class="mod-bracket">
		<div class="header">
			<div class="information">
				<h3>{{ modBracket.name }}</h3>
			</div>

			<div class="buttons">
				<button mat-mini-fab color="warn" (click)="deleteModBracket(modBracket)"><mat-icon>delete</mat-icon></button>
				<button mat-mini-fab color="primary" (click)="collapseBracket(modBracket)">
					<mat-icon *ngIf="modBracket.collapsed">expand_more</mat-icon>
					<mat-icon *ngIf="!modBracket.collapsed">expand_less</mat-icon>
				</button>
			</div>
		</div>

		<div class="body" [ngClass]="{'hide': modBracket.collapsed}">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<mat-label>Mod bracket name</mat-label>
						<input matInput [formControlName]="'mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-name'" (change)="onNameChange($event)" />

						<mat-error *ngIf="validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-name').errors && (validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-name').touched || validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-name').dirty)">
							This field is required
						</mat-error>
					</mat-form-field>

					<p>Enter the name of the mod bracket.</p>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-label>Mod bracket acronym</mat-label>
						<input matInput [formControlName]="'mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-acronym'" (change)="onAcronymChange($event)" />

						<mat-error *ngIf="validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-acronym').errors && (validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-acronym').touched || validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-acronym').dirty)">
							This field is required
						</mat-error>
					</mat-form-field>

					<p>Enter the acronym of the mod bracket, used to identify chat commands such as "NM1", "HD3", "FM4", etc.</p>
				</div>
			</div>

			<hr />

			<h3>Mods</h3>
			<p>
				Select the mods you want to add to this bracket when selecting a map. <br />
			</p>

			<div class="spacing">
				<button mat-raised-button (click)="addNewMod()" color="primary"><fa-icon [icon]="['fas', 'plus']"></fa-icon> add new mod</button>
			</div>

			<div class="all-mods">
				<div class="mod" *ngFor="let modSelect of modBracket.mods">
					<div class="mod-select">
						<mat-form-field class="full-width">
							<mat-label>Mod</mat-label>
							<mat-select class="full-width" [formControlName]="'mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-mod-' + modSelect.index + '-value'">
								<mat-option *ngFor="let mod of availableMods" [value]="mod.value">{{ mod.name }}</mat-option>
							</mat-select>

							<mat-error *ngIf="validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-mod-' + modSelect.index + '-value').errors && (validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-mod-' + modSelect.index + '-value').touched || validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-mod-' + modSelect.index + '-value').dirty)">
								This field is required
							</mat-error>
						</mat-form-field>
					</div>

					<div class="buttons">
						<button mat-mini-fab (click)="deleteMod(modSelect.index)" color="warn"><mat-icon>delete</mat-icon></button>
					</div>
				</div>
			</div>

			<hr />

			<div class="beatmaps">
				<h3>Beatmaps</h3>
				<p>Import beatmaps that will be used in the mod bracket. Make sure to synchronize the beatmaps so you you know you got the correct beatmap.</p>

				<div class="modify-buttons">
					<button mat-raised-button (click)="addBeatmap(modBracket)" color="primary"><fa-icon [icon]="['fas', 'plus']"></fa-icon> add new beatmap</button>
					<button mat-raised-button (click)="addBulkBeatmaps(modBracket)" color="primary" [disabled]="bulkBeatmaps == null || bulkBeatmaps.length <= 0"><fa-icon [icon]="['fas', 'plus']"></fa-icon> add bulk beatmaps</button>
					<button mat-raised-button (click)="synchronizeAll(modBracket)" color="primary" [disabled]="synchAllDisabled"><mat-icon>sync</mat-icon> synchronize all beatmaps</button>
				</div>

				<mat-form-field class="full-width extra-spacing">
					<mat-label>List with beatmaps ids. 1 beatmap per line</mat-label>
					<textarea matInput [(ngModel)]="bulkBeatmaps" [ngModelOptions]="{standalone: true}"></textarea>
				</mat-form-field>

				<div class="all-beatmaps">
					<div class="beatmap" *ngFor="let beatmap of modBracket.beatmaps">
						<div class="data">
							<div class="column">
								<mat-form-field class="full-width">
									<mat-label>Beatmap id</mat-label>
									<input matInput [(ngModel)]="beatmap.beatmapId" [ngModelOptions]="{ standalone: true }" />
								</mat-form-field>
							</div>

							<div class="column" *ngIf="mappool.type == 1">
								<mat-form-field class="full-width">
									<mat-label>Modifier</mat-label>
									<input matInput [formControlName]="'mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-beatmap-' + beatmap.index + '-modifier'" [(ngModel)]="beatmap.modifier" />

									<mat-error *ngIf="validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-beatmap-' + beatmap.index + '-modifier').errors && (validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-beatmap-' + beatmap.index + '-modifier').touched || validationForm.get('mappool-' + this.mappool.index + '-mod-bracket-' + modBracket.index + '-beatmap-' + beatmap.index + '-modifier').dirty)">
										This field is required
									</mat-error>
								</mat-form-field>
							</div>

							<div class="column category" *ngIf="mappool.type == 2 && tournament.publishId != null">
								<mat-form-field>
									<mat-label>Mod category</mat-label>
									<mat-select (selectionChange)="changeModCategory(beatmap, $event)" [value]="beatmap.modCategory != null ? beatmap.modCategory.name : null">
										<mat-option [value]="modCategory.name" *ngFor="let modCategory of mappool.modCategories">{{ modCategory.name }}</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-slide-toggle [checked]="beatmap.picked" (change)="changePicked(beatmap, $event)">
									<span *ngIf="beatmap.picked == true">Picked</span>
									<span *ngIf="beatmap.picked == false || beatmap.picked == null">Not picked</span>
								</mat-slide-toggle>
							</div>
						</div>

						<div class="information">
							<span *ngIf="beatmap.beatmapName == null && beatmap.invalid == false" class="has-error">No beatmap found, have you tried synchronizing?</span>
							<a [routerLink]="" *ngIf="beatmap.beatmapName && !beatmap.invalid" (click)="electronService.openLink(beatmap.beatmapUrl)">{{ beatmap.beatmapName }}</a>
							<span *ngIf="beatmap.invalid" class="has-error">There was no beatmap found with the beatmap id "{{ beatmap.beatmapId }}".</span>
						</div>

						<div class="buttons">
							<button mat-mini-fab color="accent" (click)="synchronizeBeatmap(beatmap)">
								<mat-icon [ngClass]="{'rotate': beatmap.isSynchronizing}">sync</mat-icon>
							</button>

							<button mat-mini-fab color="warn" (click)="removeBeatmap(modBracket, beatmap)"><mat-icon>delete</mat-icon></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
