@import "variables";

.sidebar-link {
	user-select: none;
	text-decoration: none;

	&.active {
		.sidebar-item {
			color: $primary;
			background-color: rgba(lighten($sidebar-color, 15%), 0.2);
			border-radius: 0px 6px 6px 0px;
		}
	}

	&:hover {
		cursor: pointer;

		.sidebar-item {
			color: $primary;
			background-color: rgba(lighten($sidebar-color, 15%), 0.2);
			border-radius: 0px 6px 6px 0px;
		}
	}
}
