<div class="login">
	<div class="user" *ngIf="authenticateService.loggedIn">
		<img [src]="authenticateService.loggedInUser.getAvatarUrl()" />

		<div>
			{{ authenticateService.loggedInUser.username }}

			<div [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
				<div class="dot" [ngClass]="{'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2}"></div> irc
			</div>
		</div>
	</div>

	<div class="user" *ngIf="!authenticateService.loggedIn">
		<img [src]="'assets/images/osulogo.png'" />

		<div>
			You are not logged in.

			<div [matTooltip]="ircConnectionStatus == 0 ? 'Disconnected' : ircConnectionStatus == 1 ? 'Connecting' : ircConnectionStatus == 2 ? 'Connected' : 'Disconnected'">
				<div class="dot" [ngClass]="{'connecting': ircConnectionStatus == 1, 'connected': ircConnectionStatus == 2}"></div> irc
			</div>
		</div>
	</div>
</div>

<mat-list>
	<div *ngFor="let navigationItem of allNavigations">
		<a [routerLink]="[navigationItem.link]" routerLinkActive="active" class="sidebar-link" *ngIf="navigationItem.showIf == undefined || navigationItem.showIf == true">
			<mat-list-item class="sidebar-item">
				<mat-icon matListIcon>{{ navigationItem.icon }}</mat-icon>
				<p matLine>
					<span>{{ navigationItem.header }}</span>
				</p>
			</mat-list-item>
		</a>
	</div>
</mat-list>
