@import "variables";

.sidebar-link {
	user-select: none;
	text-decoration: none;

	&.active {
		.sidebar-item {
			color: $primary;
		}
	}

	&:hover {
		cursor: pointer;

		.sidebar-item {
			color: $primary;
		}
	}
}
