<div class="matchHeader" [ngClass]="{'settings-active': settingsTabIsOpened}">
    <div class="header-content">
        <h2>{{ selectedLobby.description }}</h2>
        <div class="row">
            <div class="col-7">
                Multiplayer link: <a [routerLink]="" (click)="electronService.openLink(selectedLobby.multiplayerLink)">{{ selectedLobby.multiplayerLink }}</a><br />

                <span id="scoreString"><span class="red-text">Team {{ selectedLobby.teamOneName }}</span> score : <span [ngClass]="{'teamWin': selectedLobby.teamOneScore > selectedLobby.teamTwoScore, 'teamLoss': selectedLobby.teamTwoScore > selectedLobby.teamOneScore}">{{ selectedLobby.teamOneScore }}</span> | <span [ngClass]="{'teamWin': selectedLobby.teamTwoScore > selectedLobby.teamOneScore, 'teamLoss': selectedLobby.teamOneScore > selectedLobby.teamTwoScore}">{{ selectedLobby.teamTwoScore }}</span> : score <span class="blue-text">Team {{ selectedLobby.teamTwoName }}</span></span>
            </div>

            <div class="col-5">
                <select class="form-control" (change)="changeMappool($event)" [value]="getMappoolId()">
                    <option value="-1">Select a mappool</option>
                    <option [value]="mappool.id" *ngFor="let mappool of mappoolService.allMappools">{{ mappool.name }}</option>
                </select>

                <div class="btn-group float-right">
                    <button class="btn btn-primary" (click)="settingsTabIsOpened = !settingsTabIsOpened"><fa-icon [icon]="['fas', 'cogs']"></fa-icon> Settings</button>
                    <button type="button" (click)="copyNextPick()" *ngIf="!selectedLobby.ircConnected" class="btn btn-info"><fa-icon [icon]="['far', 'envelope-open']"></fa-icon> Copy next pick</button>
                    <button type="button" (click)="sendNextPick()" *ngIf="selectedLobby.ircConnected" class="btn btn-info" [disabled]="!ircService.isAuthenticated"><fa-icon [icon]="['far', 'envelope-open']"></fa-icon> Send next pick</button>
                    <button type="button" (click)="synchronizeMp()" class="btn btn-success" title="Synchronize multiplayer data"><fa-icon [icon]="['fas', 'sync']"></fa-icon> Synchronize</button>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-tab" [ngClass]="{'active': settingsTabIsOpened}">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <h5>First pick</h5>
                        <select class="form-control" (change)="change('firstPick', $event)" [value]="selectedLobby.firstPick">
                            <option></option>
                            <option [value]="selectedLobby.teamOneName">{{ selectedLobby.teamOneName }}</option>
                            <option [value]="selectedLobby.teamTwoName">{{ selectedLobby.teamTwoName }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h5>Best of</h5>
                        <select class="form-control" (change)="change('bestOf', $event)" [value]="selectedLobby.bestOf">
                            <option [value]="item" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]">{{ item }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-9" *ngIf="selectedLobby && selectedLobby.mappoolId == -1">
                <div class="alert alert-warning">
                    You have to select a mappool first.
                </div>
            </div>

            <div class="col-9" *ngIf="selectedLobby && selectedLobby.mappoolId != -1 && selectedLobby.mappool">
                <h5>Bans</h5>

                <table class="table">
                    <tr>
                        <td>{{ selectedLobby.teamOneName }}</td>
                        <td>
                            <select class="form-control" (change)="change('teamOneBanOne', $event)" [value]="selectedLobby.teamOneBanOne">
                                <option [value]="beatmap.beatmapId" *ngFor="let beatmap of selectedLobby.mappool.allBeatmaps">{{ beatmap.name }}</option>
                            </select>
                        </td>

                        <td>
                            <select class="form-control" (change)="change('teamOneBanTwo', $event)" [value]="selectedLobby.teamOneBanTwo">
                                <option [value]="beatmap.beatmapId" *ngFor="let beatmap of selectedLobby.mappool.allBeatmaps">{{ beatmap.name }}</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>{{ selectedLobby.teamTwoName }}</td>
                        <td>
                            <select class="form-control" (change)="change('teamTwoBanOne', $event)" [value]="selectedLobby.teamTwoBanOne">
                                <option [value]="beatmap.beatmapId" *ngFor="let beatmap of selectedLobby.mappool.allBeatmaps">{{ beatmap.name }}</option>
                            </select>
                        </td>

                        <td>
                            <select class="form-control" (change)="change('teamTwoBanTwo', $event)" [value]="selectedLobby.teamTwoBanTwo">
                                <option [value]="beatmap.beatmapId" *ngFor="let beatmap of selectedLobby.mappool.allBeatmaps">{{ beatmap.name }}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <button type="button" (click)="joinIrc()" class="btn btn-info" title="Join irc channel" [disabled]="!ircService.isAuthenticated"><fa-icon [icon]="['fas', 'comment-dots']"></fa-icon> Join irc channel</button>
        <button type="button" (click)="copyMatchResult()" *ngIf="!selectedLobby.ircConnected" class="btn btn-info" title="Copy match score"><fa-icon icon="copy"></fa-icon> Copy match score</button>
        <button type="button" (click)="sendMatchResult()" *ngIf="selectedLobby.ircConnected" [disabled]="!ircService.isAuthenticated" class="btn btn-info" title="Send match score to irc"><fa-icon icon="copy"></fa-icon> Send match score</button>
    </div>
</div>

<div class="allMaps">
    <div *ngFor="let match of selectedLobby.multiplayerData" class="multiMatch">
        <div class="mapPicture" [ngStyle]="{ 'background-image': getThumbUrl(match.beatmap_id) }"></div>

        <div class="mapContent">
            <div class="mapTitle mb-2">
                <div class="row">
                    <div class="col-10">
                        <h4>{{ getBeatmapname(match.beatmap_id) }}</h4>
                    </div>

                    <div class="col-2">
                        <button type="button" class="btn float-right" [ngClass]="{'btn-danger': selectedLobby.mapsCountTowardScore[match.game_id] == true, 'btn-success': selectedLobby.mapsCountTowardScore[match.game_id] == false}" (click)="markAsInvalid(match)">Mark as <span *ngIf="selectedLobby.mapsCountTowardScore[match.game_id] == true">in</span>valid</button>
                    </div>
                </div>
            </div>

            <div class="mapModifier" *ngIf="selectedLobby.mapsCountTowardScore[match.game_id] == true">
                <div class="alert alert-danger" *ngIf="getModifier(match.beatmap_id) == null"><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon> There was no modifier set for this map. Have you selected a mappool yet?</div>
                <h6 *ngIf="getModifier(match.beatmap_id) != null">Beatmap modifier: {{ getModifier(match.beatmap_id) }}</h6>
            </div>

            <div class="mapModifier" *ngIf="selectedLobby.mapsCountTowardScore[match.game_id] == false">
                <div class="alert alert-warning"><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon> This map does not count towards the team score (could be a warmup map/invalid score)</div>
            </div>

            <hr />

            <div class="mapScore">
                <h5>Team {{ selectedLobby.teamOneName }}</h5>
                <table>
                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(0).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 0) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 0) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Accuracy player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(1).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 1) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 1) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(2).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 2) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 2) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>
                </table>
                
                <hr />

                <h5>Team {{ selectedLobby.teamTwoName }}</h5>
                <table>
                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(3).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 3) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 3) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Accuracy player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(4).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 4) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 4) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(5).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 5) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 5) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>
                </table>

                <hr />

                <div class="red-text">Team {{ selectedLobby.teamOneName }} score: {{ addDot(match.team_one_score, " ") }}</div>
                <div class="blue-text">Team {{ selectedLobby.teamTwoName }} score: {{ addDot(match.team_two_score, " ") }}</div>

                <br />
                
                <div *ngIf="match.team_one_score > match.team_two_score">
                    <h3><span class="red-text">Team {{ selectedLobby.teamOneName }}</span> has won.</h3><span class="red-text">Team {{ selectedLobby.teamOneName }}</span> score: {{ addDot(match.team_one_score, " ")}} | <span class="blue-text">Team {{ selectedLobby.teamTwoName }}</span> score: {{ addDot(match.team_two_score, " ") }} | Score difference: {{ addDot(match.team_one_score - match.team_two_score, " ") }}
                </div>

                <div *ngIf="match.team_two_score > match.team_one_score">
                    <h3><span class="blue-text">Team {{ selectedLobby.teamTwoName }}</span> has won.</h3><span class="red-text">Team {{ selectedLobby.teamOneName }}</span> score: {{ addDot(match.team_one_score, " ")}} | <span class="blue-text">Team {{ selectedLobby.teamTwoName }}</span> score: {{ addDot(match.team_two_score, " ") }} | Score difference: {{ addDot(match.team_two_score - match.team_one_score, " ") }}
                </div>
            </div>
        </div>

        <div class="mapButtons">
            <button type="button" class="btn btn-primary" (click)="sendBeatmapResult(match)" *ngIf="selectedLobby.ircConnected" [disabled]="!ircService.isAuthenticated">Send result</button>
            <button type="button" class="btn btn-primary" (click)="copyBeatmapResult(match)" *ngIf="!selectedLobby.ircConnected">Copy result</button>
        </div>
    </div>
    
</div>