<div class="lobby">
	<div class="match-header">
		<div class="header">
			<h2 *ngIf="selectedLobby.isQualifierLobby == false || selectedLobby.isQualifierLobby == undefined">{{ selectedLobby.getLobbyName() }}</h2>
			<h2 *ngIf="selectedLobby.isQualifierLobby == true">{{ selectedLobby.getQualifierName() }}</h2>

			<div class="information">
				<div class="column">
					Multiplayer link: <a [routerLink]="" (click)="electronService.openLink(selectedLobby.multiplayerLink)">{{ selectedLobby.multiplayerLink }}</a>
				</div>

				<div class="column">
					<span class="red-team">{{ selectedLobby.teamOneName }}</span> score : <span [ngClass]="selectedLobby.teamOneScore > selectedLobby.teamTwoScore ? 'win' : 'lose'">{{ selectedLobby.teamOneScore }}</span> | <span [ngClass]="selectedLobby.teamTwoScore > selectedLobby.teamOneScore ? 'win' : 'lose'">{{ selectedLobby.teamTwoScore }}</span> : score <span class="blue-team">{{ selectedLobby.teamTwoName }}</span>
				</div>
			</div>
		</div>

		<div class="settings-warning" *ngIf="selectedLobby.bestOf == null || selectedLobby.firstPick == null">
			<div class="alert alert-danger">
				You haven't set the First pick of the match yet. Make sure to go to the settings and select them.
			</div>
		</div>

		<div class="buttons">
			<div class="button-row">
				<button mat-mini-fab matTooltip="Go to IRC page" (click)="goToIrc()"><mat-icon>chat</mat-icon></button>
				<button mat-mini-fab color="accent" matTooltip="Send final result to Discord webhook" (click)="sendFinalResult(selectedLobby)"><mat-icon>send</mat-icon></button>
			</div>

			<div class="button-row">
				<button mat-mini-fab matTooltip="Open the multiplayer lobby settings" (click)="openSettings(selectedLobby)"><mat-icon>settings</mat-icon></button>
				<button mat-mini-fab color="accent" matTooltip="Synchronize the scores of this multiplayer lobby" (click)="synchronizeMp()"><mat-icon>sync</mat-icon></button>
			</div>
		</div>
	</div>

	<div class="all-maps">
		<div class="map" *ngFor="let match of selectedLobby.multiplayerData | reverse">
			<div class="img" [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + getBeatmapCoverUrl(match.beatmap_id) + ')' }">
				<div class="column">
					<h2 class="hover" (click)="electronService.openLink(getBeatmapUrlFromId(match.beatmap_id))">{{ getBeatmapname(match.beatmap_id) }}</h2>

					<div class="align-right">
						<img *ngFor="let mod of getModsFromBit(match.mods)" [src]="'assets/osu-mods/' + mod + '.png'" />
					</div>

					<div class="modifier" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == true && selectedLobby.tournament.scoreInterfaceIdentifier == 'AxS'">
						<div class="alert alert-danger center" *ngIf="getModifier(match.beatmap_id) == null"><mat-icon>warning</mat-icon> There was no modifier set for this map. Have you selected a mappool yet?</div>
						<h6 *ngIf="getModifier(match.beatmap_id) != null">Beatmap modifier: {{ getModifier(match.beatmap_id) }}</h6>
					</div>

					<div class="modifier" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == false">
						<div class="alert alert-warning center"><mat-icon>warning</mat-icon> This map does not count towards the team score (could be a warmup map/invalid score)</div>
					</div>

					<div class="team-scores">
						<h4>{{ selectedLobby.teamOneName }}</h4>

						<div class="score-table">
							<div class="score" *ngFor="let slot of selectedLobby.teamOneSlotArray">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(match.getPlayer(slot).user) }}
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 0">
										<s>Score: {{ getScore(match, slot) }}</s>
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 1">
										Score: {{ getScore(match, slot) }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getMods(match, slot)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 0">
										{{ getAccuracy(match, slot) }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 1">
										{{ getAccuracy(match, slot) }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_one_score, " ") }}
								</div>
							</div>
						</div>

						<hr />

						<h4>{{ selectedLobby.teamTwoName }}</h4>

						<div class="score-table">
							<div class="score" *ngFor="let slot of selectedLobby.teamTwoSlotArray">
								<div class="column">
									<div class="user">
										{{ getUsernameFromUserId(match.getPlayer(slot).user) }}
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 0">
										<s>Score: {{ getScore(match, slot) }}</s>
									</div>

									<div class="extra-spacing" *ngIf="match.getPlayer(slot).passed == 1">
										Score: {{ getScore(match, slot) }}
									</div>
								</div>

								<div class="column">
									<div class="extra-spacing mods">
										<img *ngFor="let mod of getMods(match, slot)" [src]="'assets/osu-mods/' + mod + '.png'" />
									</div>

									<s class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 0">
										{{ getAccuracy(match, slot) }}%
									</s>

									<div class="extra-spacing align-right" *ngIf="match.getPlayer(slot).passed == 1">
										{{ getAccuracy(match, slot) }}%
									</div>
								</div>
							</div>

							<div class="score">
								<div class="column">
									<b>Total score</b>
								</div>

								<div class="column">
									{{ addDot(match.team_two_score, " ") }}
								</div>
							</div>
						</div>

						<hr />

						<div *ngIf="match.team_one_score > match.team_two_score">
							<h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> | Score difference: {{ addDot(match.team_one_score - match.team_two_score, " ") }}
						</div>

						<div *ngIf="match.team_two_score > match.team_one_score">
							<h3><span class="blue-text">{{ selectedLobby.teamTwoName }}</span> has won.</h3><span class="red-text">{{ selectedLobby.teamOneName }}</span> score : {{ addDot(match.team_one_score, " ")}} | {{ addDot(match.team_two_score, " ") }} : score <span class="blue-text">{{ selectedLobby.teamTwoName }}</span> {{ addDot(match.team_two_score, " ") }} | Score difference: {{ addDot(match.team_two_score - match.team_one_score, " ") }}
						</div>
					</div>
				</div>

				<div class="column buttons">
					<button mat-mini-fab color="accent" matTooltip="Mark as invalid" (click)="markAsInvalid(match)" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == true"><mat-icon>thumb_up</mat-icon></button>
					<button mat-mini-fab color="warn" matTooltip="Mark as valid" (click)="markAsInvalid(match)" *ngIf="selectedLobby.gamesCountTowardsScore[match.game_id] == false"><mat-icon>thumb_down</mat-icon></button>

					<button mat-mini-fab color="primary" matTooltip="Send beatmap result to multiplayer lobby" (click)="sendBeatmapResult(match)" *ngIf="selectedLobby.ircConnected" [disabled]="!ircService.isAuthenticated"><mat-icon>send</mat-icon></button>
					<button mat-mini-fab color="primary" matTooltip="Copy beatmap result" (click)="copyBeatmapResult(match)" *ngIf="!selectedLobby.ircConnected"><mat-icon>content_copy</mat-icon></button>
				</div>
			</div>
		</div>
	</div>
</div>
