<div class="mod-bracket shadow">
    <h3 *ngIf="bracketName">{{ bracketName }}</h3>
    <h3 *ngIf="!bracketName">Unnamed bracket</h3>
    <p>Enter the name of the bracket to get started.</p>
    <input type="text" class="form-control" [(ngModel)]="bracketName" />

    <hr />

    <h3>Mods</h3>
    <p>
        Select the mods you want to add to this bracket when selecting a map.
        <b>Note:</b> If you leave the mods empty, it will be considered as Nomod.
    </p>

    <div class="mods">
        <div class="mod mr-2 mb-2">
            <select class="form-control" >
                <option></option>
                <option *ngFor="let avMod of availableMods">{{ avMod }}</option>
            </select>
        </div>

        <div class="mod mr-2 mb-2">
            <select class="form-control">
                <option></option>
                <option *ngFor="let avMod of availableMods">{{ avMod }}</option>
            </select>
        </div>

        <div class="mod mr-2 mb-2">
            <select class="form-control">
                <option></option>
                <option *ngFor="let avMod of availableMods">{{ avMod }}</option>
            </select>
        </div>
    </div>

    <hr />

    <h3>Beatmaps</h3>
    <p>Here you can select all the beatmaps you'd like to add to this specific bracket. Make sure to validate them so you know you're adding the correct beatmap!</p>

    <button class="btn btn-primary mb-2">Add new beatmap</button>
    <div class="beatmaps">
        <div class="beatmap">
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Beatmap id" />
                </div>

                <div class="col-6">
                    <a [routerLink]="" (click)="electronService.openLink('https://osu.ppy.sh/beatmapsets/461966#osu/1024483')">Mami Kawada - Contrail ~Kiseki~ (Epsilon Remix) [Taeyang's Miracle]</a>
                </div>

                <div class="col">
                    <button class="btn btn-primary"><fa-icon [icon]="['fas', 'sync']"></fa-icon></button>
                    <button class="btn btn-danger"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>