<div class="scroll">
	<app-mappool [mappool]="mappool" [validationForm]="validationForm"></app-mappool>

	<div *ngIf="mappool && mappool.modBrackets.length <= 0">
		<div class="alert alert-warning">
			<b>Note:</b> You haven't created any mod brackets. Make sure to create a mod bracket in order for maps to show up.
		</div>
		<hr />
	</div>

	<h3>Updating the mappool</h3>
	<p>Now that you have updated the mappool, you have to save it so it can be used in the tournament. Press the update button to finalize the mappool</p>

	<button mat-raised-button color="primary" (click)="updateMappool(mappool)">Update</button>
</div>
