<div class="container-fluid">
	<div class="row">
		<div class="col">
			<button mat-raised-button color="accent" (click)="createNewMappool()"><mat-icon>add</mat-icon> create new mappool</button>&nbsp;
			<button mat-raised-button color="accent" (click)="importWyBinMappool()" *ngIf="tournament.hasWyBinConnected()">
				<mat-icon>add</mat-icon> <mat-icon class="sync" [ngClass]="{'rotate': importingFromWyBin == true}">sync</mat-icon> import mappool from wyBin
			</button>

			<div class="wybin-mappools">
				<div class="wybin-mappool" *ngFor="let mappool of wyBinMappools" (click)="importMappool(mappool)">
					Import {{ mappool.name }}
				</div>
			</div>

			<div class="mappool-spacing" *ngIf="tournament.mappools.length > 0"></div>

			<app-alert alertType="warn" *ngIf="tournament.mappools.length == 0">
				There are no mappools yet.
			</app-alert>

			<div class="mappools">
				<div class="mappool" *ngFor="let mappool of tournament.mappools">
					<div class="header" (click)="collapseMappool(mappool, $event)">
						<div class="name">
							<h3>{{ mappool.name }}</h3>
						</div>

						<div class="actions">
							<button mat-mini-fab color="warn" (click)="deleteMappool(mappool)"><mat-icon>delete</mat-icon></button>
						</div>
					</div>

					<div class="body" [ngClass]="{ 'hide': mappool.collapsed }">
						<app-mappool [tournament]="tournament" [mappool]="mappool" [validationForm]="validationForm"></app-mappool>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
