<div class="matchHeader">
    <h2>{{ selectedLobby.description }}</h2>
    Multiplayer link: <a [routerLink]="" (click)="electronService.openLink(selectedLobby.multiplayerLink)">{{ selectedLobby.multiplayerLink }}</a><br />

    <span id="scoreString"><span class="red-text">Team {{ selectedLobby.teamOneName }}</span> score : <span [ngClass]="{'teamWin': selectedLobby.teamOneScore > selectedLobby.teamTwoScore, 'teamLoss': selectedLobby.teamTwoScore > selectedLobby.teamOneScore}">{{ selectedLobby.teamOneScore }}</span> | <span [ngClass]="{'teamWin': selectedLobby.teamTwoScore > selectedLobby.teamOneScore, 'teamLoss': selectedLobby.teamOneScore > selectedLobby.teamTwoScore}">{{ selectedLobby.teamTwoScore }}</span> : score <span class="blue-text">Team {{ selectedLobby.teamTwoName }}</span></span>

    <div class="btn-group float-right">
        <button type="button" class="btn btn-info" title="Copy match score"><fa-icon icon="copy"></fa-icon></button>
        <button type="button" class="btn btn-info" title="Score count settings"><fa-icon [icon]="['fas', 'cogs']"></fa-icon></button>
        <button type="button" (click)="synchronizeMp()" class="btn btn-success" title="Synchronize multiplayer data"><fa-icon [icon]="['fas', 'sync']"></fa-icon></button>
    </div>

    <hr />
</div>

<div class="allMaps">
    <div *ngFor="let match of selectedLobby.multiplayerData" class="multiMatch">
        <div class="mapPicture" [ngStyle]="{ 'background-image': getThumbUrl(match.beatmap_id) }"></div>

        <div class="mapContent">
            <div class="mapTitle">
                <h4>{{ getBeatmapname(match.beatmap_id) }}</h4>
            </div>

            <div class="mapModifier">
                <div class="alert alert-danger"><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon> There was no modifier set for this map. <a [routerLink]="['/modifiers']">Make sure to set a modifier so you get the accurate score.</a></div>
                <h6>Beatmap modifier: modifier{{ MODIFIER }}</h6>
            </div>

            <hr />

            <div class="mapScore">
                <h5>Team {{ selectedLobby.teamOneName }}</h5>
                <table>
                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(0).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 0) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 0) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Accuracy player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(1).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 1) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 1) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(2).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 2) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 2) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>
                </table>
                
                <hr />

                <h5>Team {{ selectedLobby.teamTwoName }}</h5>
                <table>
                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(3).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 3) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 3) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Accuracy player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(4).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 4) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 4) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>

                    <tr>
                        <td><b>{{ getUsernameFromUserId(match.getPlayer(5).user) }}</b></td>
                        <td>&emsp;</td>
                        <td>{{ getScore(match, 5) }}</td>
                        <td>&emsp;</td>
                        <td>({{ getAccuracy(match, 5) }}%)</td>
                        <td>&emsp;</td>
                        <td>(Score player)</td>
                    </tr>
                </table>

                <hr />

                <div class=red-text>Team {{ selectedLobby.teamOneName }} score: {{ addDot(match.team_one_score, " ") }}</div>
                <div class=blue-text>Team {{ selectedLobby.teamTwoName }} score: {{ addDot(match.team_two_score, " ") }}</div>

                <br />

                <h3><span class=red-text>Team {{ selectedLobby.teamOneName }}</span> has won.</h3><span class=red-text>Team {{ selectedLobby.teamOneName }}</span> score: {{ addDot(match.team_one_score, " ")}} | <span class=blue-text>Team {{ selectedLobby.teamTwoName }}</span> score: {{ addDot(match.team_two_score, " ") }} | Score difference: {{ addDot(match.team_one_score - match.team_two_score, " ") }}
            </div>
        </div>

        <div class=mapButtons>
            <button type=button class="btn btn-primary">Copy result</button>
        </div>
    </div>
    
</div>