<div class="mappool" (click)="editMappool(mappool, $event)">
	<div class="row" *ngIf="mappool.updateAvailable">
		<div class="col">
			<div class="alert alert-info">
				Looks like this mappool isn't up to date. Click on the update button to get the latest version.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-9">
			<h1>{{ mappool.name }}</h1>
			<span><b>Mappool id:</b> {{ mappool.id }}</span>
		</div>

		<div class="col-3">
			<div class="btn-group float-right">
				<button class="btn btn-success" (click)="updateMappool(mappool)" *ngIf="mappool.updateAvailable">Update</button>
				<button class="btn btn-primary" (click)="openDialog(mappool, 0)" *ngIf="canPublish() && publish != true">Publish</button>
				<button class="btn btn-danger" (click)="openDialog(mappool, 1)">Delete</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="alert alert-info" *ngIf="mappool.mappoolType == 2">
				This is a mystery tournament. Maps will not show up and will be randomly send when a modbracket has been picked.
			</div>
		</div>
	</div>

	<hr />

	<h3>Mod brackets</h3>
	<div class="modbrackets">
		<div class="bracket" *ngFor="let bracket of mappool.modBrackets">
			<div><h4>{{ bracket.bracketName }}</h4></div>
			<div>{{ bracket.beatmaps.length }} map<span *ngIf="bracket.beatmaps.length != 1">s</span></div>
			<div><h5>Mods</h5></div>
			<div class="mods">
				<div class="mod" *ngFor="let mod of bracket.getFullMods()">
					{{ mod }}
				</div>
			</div>
		</div>
	</div>
</div>

<div [id]="'dialog' + mappoolToModify.id" class="modal fade" tabindex="-1" role="dialog" *ngIf="mappoolToModify">
	<div class="modal-dialog shadow" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" *ngIf="dialogAction == 0">Publishing mappool</h3>
				<h3 class="modal-title" *ngIf="dialogAction == 1">Deleting mappool</h3>
			</div>

			<div class="modal-body">
				<p [innerHTML]="dialogMessage"></p>

				<button class="btn btn-primary" style="width: 100%;" (click)="publishMappool(mappoolToModify)" *ngIf="dialogAction == 0">Publish mappool</button>
				<button class="btn btn-danger" style="width: 100%;" (click)="deleteMappool(mappoolToModify)" *ngIf="dialogAction == 1">Delete mappool</button>
			</div>
		</div>
	</div>
</div>
