@import "variables";

.all-webhooks {
	display: grid;

	grid-template-columns: 1fr 1fr;

	column-gap: 8px;
	row-gap: 8px;

	margin-top: 8px;
	margin-bottom: 8px;

	.webhook {
		border: 1px solid darken(#3c4452, 15%);

		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

		padding: 8px;

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		h3 {
			margin-bottom: 0;
		}

		.all-options {
			.option {
				display: flex;
				justify-content: space-between;
				align-items: center;

				background-color: $background-color;

				padding: 4px;

				&:nth-child(odd) {
					background-color: lighten($background-color, 5%);
				}
			}
		}
	}
}
