<div *ngIf="tournament">
	<div class="row">
		<div class="col">
			<h3>Tournament name</h3>
			<input type="text" class="form-control" placeholder="Tournament name" [(ngModel)]="tournament.tournamentName" />
		</div>

		<div class="col">
			<h3>Tournament acronym</h3>
			<input type="text" class="form-control" placeholder="Tournament acronym" [(ngModel)]="tournament.acronym" />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h3>Score system</h3>
			<p>
				Select the score system that is being used for the multiplayer game.
			</p>

			<select class="form-control" (change)="changeScoreInterface($event)" [(ngModel)]="this.tournament.tournamentScoreInterfaceIdentifier">
				<option></option>
				<option *ngFor="let scoreInterface of this.calculateScoreInterfaces.getAllScoreInterfaces()" [value]="scoreInterface.getIdentifier()">{{ scoreInterface.getIdentifier() }}</option>
			</select>

			<br />

			<div class="alert alert-primary" *ngIf="this.tournament.scoreInterface">
				{{ this.tournament.scoreInterface.getDescription() }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="form-group" *ngIf="this.tournament.scoreInterface && this.tournament.scoreInterface.getTeamSize() == null">
				<h2>Team size</h2>
				<p>
					Enter the amount of players that are allowed to play in a team.
				</p>

				<input type="text" class="form-control" placeholder="Team size" [(ngModel)]="tournament.teamSize" />
			</div>
		</div>
	</div>

	<hr />

	<h3>Teams</h3>
	<p>Add a team to the tournament.</p>

	<button class="btn btn-primary" (click)="addTeam()">Create new team</button>

	<hr />

	<div class="team" *ngFor="let team of tournament.getTeams()">
		<div class="header">
			<div class="row">
				<div class="col">
					<h3 *ngIf="team.teamName">{{ team.teamName }}</h3>
					<h3 *ngIf="!team.teamName">Unnamed team</h3>
				</div>

				<div class="col button-spacing">
					<button class="btn btn-outline-primary float-right" (click)="collapseBracket(team)">Collapse</button>
					<button class="btn btn-outline-danger float-right" (click)="openDialog(team)">Remove team</button>
				</div>
			</div>
		</div>

		<div [ngClass]="{'hide': team.collapsed}" class="body">
			<h3>Create a new team</h3>
			<p>Enter the name for the team</p>
			<div class="team-name">
				<input type="text" class="form-control mb-2" [(ngModel)]="team.teamName" placeholder="Team name" />
			</div>

			<h3>Manage players</h3>
			<p>Add or remove players from the given team</p>

			<button class="btn btn-primary" (click)="addNewPlayer(team)">Add new player</button>

			<div class="team-players">
				<div class="player" *ngFor="let player of team.getPlayers()">
					<div class="player-name">
						<input type="text" class="form-control mb-2" [(ngModel)]="player.username" placeholder="Player name" />
					</div>

					<div class="manage-buttons">
						<button class="btn btn-danger" (click)="removePlayer(team, player)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="dialog" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog shadow" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Remove a team from the tournament</h3>
			</div>

			<div class="modal-body">
				<p [innerHTML]="dialogMessage"></p>

				<button class="btn btn-primary" style="width: 100%;" (click)="deleteTeam(teamToRemove)">Remove team</button>
			</div>
		</div>
	</div>
</div>
